{% spaceless %}

{% set TABLE_CONTENT = constant('ODR\\AdminBundle\\Entity\\ThemeDataType::DATATABLES_CONTENT') %}

{% set datatype = datatype_array[target_datatype_id] %}

<div id="DataType_{{ datatype.id }}" class="ODRDataType pure-u-1">

{% if plugin_options.hide_datafields == "false" %}
    <div class="ODRGraphSpacer pure-u-1">
        {% include "ODRAdminBundle:Default:fieldarea_header.html.twig" with {
            'context' : 'display',

            'datatype': datatype,
            'parent_datarecord': parent_datarecord,
            'datarecord_list': datarecord_array,

            'datatype_permissions': datatype_permissions,

            'is_top_level': is_top_level,
            'is_link': is_link,
            'display_type': display_type,
            'multiple_allowed': multiple_allowed,
        } %}

        {% if display_type != TABLE_CONTENT %}
            {% for dr_id, datarecord in datarecord_array %}

                {% include 'ODRAdminBundle:Display:accordion_header.html.twig' with {
                    'datarecord': datarecord,
                    'datatype': datatype,
                    'is_top_level': is_top_level,
                    'display_type': display_type
                } %}

                <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datarecord.id }}">
                    {% include "ODRAdminBundle:Display:display_fieldarea.html.twig" with {
                        'datatype_array': datatype_array,
                        'datarecord': datarecord,
                        'theme_array': theme_array,

                        'target_datatype_id': target_datatype_id,
                        'parent_datarecord': parent_datarecord,
                        'target_datarecord_id': datarecord.id,
                        'target_theme_id': target_theme_id,

                        'datatype_permissions': datatype_permissions,
                        'datafield_permissions': datafield_permissions,

                        'record_display_view': record_display_view,
                        'is_top_level': is_top_level,
                        'is_link': is_link,
                        'display_type': display_type,
                        'multiple_allowed': multiple_allowed,
                    } %}
                </div><!-- End of #FieldArea_{{ datarecord.id }} -->
            {% endfor %}
        {% else %}
            {# Need this for below #}
            {% for dr_id, datarecord in datarecord_array %}
                {% set graph_datarecord_id = datarecord.id %}
            {% endfor %}

            {% include 'ODRAdminBundle:Display:display_setup_table_layout.html.twig' with {
                'datatype_array': datatype_array,
                'datarecord_array': datarecord_array,
                'theme_array': theme_array,

                'parent_datarecord': parent_datarecord,
                'target_datatype_id': target_datatype_id,
                'target_theme_id': target_theme_id,

                'datatype_permissions': datatype_permissions,
                'datafield_permissions': datafield_permissions,

                'is_top_level': is_top_level,
                'is_link': is_link,
                'display_type': display_type,
                'multiple_allowed': multiple_allowed,
            } %}
        {% endif %}

        {% include "ODRAdminBundle:Default:fieldarea_footer.html.twig" with {
            'display_type': display_type,
            'is_top_level': is_top_level,
        } %}
    </div>
{% endif %}

    <div class="ODRGraphSpacer pure-u-1">

        {% if is_top_level == 1 %}
            <div class="ODRFormAccordion">
                <div class="ODRFieldArea">
                    <div class="ODRThemeElement">
                        <div class="ODRInnerBox">
        {% endif %}

        {% include "ODROpenRepositoryGraphBundle:Base:Map/map.html.twig" with {
            'plugin_options': plugin_options,

            'gps_locations': gps_locations,
            'unique_id': unique_id,
        } %}

        {% if is_top_level == 1 %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

</div><!-- end of #DataType_{{ datatype.id }} -->

{% endspaceless %}
