{% spaceless %}

{% set prefix = initial_datatype_id %}

<div class="ODRFormWrap ODRDesign pure-u-1">
    {% include 'ODRAdminBundle:CSVExport:csvexport_childtype.html.twig' with {
        'datatype_array': datatype_array,
        'theme_array': theme_array,
        'site_baseurl': site_baseurl,

        'target_datatype_id': initial_datatype_id,
        'target_theme_id': initial_theme_id,

        'is_top_level': 1,
        'multiple_allowed': 0,
        'is_link': 0,

        'prefix': prefix,

        'csvexport_shows_all_fields': csvexport_shows_all_fields,
    } %}
</div><!-- End of .ODRFormWrap -->
{% endspaceless %}
