{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = datatype.themes[theme_id] %}

{#{% for data in datatype_tree.theme_elements %}#}
{% for theme_element in theme.themeElements %}

    <div id="ThemeElement_{{ theme_element.id }}" class="ODRThemeElement pure-u-1 pure-u-md-{{ theme_element.themeElementMeta.cssWidthMed }} pure-u-xl-{{ theme_element.themeElementMeta.cssWidthXL }}">
        <div class="ODRInnerBox">

        {% if theme_element.themeDataFields is defined %}
            {% for theme_datafield in theme_element.themeDataFields %}
                {% set datafield = theme_datafield.dataField %}

                {% include 'ODRAdminBundle:CSVExport:csvexport_datafield.html.twig' with {
                    'theme_datafield': theme_datafield,
                    'datafield': datafield,
                } %}

            {% endfor %}
        {% elseif theme_element.themeDataType is defined %}
            {# do not render child/linked datatype for CSVExport #}
        {% endif %}

        </div><!-- End of .ODRInnerBox -->
    </div><!-- End of #ThemeElement_{{ theme_element.id }} -->

{% endfor %}

{% endspaceless %}
