{% spaceless %}
<div id="ODRMetadataGuidance_Person_1" class="ODRHidden">
    Could provide detailed instructions here...but this datatype is small enough that it shouldn't be needed, right?
</div>

<script>
    $(function() {
        // Ensure the steps are only added once
        if ( ODRMetadataGuidance_steps.indexOf("ODRMetadataGuidance_Person_1") === -1 )
            ODRMetadataGuidance_steps.push("ODRMetadataGuidance_Person_1");
    });
</script>
{% endspaceless %}
