{% spaceless %}

<!-- Add Datatype Dialog -->
<div class="pure-form pure-g" style="display: none;" id="dialog_add_datatype" title="Add Datatype Dialog">
    <div class="form_contents pure-u-1">
        {% include 'ODRAdminBundle:Datatype:add_type_dialog_form.html.twig' with {'form': form} %}
    </div>
</div>
<!--  End of Add DataType Dialog -->

<script>
    $(function() {
        AddDatatypeFormInit();
    });

    function AddDatatypeFormInit() {
        // Initialize the form
        $("#AddDatatypeForm").validate({
            submitHandler: function(form){
                var data = $(form).serialize();
                var url = $(form).attr('action');

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: data,
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        if(data.r == 0) {
                            window.location.reload(true);
                        }
                        else {
                            // An error has occurred.
                            // Show Error message dialog
                            alert(data.d);
                        }

                        $("#dialog_add_datatype").dialog('close');
                    },
                    complete: function(jqXHR, textStatus) {
                        // Get the xdebugToken from response headers
                        var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                        // If the Sfjs object exists
                        if (typeof Sfjs !== "undefined") {
                            // Grab the toolbar element
                            var currentElement = $('.sf-toolbar')[0];

                            // Load the data of the given xdebug token into the current toolbar wrapper
                            Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                        }
                    }
                });
            },
            invalidHandler: function(){
                // Custom invalid message here if needed
            }
        });
    }

</script>

{% endspaceless %}
