{% spaceless %}

    <ul id="wizardStatus">
        <li class="completed">Step 1. <span class="wizardStatusText">Choose a template.</span></li>
        <li class="current">Step 2. <span class="wizardStatusText">Database information.</span></li>
        <li class="">Step 3. <span class="wizardStatusText">Add or change fields.</span></li>
        <li>Step 4. <span class="wizardStatusText">Setup search templates.</span></li>
        <!-- <li>Step 4. <span class="wizardStatusText">Book/Order repair</span></li> -->
    </ul>

    <div class="ODRContentWrapper pure-u-1">
        <div class="ODRThemeElement pure-u-1">
            <div class="ODRInnerBox pure-u-1">
                <h3 class="ODRHeader"><i class="fa fa-md fa-info-circle fa-fw"></i> Enter Database Information</h3>
                {% if creating_master_template == 1 %} {# Master Template Creation #}
                    <div class="ODRBodyContent">
                        <p>Please choose a name for your database template and
                            enter a description so users can identify the purpose of the template.</p>
                    </div>
                {% elseif master_type_id == 0 %} {# Custom Database #}
                    <div class="ODRBodyContent">
                        <p>Please choose a name for your database and enter the relevant info to ensure proper attribution of your database.</p>
                        <p>After completing the information below, you will be forwarded to the database management
                        system to design your database by adding fields and display preferences.</p>
                    </div>
                {% else %} {# Database from template #}
                    <div class="ODRBodyContent">
                        <p>Please choose a name for your database and enter the relevant info to ensure proper attribution of your database.</p>
                        {% for datatype in master_templates %}
                            {% if datatype.id == master_type_id %}
                                <p>You have chosen the
                                    {{ datatype.dataTypeMeta[0].shortName }}
                                    template for your database.  After submitting the information below
                                    your database will be created according to the requirements of the
                                    database template.
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Add Datatype Dialog -->
    <div class="ODRContentWrapper pure-u-1">
        <div class="ODRThemeElement pure-u-1">
            <h3 class="ODRHeader"><i class="fa fa-md fa-info-circle fa-fw"></i> Name and Description</h3>
            <div class="ODRInnerBox pure-u-1">
                {% include 'ODRAdminBundle:Datatype:create_datatype_info_form.html.twig' with {'form': form} %}
            </div>
        </div>
    </div>
    <!--  End of Add DataType Dialog -->

    <script>
        $(function() {
            $('#AddDatatypeForm_submit').click(function() {
                if (!$("#AddDatatypeForm_submit").hasClass('pure-button-disabled')) {
                    $('#AddDatatypeForm_submit').addClass('pure-button-disabled');
                    $("#AddDatatypeForm").submit();
                }
            });

            AddDatatypeFormInit();
        });

        function AddDatatypeFormInit() {
            // Initialize the form
            $("#AddDatatypeForm").validate({
                submitHandler: function(form){
                    var data = $(form).serialize();
                    var url = $(form).attr('action');

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: data,
                        dataType: "json",
                        success: function(data, textStatus, jqXHR) {
                            // Open the new datatype's design page
                            window.location.hash = data.d.redirect_url;
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            // Re-enable the submit button
                            $('#AddDatatypeForm_submit').removeClass('pure-button-disabled');
                        },
                        complete: function(jqXHR, textStatus) {
                            // Get the xdebugToken from response headers
                            var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                            // If the Sfjs object exists
                            if (typeof Sfjs !== "undefined") {
                                // Grab the toolbar element
                                var currentElement = $('.sf-toolbar')[0];

                                // Load the data of the given xdebug token into the current toolbar wrapper
                                Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                            }
                        }
                    });
                },
                invalidHandler: function(){
                    // Custom invalid message here if needed
                }
            });
        }

    </script>

{% endspaceless %}
