{% spaceless %}

    {% include 'ODRAdminBundle:Displaytemplate:wizard.html.twig' with {
        'wizard_step': 2,
        'datatype_id': 0,
        'edit_properties': false,
        'create_master': create_master,
        'master_templates': master_templates,
        'master_type_id': 0,
    } %}

    <!-- Add Datatype Dialog -->
    <div class="ODRContentWrapper pure-u-1">
        <div class="ODRThemeElement pure-u-1">
            <div class="ODRInnerBox pure-u-1">
                <h3 class="ODRHeader"><i class="fa fa-md fa-info-circle fa-fw"></i> Name and Description</h3>
                {% include 'ODRAdminBundle:Datatype:create_datatype_info_form.html.twig' with {'form': form} %}
            </div>
        </div>
    </div>
    <!--  End of Add DataType Dialog -->

    <script>
        $(function() {
            $("#AddDatatypeForm .required").each(function() {
                $(this).unbind('keyup').unbind('paste');
                $(this).on('keyup paste', function() {
                    if ( $("#AddDatatypeForm_submit").hasClass('pure-button-disabled') )
                        $('#AddDatatypeForm_submit').removeClass('pure-button-disabled');
                });
            });


            $('#AddDatatypeForm_submit').click(function() {
                if (!$("#AddDatatypeForm_submit").hasClass('pure-button-disabled')) {
                    $('#AddDatatypeForm_submit').addClass('pure-button-disabled');
                    $("#AddDatatypeForm").submit();
                }
            });

            AddDatatypeFormInit();
        });

        function AddDatatypeFormInit() {
            // Initialize the form
            $("#AddDatatypeForm").validate({
                submitHandler: function(form){
                    var data = $(form).serialize();
                    var url = $(form).attr('action');

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: data,
                        dataType: "json",
                        success: function(data, textStatus, jqXHR) {
                            // Open the new datatype's design page
                            window.location.href = data.d.redirect_url;
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            // Re-enable the submit button
                            $('#AddDatatypeForm_submit').removeClass('pure-button-disabled');
                        },
                        complete: function(jqXHR, textStatus) {
                            // Get the xdebugToken from response headers
                            var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                            // If the Sfjs object exists
                            if (typeof Sfjs !== "undefined") {
                                // Grab the toolbar element
                                var currentElement = $('.sf-toolbar')[0];

                                // Load the data of the given xdebug token into the current toolbar wrapper
                                Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                            }
                        }
                    });
                },
                invalidHandler: function(){
                    // Custom invalid message here if needed
                }
            });
        }

    </script>

{% endspaceless %}
