{% spaceless %}
    {% set datatype = data['datatype'] %}
    {% set datatype_id = datatype.id %}

    {% set can_view_type = false %}
    {% set can_edit_record = false %}
    {% set can_add_record = false %}
    {% set can_delete_record = false %}
    {% set can_design_type = false %}
    {% set is_type_admin = false %}

    {% if user_permissions[ datatype.id ] is defined and user_permissions[ datatype.id ]['view'] is defined and user_permissions[ datatype.id ]['view'] == 1 %}
        {% set can_view_type = true %}
    {% endif %}
    {% if user_permissions[ datatype.id ] is defined and user_permissions[ datatype.id ]['edit'] is defined and user_permissions[ datatype.id ]['edit'] == 1 %}
        {% set can_edit_record = true %}
    {% endif %}
    {% if user_permissions[ datatype.id ] is defined and user_permissions[ datatype.id ]['add'] is defined and user_permissions[ datatype.id ]['add'] == 1 %}
        {% set can_add_record = true %}
    {% endif %}
    {% if user_permissions[ datatype.id ] is defined and user_permissions[ datatype.id ]['delete'] is defined and user_permissions[ datatype.id ]['delete'] == 1 %}
        {% set can_delete_record = true %}
    {% endif %}
    {% if user_permissions[ datatype.id ] is defined and user_permissions[ datatype.id ]['design'] is defined and user_permissions[ datatype.id ]['design'] == 1 %}
        {% set can_design_type = true %}
    {% endif %}
    {% if user_permissions[ datatype.id ] is defined and user_permissions[ datatype.id ]['admin'] is defined and user_permissions[ datatype.id ]['admin'] == 1 %}
        {% set is_type_admin = true %}
    {% endif %}

    <tr>
        <td>
            {% if indent > 0 %}
                {% if indent > 1 %}
                    {% for i in 2..indent %}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    {% endfor %}
                {% endif %}
                |&nbsp;-&nbsp;
            {% endif %}
            {{ datatype.shortName }}
        </td>
        <td class="center">
            {% if can_view_type %}
                <i class="fa fa-check"></i>
            {% endif %}
        </td>
        <td class="center">
            {% if can_edit_record %}
                <i class="fa fa-check"></i>
            {% endif %}
        </td>
        <td class="center">
            {% if can_add_record %}
                <i class="fa fa-check"></i>
            {% endif %}
        </td>
        <td class="center">
            {% if can_delete_record %}
                <i class="fa fa-check"></i>
            {% endif %}
        </td>
        <td class="center">
            {% if can_design_type %}
                <i class="fa fa-check"></i>
            {% endif %}
        </td>
        <td class="center">
            {% if is_type_admin %}
                <i class="fa fa-check"></i>
            {% endif %}
        </td>
    </tr>

    {% for child_datatype_id, child_data in data['children'] %}
        {% include 'ODRAdminBundle:Datatype:datatype_permission.html.twig' with {'data': child_data, 'user_permissions': user_permissions, 'indent': indent+1} %}
    {% endfor %}

{% endspaceless %}
