{% spaceless %}
<div class="grid_12">
    <div class="box">
    
        <div class="header">
            <h2>Data Type List</h2>
        </div>
        
        <div class="content">

            {% if section == "design" %}
                {% include 'ODRAdminBundle:Datatype:type_list_content_design.html.twig' with {'user': user, 'permissions': permissions, 'datatypes': datatypes, 'metadata': metadata } %}
            {% elseif section == "records" %}
                {% include 'ODRAdminBundle:Datatype:type_list_content_records.html.twig' with {'user': user, 'permissions': permissions, 'datatypes': datatypes, 'metadata': metadata } %}
            {% endif %}
            
        </div><!-- End of .content -->
        
    </div><!-- End of .box -->
</div><!-- End of .grid_12 -->
{% endspaceless %}
