{% spaceless %}

<div class="grid_12">
    <div class="box">
    
        <div class="header">
        {% if section == "databases" %}
            <h2>Database Management</h2>
        {% elseif section == "templates" %}
            <h2>Template management</h2>
        {% endif %}
        </div>
        
        <div class="content">

            {% if section == "databases" %}
                {% include 'ODRAdminBundle:Datatype:type_list_content_databases.html.twig' with {'user': user, 'datatype_permissions': datatype_permissions, 'datatypes': datatypes, 'metadata': metadata } %}
            {% elseif section == "templates" %}
                {% include 'ODRAdminBundle:Datatype:type_list_content_templates.html.twig' with {'user': user, 'datatype_permissions': datatype_permissions, 'datatypes': datatypes, 'metadata': metadata } %}
            {% endif %}
            
        </div><!-- End of .content -->
        
    </div><!-- End of .box -->
</div><!-- End of .grid_12 -->

{% endspaceless %}
