{% spaceless %}

<div style="margin: 5px 10px;">
    {% if active_plugins['odr_plugins.base.file_renamer'] %}
    <div class="Pointer ODRFileUpdaterHelper_rename">
        <i class="fa fa-edit fa-lg"></i>&nbsp;<a>Rebuild the filenames of all Files/Images in this Record</a>
    </div>
    {% endif %}

    {% if active_plugins['odr_plugins.base.file_header_inserter'] %}
    <div class="Pointer ODRFileUpdaterHelper_header_inserter">
        <i class="fa fa-indent fa-lg"></i>&nbsp;<a>Rebuild the headers of all Files in this Record</a>
    </div>
    {% endif %}

    {% if active_plugins['odr_plugins.rruff.file_header_inserter'] %}
    <div class="Pointer ODRFileUpdaterHelper_rruff_header_inserter">
        <i class="fa fa-indent fa-lg"></i>&nbsp;<a>Rebuild the headers of all RRUFF Files in this Record</a>
    </div>
    {% endif %}
</div>

<script>
    $(function() {
{% if active_plugins['odr_plugins.base.file_renamer'] %}
        $('.ODRFileUpdaterHelper_rename').unbind('click').click(function() {
            var url = '{{ file_renamer_url }}';

            showSearchOverlay();

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    if ( data.d.changes_made ) {
                        // Not going to try to splice new filenames onto the page
                        window.location.reload();
                    }
                    else {
                        alert('No filenames needed updating');
                        hideSearchOverlay();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });
{% endif %}

{% if active_plugins['odr_plugins.base.file_renamer'] %}
        $('.ODRFileUpdaterHelper_header_inserter').unbind('click').click(function() {
            var url = '{{ file_header_inserter_url }}';

            showSearchOverlay();

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    hideSearchOverlay();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });
{% endif %}

{% if active_plugins['odr_plugins.base.file_renamer'] %}
        $('.ODRFileUpdaterHelper_rruff_header_inserter').unbind('click').click(function() {
            var url = '{{ rruff_file_header_inserter_url }}';

            showSearchOverlay();

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    hideSearchOverlay();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });
{% endif %}
    });
</script>

{% endspaceless %}
