{% spaceless %}

<div class="ODRTableWrap">
    <div class="pure-u-1" style="font-weight: bold;">List of Datafields that will be searched:</div>

    {# primary datatype #}
    <div class="pure-u-1" style="font-weight: bold;">{{ target_datatype.getshortname }}</div>
    {% for datafield in searchable_datafields[ target_datatype.id ] %}
        {% if datafield.getsearchable == 1 or datafield.getsearchable == 2 %}
            <div class="pure-u-1-3">{{ datafield.getfieldname }}</div>
        {% endif %}
    {% endfor %}

    {# child datatypes #}
    {% for child_datatype_id, datafield_list in related_datatypes['child_datatypes'] %}
        {% if target_datatype.id != child_datatype_id and (searchable_datafields[child_datatype_id] is defined or logged_in == true) %}

            {% set has_datafields = false %}
            {% if searchable_datafields[child_datatype_id] is defined %}
                {% for datafield in searchable_datafields[child_datatype_id] %}
                    {% if datafield.getsearchable == 1 or datafield.getsearchable == 2 %}
                        {% set has_datafields = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if has_datafields %}
                <div class="pure-u-1" style="font-weight: bold;">{{ related_datatypes['datatype_names'][ child_datatype_id ] }}</div>

                {% if searchable_datafields[child_datatype_id] is defined %}
                    {% for datafield in searchable_datafields[child_datatype_id] %}
                        {% if datafield.getsearchable == 1 or datafield.getsearchable == 2 %}
                            <div class="pure-u-1-3">{{ datafield.getfieldname }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

        {% endif %}
    {% endfor %}
</div>

{% endspaceless %}
