{% spaceless %}

<div class="ODRSidebarLayout_dragTarget pure-u-1-1" rel="always_display">
    <div class="ODRSidebarLayout_dragTargetBlurb">
        Fields in this block will always be visible in the sidebar.
    </div>
{% if sidebar_array['always_display']|length > 0 %}
    {% for df_id,df in sidebar_array['always_display'] %}
        <div class="ODRSidebarLayout_sidebarDatafield" rel="{{ df_id }}">
            {% include 'ODROpenRepositorySearchBundle:Default:search_datafield.html.twig' with {
                'search_params': [],
                'datatype': datatype,
                'datafield': df,

                'design_page': true
            } %}
        </div>
    {% endfor %}
{% endif %}
</div>

<div class="ODRSidebarLayout_dragTarget pure-u-1-1" rel="extended_display">
    <div class="ODRSidebarLayout_dragTargetBlurb">
        Fields in this block will appear when "Open Expanded Search" is clicked.
    </div>
{% if sidebar_array['extended_display']|length > 0 %}
    {% for df_id,df in sidebar_array['extended_display'] %}
        <div class="ODRSidebarLayout_sidebarDatafield" rel="{{ df_id }}">
            {% include 'ODROpenRepositorySearchBundle:Default:search_datafield.html.twig' with {
                'search_params': [],
                'datatype': datatype,
                'datafield': df,

                'design_page': true
            } %}
        </div>
    {% endfor %}
{% endif %}
</div>

{% endspaceless %}
