{% spaceless %}

<div class="ODRTableWrap">
    <table class="pure-table pure-table-striped display">
    <thead>
        <tr>
            <th style="white-space: nowrap;">Search Term</th>
            <th>Definition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>item</td>
            <td>Searches for datafields containing the word "item".</td>
        </tr>
        <tr>
            <td>"item"</td>
            <td>Searches for datafields containing only the word "item" and nothing else.</td>
        </tr>
        <tr>
            <td>!item</td>
            <td>Searches for datafields that does not contain "item".</td>
        </tr>
        <tr>
            <td>!"item"</td>
            <td>Searches for datafields that contain anything other than just the word "item".</td>
        </tr>
        <tr>
            <td>""</td>
            <td>Searches for datafields that contain nothing. (empty)</td>
        </tr>
        <tr>
            <td>!""</td>
            <td>Searches for datafields that contain anything at all. (not empty)</td>
        </tr>
        <tr>
            <td>abc xyz</td>
            <td>Searches for datafields containing both "abc" and "xyz".</td>
        </tr>
        <tr>
            <td>"abc xyz"</td>
            <td>Searches for datafields containing the phrase "abc xyz".</td>
        </tr>
        <tr>
            <td>abc, xyz<br>abc OR xyz<br>abc || xyz</td>
            <td>Searches for datafields containing either "abc", or "xyz", or both.</td>
        </tr>
        <tr>
            <td>&gt;123</td>
            <td>Searches for datafields containing a number greater than 123.</td>
        </tr>
        <tr>
            <td>&gt;=123</td>
            <td>Searches for datafields containing a number greater than or equal to 123.</td>
        </tr>
        <tr>
            <td>&lt;123</td>
            <td>Searches for datafields containing a number less than 123.</td>
        </tr>
        <tr>
            <td>&lt;=123</td>
            <td>Searches for datafields containing a number less than or equal to 123.</td>
        </tr>
        <tr>
            <td>&gt;123 &lt;456</td>
            <td>Searches for datafields containing a number between 123 and 456.</td>
        </tr>
    </tbody>
    </table>
</div>

{% endspaceless %}
