{% spaceless %}

{% set GENERAL_SEARCH = constant('ODR\\AdminBundle\\Entity\\DataFields::GENERAL_SEARCH') %}
{% set ADVANCED_SEARCH = constant('ODR\\AdminBundle\\Entity\\DataFields::ADVANCED_SEARCH') %}

{% set datatype = datatype_array[target_datatype.id] %}

{% set can_search_target_datatype = false %}
{% for datafield in datatype['dataFields'] %}
    {% set searchable = datafield['dataFieldMeta']['searchable'] %}
    {% if searchable == GENERAL_SEARCH or searchable == ADVANCED_SEARCH %}
        {% set can_search_target_datatype = true %}
    {% endif %}
{% endfor %}

<div class="ODRTableWrap">
    <div class="pure-u-1 bold">List of Datafields that will be searched:</div>

    {# primary datatype #}
    {% if can_search_target_datatype %}
        <div class="pure-u-1 bold">{{ target_datatype.getshortname }}</div>

        {% for datafield in datatype['dataFields'] %}
            {% set searchable = datafield['dataFieldMeta']['searchable'] %}
            {% if searchable == GENERAL_SEARCH or searchable == ADVANCED_SEARCH %}
                <div class="pure-u-1">&nbsp;&nbsp;&nbsp;{{ datafield['dataFieldMeta']['fieldName'] }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {# child datatypes #}
    {% for child_datatype_id in datatype_relations['child_datatypes'] %}

        {% set child_datatype = datatype_array[child_datatype_id] %}

        {% set can_search_child_datatype = false %}
        {% for datafield in child_datatype['dataFields']  %}
            {% set searchable = datafield['dataFieldMeta']['searchable'] %}
            {% if searchable == GENERAL_SEARCH or searchable == ADVANCED_SEARCH %}
                {% set can_search_child_datatype = true %}
            {% endif %}
        {% endfor %}

        {% if can_search_child_datatype %}
            <div class="pure-u-1 bold">{{ child_datatype['dataTypeMeta']['shortName'] }}</div>

            {% for datafield in child_datatype['dataFields']  %}
                {% set searchable = datafield['dataFieldMeta']['searchable'] %}
                {% if searchable == GENERAL_SEARCH or searchable == ADVANCED_SEARCH %}
                    <div class="pure-u-1">&nbsp;&nbsp;&nbsp;{{ datafield['dataFieldMeta']['fieldName'] }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% endfor %}
</div>

{% endspaceless %}
