{% spaceless %}

{% set NOT_SEARCHABLE = constant('ODR\\AdminBundle\\Entity\\DataFields::NOT_SEARCHABLE') %}

<fieldset {% if field_list_name == 'extended_display' %}class="ODRSearchSidebar_extended ODRHidden"{% endif %}>
{% for df_id,df in sidebar_array[field_list_name] %}
    {% if df_id == 0 %}
        {# Insert the "general search" input #}
        <label for="textbox_general">
            All Fields:
            {% if datatype_array|length > 1 %}
                {% if search_params is defined and search_params['gen_all'] is defined %}
                <span id="textbox_general_blurb" title="Search in all possible fields, including descendant databases">
                    (include descendants)
                </span>
                {% else %}
                <span id="textbox_general_blurb" title="Search each field in the current database">
                    (current database)
                </span>
                {% endif %}
            {% endif %}

            <input id="textbox_general" class="pure-u-1" type="text"
                {% if search_params is defined and search_params['gen_all'] is defined %}name="gen_all"{% else %}name="gen"{% endif %}

                {% if search_string is defined and search_string != '' %}value="{{ search_string }}"{% endif %}
                {% if search_params is defined and search_params['gen'] is defined %}value="{{ search_params['gen'] }}"{% endif %}
                {% if search_params is defined and search_params['gen_all'] is defined %}value="{{ search_params['gen_all'] }}"{% endif %}
            />
        </label>
    {% else %}
        {# This is some other datafield... #}
        {% set dt_id = df['dataType']['id'] %}
        {% set dt = datatype_array[dt_id] %}

        {% if df['dataFieldMeta']['searchable'] != NOT_SEARCHABLE %}
        <div class="ODRAdvSearch_datafield pure-u-1">
            {% set content = '' %}
            {% set rpi_df_lookup_id = 'df_' ~ df_id %}
            {% if rpi_lookup[rpi_df_lookup_id] is defined %}
                {% set rpi = rpi_lookup[rpi_df_lookup_id] %}

                {% set preset_value = '' %}
                {% if search_params[df_id] is defined %}
                    {% set preset_value = search_params[df_id] %}
                {% endif %}

                {% set content = rpi|search_plugin(dt, df, preset_value, rendering_options) %}
            {% endif %}

            {% if content|length > 0 %}
                {# If a datatype plugin wanted to override this field, then execute that... #}
                {{ content|raw }}
            {% else %}
                {# ...otherwise, render the datafield as normal #}
                {% include 'ODROpenRepositorySearchBundle:Default:search_datafield.html.twig' with {
                    'search_params': search_params,
                    'datatype': dt,
                    'datafield': df
                } %}
            {% endif %}
        </div>
        {% endif %}
    {% endif %}
{% endfor %}
</fieldset>

{% endspaceless %}
