{% spaceless %}

<div class="ODRTagWrapper ODRTagWrapper_search">
    <ul class="ODRTagGroup">
        {% for tag_id, tag in stacked_tags %}
            {% include 'ODROpenRepositorySearchBundle:Default:tag.html.twig' with {
                'datafield': datafield,
                'tag': tag,

                'preset_value': preset_value,
                'fa_selected_class': fa_selected_class,
                'fa_alt_selected_class': fa_alt_selected_class,
            } %}
        {% endfor %}
    </ul>
</div>

{% endspaceless %}
