{% spaceless %}

    {% set datatype = datatype_array[initial_datatype_id] %}

    <h1 class="no-margin-top-phone">
        <span>Search Template Design &raquo; {{ datatype.dataTypeMeta.shortName }}</span>
    </h1>

    {%  if datatype.setup_step != "complete" %}
        <ul id="wizardStatus">
            <li class="completed">Step 1. <span class="wizardStatusText">Choose a template.</span></li>
            <li class="completed">Step 2. <span class="wizardStatusText">Database information.</span></li>
            <li class="completed">Step 3. <span class="wizardStatusText">Add or change fields.</span></li>
            <li class="current">Step 4. <span class="wizardStatusText">Setup search templates.</span></li>
            <!-- <li>Step 4. <span class="wizardStatusText">Book/Order repair</span></li> -->
        </ul>

        <div class="ODRContentWrapper pure-u-1">
            <div class="ODRThemeElement pure-u-1">
                <div class="ODRInnerBox pure-u-1">
                    <h3 class="ODRHeader"><i class="fa fa-md fa-info-circle fa-fw"></i> Configure search view..</h3>
                        <div class="ODRBodyContent">
                            <p>
                                Click a field to hide it from the search view.  To view hidden fields, toggle the "show fields" toggle below.
                            </p>
                        </div>
                </div>
            </div>
        </div>
    {% endif %}

    <input type="hidden" id="has_datarecords" value="{{ has_datarecords }}" />

    {% include 'ODRAdminBundle:Theme:theme_area.html.twig' with {
        'datatype_array': datatype_array,
        'initial_datatype_id': initial_datatype_id,
        'theme_id': theme_id,
        'is_datatype_admin': is_datatype_admin,
    } %}

{% endspaceless %}
