{% spaceless %}

<div class="ODRFormWrap ODRResults pure-u-1">

    {% include "ODRAdminBundle:Display:display_childtype.html.twig" with {
        'datatype_array': datatype_array,
        'datarecord_array': datarecord_array,
        'theme_id': theme_id,

        'target_datatype_id': initial_datatype_id,
        'parent_datarecord_id': initial_datarecord_id,

        'is_top_level': 1,
        'is_link': 0,
        'display_type': 0
    } %}

</div><!-- End of .ODRFormWrap -->

{% endspaceless %}