{% spaceless %}

{% set ACCORDION_HEADER = constant('ODR\\AdminBundle\\Entity\\ThemeDataType::ACCORDION_HEADER') %}

<div class="ODRFormWrap ODRResults pure-u-1">

    {% if is_top_level == 1 %}

        {% include "ODRAdminBundle:Display:display_childtype.html.twig" with {
            'datatype_array': datatype_array,
            'datarecord_array': datarecord_array,
            'theme_array': theme_array,

            'target_datatype_id': initial_datatype_id,
            'parent_datarecord': initial_datarecord,
            'target_theme_id': initial_theme_id,

            'is_top_level': is_top_level,
            'is_link': 0,
            'display_type': ACCORDION_HEADER,
            'multiple_allowed': 0,
        } %}

    {% else %}
        {# render a child datarecord as if it's a top-level datarecord #}
        {% set datarecord = datarecord_array[initial_datarecord_id] %}

        {% include "ODRAdminBundle:Display:display_childtype.html.twig" with {
            'datatype_array': datatype_array,
            'datarecord_array': datarecord_array,
            'theme_array': theme_array,

            'target_datatype_id': initial_datatype_id,
            'parent_datarecord': datarecord.parent,
            'target_theme_id': initial_theme_id,

            'is_top_level': is_top_level,
            'is_link': 0,
            'display_type': ACCORDION_HEADER,
            'multiple_allowed': 0,
        } %}

    {% endif %}

</div><!-- End of .ODRFormWrap -->

{% endspaceless %}