
<div class="ODRFormWrap ODRResults pure-u-1">
    {#
    {% import "ODRAdminBundle:Display:results_childtype.html.twig" as mychildform %}
    {{ mychildform.input(parent_data_record_id, data_record_id, data_record_array, linked_data_array, theme_data_by_type) }}
    #}
    {%  include "ODRAdminBundle:Display:results_childtype.html.twig"  with { 'parent_data_record_id': parent_data_record_id, 'data_record_id': data_record_id, 'data_record_array': data_record_array, 'linked_data_array': linked_data_array, 'theme_data_by_type': theme_data_by_type} %}
</div><!-- End of .ODRFormWrap -->

<script type="text/javascript">
    $(function() {
//        initForms();
    });
</script>
