{% spaceless %}

{% set display_unselected = false %}
{% if datafield.dataFieldMeta.radio_option_display_unselected == 1 %}
    {% set display_unselected = true %}
{% endif %}

{% set tag_selections = [] %}
{% if drf.tagSelection is defined %}
    {% set tag_selections = drf.tagSelection %}
{% endif %}

<div class="ODRTagWrapper ODRTagWrapper_view">
    <ul class="ODRTagGroup">
        {% for tag_id, tag in stacked_tags %}
            {# Store whether this top-level tag is selected #}
            {% set is_selected = 0 %}
            {% if tag_selections[ tag.id ] is defined %}
                {% set is_selected = tag_selections[ tag.id ].selected %}
            {% endif %}

            {% if display_unselected or is_selected == 1 %}
                {% include 'ODRAdminBundle:Display:tag.html.twig' with {
                    'display_unselected': display_unselected,

                    'tag_selections': tag_selections,
                    'tag': tag,
                    'is_top_level': 1,

                    'unique_id': unique_id,
                } %}
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% endspaceless %}
