{% spaceless %}

<div class="ODRContentWrapper pure-u-1">
    <div class="ODRThemeElement pure-u-1">
        <div class="ODRInnerBox pure-u-1 {% if has_oauth_providers or has_oauth_clients %}pure-u-md-1-2{% endif %}" style="border:none;">
            <h3 class="ODRHeader"><i class="fa fa-md fa-info-circle fa-fw"></i>
                User Profile{% if target_user != null %} - {{ target_user.getuserstring }}{% endif %}
                <span id="saved">&nbsp;&nbsp;&nbsp;SAVED</span>
            </h3>

            <div class="ODRBodyContent">
                {% include 'ODRAdminBundle:ODRUser:user_profile_form.html.twig' with {'profile_form': profile_form, 'current_user': current_user, 'target_user': target_user} %}
            </div>
        </div>

        {% if has_oauth_providers or has_oauth_clients %}
        <div class="ODRTabAccordion ODRInnerBox pure-u-1 pure-u-md-1-2" style="border:none;">
            <h3 class="ODRHeader">
                OAuth Management
            </h3>

            <div class="ODRTabButtonHeader">
                <button class="pure-button pure-button-primary ODRTabButton" rel="ODROAuthProviderList">OAuth Providers</button>
                <button class="pure-button pure-button-primary ODRTabButton" rel="ODROwnedClientsList">OAuth Clients</button>
            </div>

            {% include 'ODROpenRepositoryOAuthClientBundle:Default:oauth_provider_list.html.twig' with {'user': target_user, 'connected_oauth_resources': connected_oauth_resources} %}

            {% include 'ODROpenRepositoryOAuthServerBundle:Clients:owned_clients.html.twig' with {'owned_clients': owned_clients, 'site_baseurl': site_baseurl} %}
        </div>
        {% endif %}
    </div>
</div>

{% set form_url = path('odr_profile_save') %}
{% if self_edit %}
    {% set form_url = path('odr_self_profile_save') %}
{% endif %}

<script>
    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}

        $("#saved").hide();

        $("#submitButton").unbind('click').click(function() {
            saveProfileForm();
        });

        // Don't allow regular form submission...
        $("#ODRUserProfileForm_{{ target_user.id }}").submit(function(event) {
            event.preventDefault();
        });

        $(".ODRTabButton").unbind('click').click(function() {
            var rel = $(this).attr('rel');

            $(".ODRTabContent").hide();
            $("#" + rel).show();
        });
        $("#ODROAuthProviderList").show();
        $("#ODROwnedClientsList").hide();
    });

    function saveProfileForm() {

        var url = "{{ form_url }}";

        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: $("#ODRUserProfileForm_{{ target_user.id }}").serialize(),
            success: function(data, textStatus, jqXHR) {
                $('#saved').fadeIn();

                setTimeout(function() {
                    $('#saved').fadeOut();
                }, 2500);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Don't need to do anything specific on an error
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }
</script>

{% endspaceless %}
