<!-- The footer -->
<footer class="pure-u-1">
    <span class="ODRMenuRight pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item odr-no-effects"><a class="ODRLogoImage" href="http://www.opendatarepository.org/about"><img src="{{ site_baseurl }}/images/ODR_Logo_Final.svg" alt="Open Data Repository" /></a></li>
            <li class="pure-menu-heading">&copy; {{ "now"|date("Y") }}&nbsp;&nbsp;</li>
        </ul>
    </span>
</footer> <!-- End of footer -->

<!-- The loading box -->
<div id="loading-overlay"></div>
<div id="loading">
    <span>Loading...</span>
</div>
<!-- End of loading box -->

<!-- ODR Modal based on Remodal -->
{% include 'ODRAdminBundle:Default:odr_remodal.html.twig' %}
<!-- END ODR Modal based on Remodal -->
