{% spaceless %}
<div id="ODRDatatypeDesign" class="ODRFormWrap ODRDesign pure-u-1">

    {% include 'ODRAdminBundle:Displaytemplate:design_childtype.html.twig' with {
        'datatype_array': datatype_array,
        'theme_array': theme_array,

        'target_datatype_id': initial_datatype_id,
        'target_theme_id': initial_theme_id,

        'datatype_permissions': datatype_permissions,
        'is_datatype_admin': is_datatype_admin,

        'is_link': 0,
        'is_top_level': 1,
    } %}

</div><!-- End of .ODRFormWrap -->
{% endspaceless %}