
<div class="ODRFormWrap ODRDesign pure-u-1"> 

    {% import "ODRAdminBundle:Displaytemplate:design_area_childtype.html.twig" as mychildform %}
    {{ mychildform.input(datatype_tree) }}

</div><!-- End of .ODRFormWrap -->

