{% spaceless %}

<!-- Markdown Help Dialog Form -->

<script>

    var markdown_help_body = '<div id="ODRMarkdownHelpDialogWrapper" class="ODRHidden"> </div>';

    function openMarkdownHelpDialog() {
        // open dialog
        modal_options = {
            title: 'Markdown Help',
            loading: true,
            body: markdown_help_body,
            buttons: [
                {
                    id: 'ODRMarkdownHelp_close',
                    text: 'Close'
                }
            ]
        };
        openODRRemodal(modal_options);

        loadMarkdownHelpDialog();

        // Attach an event handler to the close button
        $("#ODRMarkdownHelp_close").unbind('click').click(function() {
            closeODRRemodal();
        });
    }

    function loadMarkdownHelpDialog() {

        var url  = '{{ path('odr_markdown_help_dialog') }}';

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data) {
                $("#ODRMarkdownHelpDialogWrapper").html( data.d.html );

                setupMarkdownTabs();

                // remove loading spinner
                $(".ODRRemodalLoading").fadeOut('150', function() {
                    $(".ODRRemodalBody").show();
                    $(".ODRRemodalButtons").show();
                    $("#ODRMarkdownHelpDialogWrapper").show();

                    // Resize ODRFileDownloadModal to take up full height
                    resetRemodalInnerHeight();
                });
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Close the dialog so it's not in some half-initialized state
                closeODRRemodal();
            },
            complete: function(jqXHR) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }

    function setupMarkdownTabs() {
        //
        var markdown_header_buttons = $("#ODRMarkdown_tabheader > .ODRTabButton");
        var markdown_help_contents = $("#ODRMarkdown_content > .ODRFieldArea");

        // Apply the markdown plugin
        var md = window.markdownit();
        md.disable(['table', 'strikethrough', 'blockquote']);

        $(".ODRMarkdown_source").each(function() {
            var pieces = $(this).attr('id').split(/_/);
            var dest_id = '#' + pieces[0] + '_' + pieces[1] + '_result';

            var markdown_text = md.render( $(this).val() );
            $(dest_id).html(markdown_text);
        });

        // Attach click handlers to the tab buttons
        markdown_header_buttons.each(function() {
            $(this).unbind('click').click(function() {

                var header = $(this).attr('rel');

                if ( $("#ODRMarkdown_" + header).is(':hidden') ) {
                    //
                    $(markdown_help_contents).hide();
                    $("#ODRMarkdown_" + header).show();

                    //
                    $(markdown_header_buttons).removeClass('pure-button-active');
                    $(this).addClass('pure-button-active');
                }
            })
        });

        // Do the initial selection
        $(markdown_help_contents).hide();
        $(markdown_header_buttons).first().trigger('click');
    }
</script>

<!-- End of Markdown Help Dialog Form -->

{% endspaceless %}
