{% spaceless %}

<div class="pure-u-1 ODRContentWrapper">
    <div class="ODRThemeElement">
        <div class="ODRInnerBox">

            <div id="ODRMarkdown_content" class="ODRAccordionWrapper ODRTabAccordion">
                <div id="ODRMarkdown_tabheader" class="pure-u-1 ODRTabButtonHeader">
                    <button class="pure-button ODRTabButton" rel="headings">Headings</button>
                    <button class="pure-button ODRTabButton" rel="emphasis">Emphasis</button>
                    <button class="pure-button ODRTabButton" rel="links">Links</button>
                    <button class="pure-button ODRTabButton" rel="lists">Lists</button>
                    <button class="pure-button ODRTabButton" rel="code">Code</button>
                </div>

                <div>
                    <div class="pure-u-1-2"><h1>Text using Markdown syntax</h1></div>
                    <div class="pure-u-1-2"><h1>Text viewed in a browser</h1></div>
                </div>

                <div id="ODRMarkdown_headings" class="ODRFieldArea pure-u-1">
                    <div class="pure-u-1-2">
                        <textarea class="ODRMarkdown_source" id="ODRMarkdown_headings_source" readonly>
## Headings

The # symbol at the beginning of a line denotes a heading.

# h1 Heading
## h2 Heading

___
Three hyphens, underscores, or asterisks in a row creates a horizontal line
                        </textarea>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="ODRMarkdown_result" id="ODRMarkdown_headings_result"></div>
                    </div>
                </div>

                <div id="ODRMarkdown_emphasis" class="ODRFieldArea pure-u-1">
                    <div class="pure-u-1-2">
                        <textarea class="ODRMarkdown_source" id="ODRMarkdown_emphasis_source" readonly>
## Emphasis

Using a _single_ underscore or asterisk character creates _italic_ text.

Using **two** of those characters in a row creates __bold text__.

You **can _also_ combine** one __type of *emphasis* inside__ another.
                        </textarea>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="ODRMarkdown_result" id="ODRMarkdown_emphasis_result"></div>
                    </div>
                </div>

                <div id="ODRMarkdown_links" class="ODRFieldArea pure-u-1">
                    <div class="pure-u-1-2">
                        <textarea class="ODRMarkdown_source" id="ODRMarkdown_links_source" readonly>
## Links

Typing something like [this](http://www.opendatarepository.org) will create a link.

You can also create a [link](http://www.opendatarepository.org "sample tooltip") that displays a tooltip when hovering over it.
                        </textarea>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="ODRMarkdown_result" id="ODRMarkdown_links_result"></div>
                    </div>
                </div>

                <div id="ODRMarkdown_lists" class="ODRFieldArea pure-u-1">
                    <div class="pure-u-1-2">
                        <textarea class="ODRMarkdown_source" id="ODRMarkdown_lists_source" readonly>
## Lists

Unordered

* Create a list by starting a line with the `*` character
* Sub-lists are made by indenting 2 spaces:
  * Praesent dapibus id libero sit amet consectetur
  * Proin nec libero ac orci aliquet elementum
* Back to original indentation

Ordered

1. Lorem ipsum dolor sit amet
2. Nulla sem tortor, cursus id accumsan a, aliquam viverra mi
3. In convallis arcu nisl, ac tempor eros tempus vel
                        </textarea>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="ODRMarkdown_result" id="ODRMarkdown_lists_result"></div>
                    </div>
                </div>

                <div id="ODRMarkdown_code" class="ODRFieldArea pure-u-1">
                    <div class="pure-u-1-2">
                        <textarea class="ODRMarkdown_source" id="ODRMarkdown_code_source" readonly>
## Code

Inline `code block`

Block code "fences"

```
var a = 5;
var b = 10;

var c = a + b;
```
                        </textarea>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="ODRMarkdown_result" id="ODRMarkdown_code_result"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endspaceless %}
