{% block navigation_top %}
{% spaceless %}
<div class="MenuDesignArea current">
    <div class="ODRThemeElement">
        <div class="ODRInnerBox">
{#
            <div class="pure-u-7-8">
                <label id="saved" style="margin: 10px; float: right; color: black; font-size:1.25em; font-weight: bold; visibility: hidden;">SAVED</label>
            </div>
#}
            <div id="ElementData"></div>
        </div>
    </div>
</div>
{% endspaceless %}
{% endblock %}


