{% block navigation_top %}
{% spaceless %}
	<div class="MenuDesignArea current">
        <ul id="ElementDataWrapper">
            <li id="ElementData"></li>
        </ul>
    </div>
{% endspaceless %}
{% endblock %}


