{% spaceless %}

<div class="ODRTagWrapper ODRTagWrapper_design">
    <ul class="ODRTagGroup">
        {% for tag_id, tag in stacked_tags %}
            {% include 'ODRAdminBundle:Displaytemplate:tag.html.twig' with {
                'tag': tag,
            } %}
        {% endfor %}
    </ul>
</div>

{% endspaceless %}
