{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set datarecord = datarecord_array[target_datarecord_id] %}

{% set datarecord_list = {} %}
{% set datarecord_list = datarecord_list|merge({ (parent_datarecord_id): datarecord_array[parent_datarecord_id] }) %}   {# parent_datarecord_id will NOT be the key due to twig's use of php array_merge #}

    <div id="DataType_{{ datatype.id }}" class="ODRDataType pure-u-1">

        {% include 'ODRAdminBundle:Default:fieldarea_header.html.twig' with {
            'datatype': datatype,
            'datarecord_list': datarecord_list,

            'is_top_level': is_top_level,
            'is_link': is_link,
            'display_type': display_type
        } %}

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datarecord.id }}">
            {% include 'ODRAdminBundle:Display:display_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'datarecord_array': datarecord_array,

                'target_datatype_id': target_datatype_id,
                'parent_datarecord_id': parent_datarecord_id,
                'target_datarecord_id': datarecord.id,
                'theme_id': theme_id,

                'is_top_level': is_top_level,
                'is_link': is_link,
                'display_type': display_type
            } %}
        </div><!-- End of #FieldArea_{{ datarecord.id }} -->

        {% include 'ODRAdminBundle:Default:fieldarea_footer.html.twig' with {'display_type': display_type} %}

    </div><!-- End of #DataType_{{ datatype.id }} -->

{% endspaceless %}
