{% spaceless %}

{% set counter = offset %}

{% for dr_id, datarecord in datarecord_array %}
    <div class="ODRShortResults pure-u-1" id="ShortResults_{{ dr_id }}">
        <div class="ODRShortResultsHeader pure-u-1 Pointer" id="ShortResultsHeader_{{ dr_id }}">
            <span>Record {{ counter }} - Click here to view</span>
            {% if can_edit_datarecord %}
            <span class="ODRShortResultsHeader_edit">Click here to edit</span>
            {% endif %}
        </div>

        {# Get the regular display renderer to render each datarecord individually #}
        {% set dr_array = { dr_id: datarecord } %}
        {% include 'ODRAdminBundle:Display:display_ajax.html.twig' with {
            'datatype_array': datatype_array,
            'datarecord_array': dr_array,

            'theme_id': theme_id,
            'initial_datatype_id': initial_datatype_id,
            'initial_datarecord_id': dr_id,

            'is_top_level': 1,
            'search_key': '',

            'record_display_view': 'multiple'
        } %}
    </div>
    {% set counter = counter + 1 %}
{% endfor %}

<script>
    jQuery(function() {
        $(".ODRShortResultsHeader").unbind('click').click(function() {
            var id = jQuery(this).attr('id').replace(/ShortResultsHeader_/,'');
            loadDataRecord(id);
        });

        $(".ODRShortResultsHeader_edit").unbind('click').click(function(event) {
            // Don't trigger the click event bound to this element's parent
            event.stopImmediatePropagation();

            var id = $(this).parent().attr('id').replace(/ShortResultsHeader_/,'');
            loadDataRecord(id, 'edit');
        });
    });
</script>

{% endspaceless %}
