
<div class="ODRShortResults pure-u-1">
    {% import "ODRAdminBundle:ShortResults:shortresults_childtype.html.twig" as mychildform %}
    {{ mychildform.input(datatype_tree, datarecord_tree) }}
</div>

