parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: odr_master
    database_user: odr_master
    database_password: [[ ENTER DATABASE PASSWORD HERE ]]
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: [[ ENTER RANDOM KEY HERE - Text String ]]

    site_baseurl: [[ ENTER URL OF ODR DOMAIN HERE ]]     # This url MUST NOT have a trailing forward slash
    odr_web_directory: "%kernel.root_dir%/../web"
    uploaded_files_path: '/tmp/odr_uploaded_files'

    memcached.servers:
        -
            host: 127.0.0.1
            port: 11211
    memcached_key_prefix: odr_master         # If the physical server handles more than a single instance of ODR, then each instance of ODR must have a different memcached_key_prefix
    session_memcached_expire: 3600
    session_memcached_prefix: odr_master
    session_memcached_host: 127.0.0.1
    session_memcached_port: 11211

    beanstalk_api_key: [[ ENTER RANDOM KEY HERE - Text String ]]

    jupyterhub_config:
        use_jupyterhub: false    # set to true to enable jupyterhub integration
        jupyterhub_baseurl: [[ ENTER URL OF JUPYTERHUB DOMAIN HERE ]]     # This url MUST NOT have a trailing forward slash
        api_key: [[ ENTER RANDOM KEY HERE - Text String ]]
        bridge_token: [[ ENTER RANDOM KEY HERE - Text String ]]
