api_login_check_v5:
    path: /api/v5/token
    methods: [POST]
    prefix:   /

api_login_check_v5_odr:
    path: /api/v5/token
    methods: [POST]
    prefix:   /odr

api_login_check_v5_odr_rruff:
    path: /api/v5/token
    methods: [POST]
    prefix:   /odr_rruff

api_login_check_v5_odr_data:
    path: /api/v5/token
    methods: [POST]
    prefix:   /odr_data

api_login_check_v4:
    path: /api/v4/token
    methods: [POST]
    prefix:   /

api_login_check_v4_odr:
    path: /api/v4/token
    methods: [POST]
    prefix:   /odr

api_login_check_v4_odr_rruff:
    path: /api/v4/token
    methods: [POST]
    prefix:   /odr_rruff

api_login_check_v4_odr_data:
    path: /api/v4/token
    methods: [POST]
    prefix:   /odr_data


api_login_check_v3:
    path: /api/v3/token
    methods: [POST]
    prefix:   /

api_login_check_v3_odr:
    path: /api/v3/token
    methods: [POST]
    prefix:   /odr

api_login_check_v3_odr_rruff:
    path: /api/v3/token
    methods: [POST]
    prefix:   /odr_rruff

api_login_check_v3_odr_data:
    path: /api/v3/token
    methods: [POST]
    prefix:   /odr_data

# ----------------------------------------
# Internal routing configuration to handle ESI
#_internal:
#    resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
#    prefix:   /_internal

# FOSUserBundle removed in the Symfony 5 upgrade; its security + resetting routes are now defined
# (with the same route names) in @ODROpenRepositoryUser/Resources/config/routing.yml

# ----------------------------------------
# ODR routes
odr_open_repository_graph:
    resource: "@ODROpenRepositoryGraphBundle/Resources/config/routing.yml"
    prefix:   /
    #prefix:   /odr   # Use prefix when Wordpress Integrated

odr_open_repository_api:
    resource: "@ODROpenRepositoryApiBundle/Resources/config/routing.yml"
    prefix:   /
    #prefix:   /odr   # Use prefix when Wordpress Integrated

odr_open_repository_user:
    resource: "@ODROpenRepositoryUserBundle/Resources/config/routing.yml"
    prefix:   /
    #prefix:   /odr   # Use prefix when Wordpress Integrated


odr_open_repository_jupyterhub_bridge:
    resource: "@ODROpenRepositoryJupyterhubBridgeBundle/Resources/config/routing.yml"
    prefix:   /
    #prefix:   /odr   # Use prefix when Wordpress Integrated

odr_admin:
    resource: "@ODRAdminBundle/Resources/config/routing.yml"
    prefix:   /
    #prefix:   /odr   # Use prefix when Wordpress Integrated


# ----------------------------------------
# ----------------------------------------
# MUST be last in this list due to use of a general catch-all route
odr_open_repository_search:
    resource: "@ODROpenRepositorySearchBundle/Resources/config/routing.yml"
    prefix:   /
    #prefix:   /odr   # Use prefix when Wordpress Integrated
