{% extends "@ODROpenRepositoryUser/layout.html.twig" %}

{% block fos_user_content %}
    <p>If an account matching that email exists, a password-reset link has been sent to it.</p>
    <p>The link will remain valid for a limited time. Please check your email (including your spam folder).</p>
{% endblock fos_user_content %}
