{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends "ODROpenRepositoryUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>

<form action="{{ path('fos_user_resetting_resend_email') }}" method="POST" class="fos_user_resetting_request">
    <input type="hidden" id="username" name="username" required="required" value="{{ username }}" />
    <div>
        <input class="pure-button pure-button-primary" type="submit" value="Resend Email" />
    </div>
</form>

{% endblock fos_user_content %}
