{% spaceless %}
<div id="ODRUser_{{ user_id }}_div" class="ODRUserPermissionDiv">
    <table id="ODRPermissionsList" class="display dataTable">
        <thead>
        <tr>
            <th>Datatype Name</th>
            <th class="Pointer" title="Able to view non-public sections of datarecords of this datatype">Can View Datatype</th>
            <th class="Pointer" title="Able to edit existing datarecords of this datatype">Can Edit Records</th>
            <th class="Pointer" title="Able to add and import datarecords for this datatype">Can Add Records</th>
            <th class="Pointer" title="Able to delete datarecords of this datatype">Can Delete Records</th>
            <th class="Pointer" title="Able to modify search/field layouts for this datatype">Can Design Datatype</th>
            <th class="Pointer" title="Able to set permissions of other users with regards to this datatype">Can Administrate Datatype</th>
        </tr>
        </thead>
        <tbody>

        {% set indent = 0 %}
        {% for datatype_id,data in all_datatypes %}
            {% include 'ODRAdminBundle:Reports:datatype_permissions_user_content.html.twig' with {'data': data, 'user_permissions': user_permissions, 'indent': indent} %}
        {% endfor %}

        </tbody>
    </table>
</div>
{% endspaceless %}
