{% spaceless %}

    {% if childtype.getdisplaytype == 0 %}
    </div><!-- End of .FormAccordion -->
    {% elseif childtype.getdisplaytype == 1 %}
    </div><!-- End of .TabAccordion -->
    {% elseif childtype.getdisplaytype == 2 %}
    </div><!-- End of .DropdownAccordion -->
    {% endif %}

{% endspaceless %}
