{% spaceless %}
<div class="pure-u-1 ODRDashboardHeader Pointer">
    {{ dashboard_headers | raw }}
</div>

<h1 class="pure-u-1">Changes over the past 6 weeks</h1>
			
<div id="ODRDashboardGraphs" class="pure-u-1">
{% if dashboard_graphs|raw|length > 0 %}
    {{ dashboard_graphs | raw }}
{% else %}
    <div style="margin-left: 20px;">No changes made</div>
{% endif %}
</div>

<style>
    .green {
        color: #04710a;
    }
    .red {
        color: #9f1915;
    }
    .jqstooltip {
        background: #FFFFFF;
        border: 1px solid #000000;
    }
    .jqstooltip > div {
        color: #000000 !important;
    }
</style>

<script>
    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}

        // Get the sparkline plugin to work on the smaller graphs
        $(".sparkline").sparkline('html', {type: 'bar', barWidth: '8', height: '50', stackedBarColor: ['#04710a', '#9f1915']});
    });

    function viewResults(search_slug, datatype_id) {
        var url = '{{ path('odr_default_search_render', { 'datatype_id': 0 }) }}';

        url = url.substring(0, (url.length - 1));
        url += datatype_id;

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data) {
                //
                var baseurl = '{{ path('odr_search', { 'search_slug': '' } ) }}' + data.d.search_slug;
                window.location = baseurl + '#' + data.d.url;
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Don't need to do anything specific on an error
            },
            complete: function(jqXHR) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }
</script>
{% endspaceless %}
