{% spaceless %}
<div class="pure-u-1 ODRDashboardHeader Pointer">
    {{ dashboard_headers | raw }}
</div>

<h1 class="pure-u-1">Change in number of Datarecords over last 6 weeks</h1>
			
<div class="pure-u-1">
    {{ dashboard_graphs | raw }}
</div>

<style>
    .green {
        color: #04710a;
    }
    .red {
        color: #9f1915;
    }
    .jqstooltip {
        background: #FFFFFF;
        border: 1px solid #000000;
    }
    .jqstooltip > div {
        color: #000000 !important;
    }
</style>

<script>
    $(function() {
        // Get the sparkline plugin to work on the smaller graphs
        $(".sparkline").sparkline('html', {type: 'bar', barWidth: '8', height: '50', stackedBarColor: ['#04710a', '#9f1915']});
    });

    function viewResults(datatype_id) {
        // Delete the datatype selected
{#
        var url = '{{ path('odr_shortresults_list', { 'datatype_id': 0, 'target': 'r'}) }}';
        url = url.substring(0, (url.length - 3));
        url += datatype_id + '/results';
#}
        var url = '{{ path('odr_search_render', { 'search_key': '' }) }}';
        url += 'dt_id=' + datatype_id;

        UpdateURL(url);
    }
</script>
{% endspaceless %}
