{% spaceless %}

{% if display_type == 0 or display_type == 4 %}
    </div><!-- End of .FormAccordion -->
{% elseif display_type == 1 %}
    </div><!-- End of .TabAccordion -->
{% elseif display_type == 2 %}
    </div><!-- End of .DropdownAccordion -->
{% endif %}

{% endspaceless %}
