{% spaceless %}
    <!-- File Download Dialog -->

    <script>
    var file_download_body = '<div id="ODRFileDownloadFormWrapper" class="ODRHidden"> ' +
            '<form id="ODRFileDownloadForm" method="POST"></form> ' +
        '</div> ' +
        '<div id="ODRFileDownloadForm_progress" class="ODRHidden"> ' +
            '<div>Creating archive:</div> ' +
            '<div> ' +
                '<span id="ODRFileDownloadForm_current"></span> / ' +
                '<span id="ODRFileDownloadForm_total"></span> files added. ' +
            '</div> ' +
        '</div>';


    function openFileDownloadDialog(grandparent_datarecord_id, datarecord_id, datafield_id) {
        // open dialog
        modal_options = {
            title: "Select files to download:",
            loading: true,
            body: file_download_body,
            buttons: [
                {
                    id: 'ODRFileDownloadFormSubmit',
                    text: 'Download Files',
                    // secondary: true,
                    disabled: true,
                    title: 'You must select one or more files before this button becomes active.',
                    click: function() {
                        // Create/send a POST request of file ids
                        submitFileDownloadForm( "#ODRFileDownloadForm" );
                    }
                }
            ]
        };
        openODRRemodal(modal_options);

        // set innerhtml
        loadFileData(grandparent_datarecord_id, datarecord_id, datafield_id);
    }


    function loadFileData(grandparent_datarecord_id, datarecord_id, datafield_id) {
        var url = '{{ path('odr_get_file_list', {'grandparent_datarecord_id': 0}) }}';
        url = url.substring(0, (url.length-1));
        url += grandparent_datarecord_id;
        if (datarecord_id != 0 || datafield_id != 0) {
            url += '/' + datarecord_id + '/' + datafield_id;
        }

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                $("#ODRFileDownloadForm").html( data.d );
                initFileDownloadDialogForm(datarecord_id, datafield_id);
                // remove loading
                $(".ODRRemodalLoading").fadeOut('150', function() {
                    $(".ODRRemodalBody").show();
                    $(".ODRRemodalButtons").show();
                    $("#ODRFileDownloadFormWrapper").show();
                    // Resize ODRFileDownloadModal to take up full height
                    resetRemodalInnerHeight();

                    // Setup submit handler
                    $('#ODRFileDownloadFormSubmit').click(function() {
                        var $el = $(this).parent().parent();
                        // Create/send a POST request of file ids
                        submitFileDownloadForm( $el.attr('id') );
                    });
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Close the dialog so it's not in some half-initialized state
                closeODRRemodal();
            },
            complete: function (jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/' + xdebugToken);
                }
            }
        });
    }


    function initFileDownloadDialogForm(target_datarecord_id, target_datafield_id) {
        $(".ODRTristateCheckbox").unbind('click').click(function() {
            var icon_div = $(this).children('.fa').first();

            if ( $(this).hasClass('binary') ) {
                // This is a file/image-level checkbox
                if ( $(icon_div).hasClass('fa-check') ) {
                    // File/image currently selected, mark as unselected
                    $(icon_div).removeClass('fa-check');
                }
                else {
                    // File/image currently unselected, mark as selected
                    $(icon_div).addClass('fa-check');
                }
            }
            else {
                // This is a datafield/datarecord/datatype-level checkbox
                if ( $(icon_div).hasClass('fa-check') ) {
                    if ( $(icon_div).hasClass('partial') ) {
                        // Currently has some descendants selected...select all descendants
                        $(this).parent().find('.ODRTristateCheckbox .fa').addClass('fa-check').removeClass('partial');
                    }
                    else {
                        // Currently has all descendants selected...deselect all descendants
                        $(this).parent().find('.ODRTristateCheckbox .fa').removeClass('fa-check partial');
                    }
                }
                else {
                    // Currently has no descendants selected...Select all descendants
                    $(this).parent().find('.ODRTristateCheckbox .fa').addClass('fa-check').removeClass('partial');
                }
            }

            // Update classes for parent elements
            applyToParents( $(this) );

            // If no files/images selected for download, disable the submit button
            if ( $("#ODRFileDownloadForm").find('.fa.fa-check').length > 0 )
                $("#ODRFileDownloadFormSubmit").removeAttr('disabled');
            else
                $("#ODRFileDownloadFormSubmit").attr('disabled', 'disabled');
        });

        if (target_datarecord_id != 0 && target_datafield_id != 0) {
            $("#FileList_" + target_datarecord_id + "_" + target_datafield_id + " > .ODRTristateCheckbox").trigger('click');
        }
    }


    function applyToParents(source_element) {
        var parent_list_element = $(source_element).parent().parent().parent().not('form');
        if (parent_list_element.length == 0)
            return;

        var parent_checkbox_element = $(parent_list_element).children('.ODRTristateCheckbox').first();

        var selected_count = $(parent_list_element).children('ul').find('.fa-check').length;
        var total_count = $(parent_list_element).children('ul').find('.fa').length;

        if (selected_count == 0) {
            // No children selected, so this one should be unselected too
            $(parent_checkbox_element).children('i').removeClass('fa-check partial');
        }
        else if (selected_count == total_count) {
            // All children selected, so this one should be selected too
            $(parent_checkbox_element).children('i').addClass('fa-check').removeClass('partial');
        }
        else {
            // Some children selected, so this one should be partially selected
            $(parent_checkbox_element).children('i').addClass('fa-check partial');
        }

        applyToParents(parent_checkbox_element);
    }


    function submitFileDownloadForm(form_id) {
        var file_count = 0;
        $("#ODRFileDownloadForm").find('.binary').each(function() {
            if ( $(this).children('.fa').first().hasClass('fa-check') ) {
                $(this).children('input').prop('disabled', false);
                file_count++;
            }
        });

        var id_data = $("#ODRFileDownloadForm > ul").attr('id').split(/_/);
        var grandparent_datarecord_id = id_data[1];

        var url = '{{ path('odr_start_zip_archive_download', {'grandparent_datarecord_id': 0}) }}';
        url = url.substring(0, (url.length-1));
        url += grandparent_datarecord_id;

        var file_list = $("#ODRFileDownloadForm").serialize();

        $("#ODRFileDownloadFormSubmit").attr('disabled', 'disabled');

        // Init display of progress
        $('#ODRFileDownloadForm_current').html("0");
        $('#ODRFileDownloadForm_total').html(file_count);

        // Hide before ajax stuff
        $('#ODRFileDownloadFormWrapper').hide();
        $("#ODRFileDownloadForm").html("");
        $('#ODRFileDownloadForm_progress').show();
        // Resize ODRFileDownloadModal to take up full height
        resetRemodalInnerHeight();

        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            data: file_list,
            success: function(data, textStatus, jqXHR) {
                var archive_filename = data.d.archive_filename;
                var archive_size = data.d.archive_size;
                createZipArchiveProgressCheck(archive_filename, archive_size, form_id);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Handle errors
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }
</script>
{% endspaceless %}
