{% spaceless %}
<div class="ODRThemeElement pure-u-1 {{ pure_sizes }}">
    <div class="ODRInnerBox pure-u-1">
        <h3 class="ODRHeader">
            {% if icon %}
            <i class="fa fa-md {{ icon }}"></i> {{ header_label }}
            {% endif %}
        </h3>
        <div class="ODRBodyContent">
            {{ body_content }}
        </div>
    </div>
</div>
{% endspaceless %}
