{% spaceless %}
	<!-- Field History Dialog -->
	<div class="pure-form pure-g" style="display: none;" id="dialog_field_history" title="View Field History">
        <div class="form_contents pure-u-1"></div>
	</div><!-- End if #dialog_field_history -->
	
	<script>

    function DatafieldHistoryFormInit() {
        // Initialize the form
/*
        $("#dialog_field_history .submit").unbind('click');
        $("#dialog_field_history .submit").click(function() {
            $("#DatafieldHistoryForm").submit();
        });
*/

        $("#DatafieldHistoryForm").validationOptions({
            submitHandler: function(form){
                var data = $(form).serialize();
                var url = $(form).attr('action');
                var dataType = "json";
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: data,
//                    dataType: dataType,
                    success: function(data, textStatus, jqXHR) {
                        if(data.r == 0) {
//                            switch(data.t) {
//                                case 'html':
//                                    $("#ChildTypeWrapper_" + data.d.datatype_id).html(data.d.childarea_html);
//                                break;
//                            }
                            alert("Value reverted!");
                        }
/*
                        // not doing uniqueness failures at the moment
                        else if (data.r == 2) {
                            var tmp = data.d.split('||');

                            // Grab the form that got changed
                            var the_form = '#' + tmp[0];

                            // Restore the old value
                            $(the_form).find("input[type='text']").val(tmp[1]);

                            // Show rest of error message
                            alert(tmp[2]);
                        }
*/
                        else {
                            // An error has occurred.
                            // Show Error message dialog
                            alert(data.error);
                        }
                        $("#dialog_field_history").dialog('close');
                    },
                    complete: function(jqXHR, textStatus) {
                        // Get the xdebugToken from response headers
                        var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                        // If the Sfjs object exists
                        if (typeof Sfjs !== "undefined") {
                            // Grab the toolbar element
                            var currentElement = $('.sf-toolbar')[0];

                            // Load the data of the given xdebug token into the current toolbar wrapper
                            Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                        }
                    }
                });
            }
        });
/*
        // - Validate
        $("#DatafieldHistoryForm").validate({
            submitHandler: function(form){
                $(this).data('submit') ? $(this).data('submit')() : form.submit();
            }
        });
*/
    }

	</script>

{% endspaceless %}
