{% spaceless %}

{% set tag_selections = [] %}
{% if drf.tagSelection is defined %}
    {% set tag_selections = drf.tagSelection %}
{% endif %}

<div class="ODRTagWrapper ODRTagWrapper_edit">
    <ul class="ODRTagGroup">
        {% for tag_id, tag in stacked_tags %}
            {# Always generate HTML for every single tag in Edit mode #}
            {% include 'ODRAdminBundle:Edit:tag.html.twig' with {
                'unique_id': unique_id,

                'tag_selections': tag_selections,
                'tag': tag,
                'is_top_level': 1,

                'inline_search_link': inline_search_link
            } %}
        {% endfor %}
    </ul>
</div>

{% endspaceless %}
