{% spaceless %}

<div id="ODR_UTFinsert_buttons" class="pure-u-23-24">
    <div class="pure-u-1 ODR_UTFdiv ODR_UTFcharsetdiv">
        Charset:&nbsp;
        <span class="ODR_UTFcharset ODR_UTFactivecharset">Latin</span>
        <span class="ODR_UTFcharset">Greek</span>
    </div>
    <div id="ODR_UTFlatin_lower" class="ODR_UTFkeyboard">
        <div>
            <span class="ODR_UTFinactivekey">{#`#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#1#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#2#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#3#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#4#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#5#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#6#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#7#}&nbsp;</span>
            <span class="ODR_UTFkey">*</span>
            <span class="ODR_UTFinactivekey">{#9#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#0#}&nbsp;</span>
            <span class="ODR_UTFkey">-</span>
            <span class="ODR_UTFkey">=</span>
            <span class="ODR_UTFbackspacer">&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFtabspacer">&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#q#}&nbsp;</span>
            <span class="ODR_UTFkey">w</span>
            <span class="ODR_UTFkey">e</span>
            <span class="ODR_UTFkey">r</span>
            <span class="ODR_UTFkey">t</span>
            <span class="ODR_UTFkey">y</span>
            <span class="ODR_UTFkey">u</span>
            <span class="ODR_UTFkey">i</span>
            <span class="ODR_UTFkey">o</span>
            <span class="ODR_UTFkey">p</span>
            <span class="ODR_UTFkey">[</span>
            <span class="ODR_UTFkey">]</span>
            <span class="ODR_UTFtabspacer">{#\#}&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFcapspacer">&nbsp;</span>
            <span class="ODR_UTFkey">a</span>
            <span class="ODR_UTFkey">s</span>
            <span class="ODR_UTFkey">d</span>
            <span class="ODR_UTFinactivekey">{#f#}&nbsp;</span>
            <span class="ODR_UTFkey">g</span>
            <span class="ODR_UTFkey">h</span>
            <span class="ODR_UTFkey">j</span>
            <span class="ODR_UTFkey">k</span>
            <span class="ODR_UTFkey">l</span>
            <span class="ODR_UTFinactivekey">{#;#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#'#}&nbsp;</span>
            <span class="ODR_UTFcapspacer">&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFshiftspacer">⇧</span>
            <span class="ODR_UTFkey">z</span>
            <span class="ODR_UTFkey">x</span>
            <span class="ODR_UTFkey">c</span>
            <span class="ODR_UTFkey">v</span>
            <span class="ODR_UTFinactivekey">{#b#}&nbsp;</span>
            <span class="ODR_UTFkey">n</span>
            <span class="ODR_UTFkey">m</span>
            <span class="ODR_UTFkey">&lt;</span>
            <span class="ODR_UTFkey">&gt;</span>
            <span class="ODR_UTFinactivekey">{#/#}&nbsp;</span>
            <span class="ODR_UTFshiftspacer">⇧</span>
        </div>
    </div>
    <div id="ODR_UTFlatin_upper" class="ODR_UTFkeyboard ODRHidden">
        <div>
            <span class="ODR_UTFinactivekey">{#`#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#1#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#2#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#3#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#4#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#5#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#6#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#7#}&nbsp;</span>
            <span class="ODR_UTFkey">*</span>
            <span class="ODR_UTFinactivekey">{#9#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#0#}&nbsp;</span>
            <span class="ODR_UTFkey">-</span>
            <span class="ODR_UTFkey">+</span>
            <span class="ODR_UTFbackspacer">&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFtabspacer">&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#Q#}&nbsp;</span>
            <span class="ODR_UTFkey">W</span>
            <span class="ODR_UTFkey">E</span>
            <span class="ODR_UTFkey">R</span>
            <span class="ODR_UTFkey">T</span>
            <span class="ODR_UTFkey">Y</span>
            <span class="ODR_UTFkey">U</span>
            <span class="ODR_UTFkey">I</span>
            <span class="ODR_UTFkey">O</span>
            <span class="ODR_UTFkey">P</span>
            <span class="ODR_UTFkey">[</span>
            <span class="ODR_UTFkey">]</span>
            <span class="ODR_UTFtabspacer">{#\#}&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFcapspacer">&nbsp;</span>
            <span class="ODR_UTFkey">A</span>
            <span class="ODR_UTFkey">S</span>
            <span class="ODR_UTFkey">D</span>
            <span class="ODR_UTFinactivekey">{#F#}&nbsp;</span>
            <span class="ODR_UTFkey">G</span>
            <span class="ODR_UTFkey">H</span>
            <span class="ODR_UTFkey">J</span>
            <span class="ODR_UTFkey">K</span>
            <span class="ODR_UTFkey">L</span>
            <span class="ODR_UTFinactivekey">{#;#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#'#}&nbsp;</span>
            <span class="ODR_UTFcapspacer">&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFshiftspacer">⇧</span>
            <span class="ODR_UTFkey">Z</span>
            <span class="ODR_UTFkey">X</span>
            <span class="ODR_UTFkey">C</span>
            <span class="ODR_UTFkey">V</span>
            <span class="ODR_UTFinactivekey">{#B#}&nbsp;</span>
            <span class="ODR_UTFkey">N</span>
            <span class="ODR_UTFkey">M</span>
            <span class="ODR_UTFkey">&lt;</span>
            <span class="ODR_UTFkey">&gt;</span>
            <span class="ODR_UTFinactivekey">{#/#}&nbsp;</span>
            <span class="ODR_UTFshiftspacer">⇧</span>
        </div>
    </div>
    <div id="ODR_UTFgreek_lower" class="ODR_UTFkeyboard ODRHidden">
        <div>
            <span class="ODR_UTFinactivekey">{#`#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#1#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#2#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#3#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#4#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#5#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#6#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#7#}&nbsp;</span>
            <span class="ODR_UTFkey">*</span>
            <span class="ODR_UTFinactivekey">{#9#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#0#}&nbsp;</span>
            <span class="ODR_UTFkey">-</span>
            <span class="ODR_UTFkey">=</span>
            <span class="ODR_UTFbackspacer">&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFtabspacer">&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#q#}&nbsp;</span>
            <span class="ODR_UTFdirectkey">ς</span>
            <span class="ODR_UTFdirectkey">ε</span>
            <span class="ODR_UTFdirectkey">ρ</span>
            <span class="ODR_UTFdirectkey">τ</span>
            <span class="ODR_UTFdirectkey">υ</span>
            <span class="ODR_UTFdirectkey">θ</span>
            <span class="ODR_UTFdirectkey">ι</span>
            <span class="ODR_UTFdirectkey">ο</span>
            <span class="ODR_UTFdirectkey">π</span>
            <span class="ODR_UTFkey">[</span>
            <span class="ODR_UTFkey">]</span>
            <span class="ODR_UTFtabspacer">{#\#}&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFcapspacer">&nbsp;</span>
            <span class="ODR_UTFdirectkey">α</span>
            <span class="ODR_UTFdirectkey">σ</span>
            <span class="ODR_UTFdirectkey">δ</span>
            <span class="ODR_UTFdirectkey">φ</span>
            <span class="ODR_UTFdirectkey">γ</span>
            <span class="ODR_UTFdirectkey">η</span>
            <span class="ODR_UTFdirectkey">ξ</span>
            <span class="ODR_UTFdirectkey">κ</span>
            <span class="ODR_UTFdirectkey">λ</span>
            <span class="ODR_UTFinactivekey">{#;#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#'#}&nbsp;</span>
            <span class="ODR_UTFcapspacer">&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFshiftspacer">⇧</span>
            <span class="ODR_UTFdirectkey">ζ</span>
            <span class="ODR_UTFdirectkey">χ</span>
            <span class="ODR_UTFdirectkey">ψ</span>
            <span class="ODR_UTFdirectkey">ω</span>
            <span class="ODR_UTFdirectkey">β</span>
            <span class="ODR_UTFdirectkey">ν</span>
            <span class="ODR_UTFdirectkey">μ</span>
            <span class="ODR_UTFkey">&lt;</span>
            <span class="ODR_UTFkey">&gt;</span>
            <span class="ODR_UTFinactivekey">{#/#}&nbsp;</span>
            <span class="ODR_UTFshiftspacer">⇧</span>
        </div>
    </div>
    <div id="ODR_UTFgreek_upper" class="ODR_UTFkeyboard ODRHidden">
        <div>
            <span class="ODR_UTFinactivekey">{#`#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#1#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#2#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#3#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#4#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#5#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#6#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#7#}&nbsp;</span>
            <span class="ODR_UTFkey">*</span>
            <span class="ODR_UTFinactivekey">{#9#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#0#}&nbsp;</span>
            <span class="ODR_UTFkey">-</span>
            <span class="ODR_UTFkey">+</span>
            <span class="ODR_UTFbackspacer">&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFtabspacer">&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#q#}&nbsp;</span>
            <span class="ODR_UTFdirectkey">ς</span>
            <span class="ODR_UTFdirectkey">Ε</span>
            <span class="ODR_UTFdirectkey">Ρ</span>
            <span class="ODR_UTFdirectkey">Τ</span>
            <span class="ODR_UTFdirectkey">Υ</span>
            <span class="ODR_UTFdirectkey">Θ</span>
            <span class="ODR_UTFdirectkey">Ι</span>
            <span class="ODR_UTFdirectkey">Ο</span>
            <span class="ODR_UTFdirectkey">Π</span>
            <span class="ODR_UTFdirectkey">[</span>
            <span class="ODR_UTFdirectkey">]</span>
            <span class="ODR_UTFtabspacer">{#\#}&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFcapspacer">&nbsp;</span>
            <span class="ODR_UTFdirectkey">Α</span>
            <span class="ODR_UTFdirectkey">Σ</span>
            <span class="ODR_UTFdirectkey">Δ</span>
            <span class="ODR_UTFdirectkey">Φ</span>
            <span class="ODR_UTFdirectkey">Γ</span>
            <span class="ODR_UTFdirectkey">Η</span>
            <span class="ODR_UTFdirectkey">Ξ</span>
            <span class="ODR_UTFdirectkey">Κ</span>
            <span class="ODR_UTFdirectkey">Λ</span>
            <span class="ODR_UTFinactivekey">{#;#}&nbsp;</span>
            <span class="ODR_UTFinactivekey">{#'#}&nbsp;</span>
            <span class="ODR_UTFcapspacer">&nbsp;</span>
        </div>
        <div>
            <span class="ODR_UTFshiftspacer">⇧</span>
            <span class="ODR_UTFdirectkey">Ζ</span>
            <span class="ODR_UTFdirectkey">Χ</span>
            <span class="ODR_UTFdirectkey">Ψ</span>
            <span class="ODR_UTFdirectkey">Ω</span>
            <span class="ODR_UTFdirectkey">Β</span>
            <span class="ODR_UTFdirectkey">Ν</span>
            <span class="ODR_UTFdirectkey">Μ</span>
            <span class="ODR_UTFkey">&lt;</span>
            <span class="ODR_UTFkey">&gt;</span>
            <span class="ODR_UTFinactivekey">{#>/#}&nbsp;</span>
            <span class="ODR_UTFshiftspacer">⇧</span>
        </div>
    </div>

    <div id="ODR_UTF_a" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">á</span>Acute <span class="ODR_UTFcopy">(U+00E1)</span></div>
        <div><span class="ODR_UTFdirectkey">ă</span>Breve <span class="ODR_UTFcopy">(U+0103)</span></div>
        <div><span class="ODR_UTFdirectkey">ǎ</span>Caron <span class="ODR_UTFcopy">(U+01CE)</span></div>
        <div><span class="ODR_UTFdirectkey">â</span>Circumflex <span class="ODR_UTFcopy">(U+00E2)</span></div>
        <div><span class="ODR_UTFdirectkey">ä</span>Diaeresis <span class="ODR_UTFcopy">(U+00E4)</span></div>
        <div><span class="ODR_UTFdirectkey">à</span>Grave <span class="ODR_UTFcopy">(U+00E0)</span></div>
        <div><span class="ODR_UTFdirectkey">å</span>Ring <span class="ODR_UTFcopy">(U+00E5)</span></div>
        <div><span class="ODR_UTFdirectkey">ã</span>Tilde <span class="ODR_UTFcopy">(U+00E3)</span></div>
    </div>
    <div id="ODR_UTF_A" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Á</span>Acute <span class="ODR_UTFcopy">(U+00C1)</span></div>
        <div><span class="ODR_UTFdirectkey">Ă</span>Breve <span class="ODR_UTFcopy">(U+0102)</span></div>
        <div><span class="ODR_UTFdirectkey">Ǎ</span>Caron <span class="ODR_UTFcopy">(U+01CD)</span></div>
        <div><span class="ODR_UTFdirectkey">Â</span>Circumflex <span class="ODR_UTFcopy">(U+00C2)</span></div>
        <div><span class="ODR_UTFdirectkey">Ä</span>Diaeresis <span class="ODR_UTFcopy">(U+00C4)</span></div>
        <div><span class="ODR_UTFdirectkey">À</span>Grave <span class="ODR_UTFcopy">(U+00C0)</span></div>
        <div><span class="ODR_UTFdirectkey">Å</span>Ring <span class="ODR_UTFcopy">(U+00C5)</span></div>
        <div><span class="ODR_UTFdirectkey">Ã</span>Tilde <span class="ODR_UTFcopy">(U+00C3)</span></div>
    </div>
    <div id="ODR_UTF_c" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ć</span>Acute <span class="ODR_UTFcopy">(U+0107)</span></div>
        <div><span class="ODR_UTFdirectkey">č</span>Caron <span class="ODR_UTFcopy">(U+010D)</span></div>
        <div><span class="ODR_UTFdirectkey">ç</span>Cedilla <span class="ODR_UTFcopy">(U+00E7)</span></div>
        <div><span class="ODR_UTFdirectkey">ĉ</span>Circumflex <span class="ODR_UTFcopy">(U+0109)</span></div>
    </div>
    <div id="ODR_UTF_C" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ć</span>Acute <span class="ODR_UTFcopy">(U+0106)</span></div>
        <div><span class="ODR_UTFdirectkey">Č</span>Caron <span class="ODR_UTFcopy">(U+010C)</span></div>
        <div><span class="ODR_UTFdirectkey">Ç</span>Cedilla <span class="ODR_UTFcopy">(U+00C7)</span></div>
        <div><span class="ODR_UTFdirectkey">Ĉ</span>Circumflex <span class="ODR_UTFcopy">(U+0108)</span></div>
    </div>
    <div id="ODR_UTF_d" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ď</span>Caron <span class="ODR_UTFcopy">(U+010F)</span></div>
        <div><span class="ODR_UTFdirectkey">ḑ</span>Cedilla <span class="ODR_UTFcopy">(U+1E11)</span></div>
    </div>
    <div id="ODR_UTF_D" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ď</span>Caron <span class="ODR_UTFcopy">(U+010E)</span></div>
        <div><span class="ODR_UTFdirectkey">Ḑ</span>Cedilla <span class="ODR_UTFcopy">(U+1E10)</span></div>
    </div>
    <div id="ODR_UTF_e" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">é</span>Acute <span class="ODR_UTFcopy">(U+00E9)</span></div>
        <div><span class="ODR_UTFdirectkey">ĕ</span>Breve <span class="ODR_UTFcopy">(U+0115)</span></div>
        <div><span class="ODR_UTFdirectkey">ě</span>Caron <span class="ODR_UTFcopy">(U+011B)</span></div>
        <div><span class="ODR_UTFdirectkey">ȩ</span>Cedilla <span class="ODR_UTFcopy">(U+0229)</span></div>
        <div><span class="ODR_UTFdirectkey">ê</span>Circumflex <span class="ODR_UTFcopy">(U+00EA)</span></div>
        <div><span class="ODR_UTFdirectkey">ë</span>Diaeresis <span class="ODR_UTFcopy">(U+00EB)</span></div>
        <div><span class="ODR_UTFdirectkey">è</span>Grave <span class="ODR_UTFcopy">(U+00E8)</span></div>
        <div><span class="ODR_UTFdirectkey">ẽ</span>Tilde <span class="ODR_UTFcopy">(U+1EBD)</span></div>
    </div>
    <div id="ODR_UTF_E" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">É</span>Acute <span class="ODR_UTFcopy">(U+00C9)</span></div>
        <div><span class="ODR_UTFdirectkey">Ĕ</span>Breve <span class="ODR_UTFcopy">(U+0114)</span></div>
        <div><span class="ODR_UTFdirectkey">Ě</span>Caron <span class="ODR_UTFcopy">(U+011A)</span></div>
        <div><span class="ODR_UTFdirectkey">Ȩ</span>Cedilla <span class="ODR_UTFcopy">(U+0228)</span></div>
        <div><span class="ODR_UTFdirectkey">Ê</span>Circumflex <span class="ODR_UTFcopy">(U+00CA)</span></div>
        <div><span class="ODR_UTFdirectkey">Ë</span>Diaeresis <span class="ODR_UTFcopy">(U+00CB)</span></div>
        <div><span class="ODR_UTFdirectkey">È</span>Grave <span class="ODR_UTFcopy">(U+00C8)</span></div>
        <div><span class="ODR_UTFdirectkey">Ẽ</span>Tilde <span class="ODR_UTFcopy">(U+1EBC)</span></div>
    </div>
    <div id="ODR_UTF_g" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ǵ</span>Acute <span class="ODR_UTFcopy">(U+01F5)</span></div>
        <div><span class="ODR_UTFdirectkey">ğ</span>Breve <span class="ODR_UTFcopy">(U+011F)</span></div>
        <div><span class="ODR_UTFdirectkey">ǧ</span>Caron <span class="ODR_UTFcopy">(U+01E7)</span></div>
        <div><span class="ODR_UTFdirectkey">ģ</span>Cedilla <span class="ODR_UTFcopy">(U+0123)</span></div>
        <div><span class="ODR_UTFdirectkey">ĝ</span>Circumflex <span class="ODR_UTFcopy">(U+011D)</span></div>
    </div>
    <div id="ODR_UTF_G" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ǵ</span>Acute <span class="ODR_UTFcopy">(U+01F4)</span></div>
        <div><span class="ODR_UTFdirectkey">Ğ</span>Breve <span class="ODR_UTFcopy">(U+011E)</span></div>
        <div><span class="ODR_UTFdirectkey">Ǧ</span>Caron <span class="ODR_UTFcopy">(U+01E6)</span></div>
        <div><span class="ODR_UTFdirectkey">Ģ</span>Cedilla <span class="ODR_UTFcopy">(U+0122)</span></div>
        <div><span class="ODR_UTFdirectkey">Ĝ</span>Circumflex <span class="ODR_UTFcopy">(U+011C)</span></div>
    </div>
    <div id="ODR_UTF_h" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ȟ</span>Caron <span class="ODR_UTFcopy">(U+021F)</span></div>
        <div><span class="ODR_UTFdirectkey">ḩ</span>Cedilla <span class="ODR_UTFcopy">(U+1E29)</span></div>
        <div><span class="ODR_UTFdirectkey">ĥ</span>Circumflex <span class="ODR_UTFcopy">(U+0125)</span></div>
        <div><span class="ODR_UTFdirectkey">ḧ</span>Diaeresis <span class="ODR_UTFcopy">(U+1E27)</span></div>
    </div>
    <div id="ODR_UTF_H" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ȟ</span>Caron <span class="ODR_UTFcopy">(U+021E)</span></div>
        <div><span class="ODR_UTFdirectkey">Ḩ</span>Cedilla <span class="ODR_UTFcopy">(U+1E28)</span></div>
        <div><span class="ODR_UTFdirectkey">Ĥ</span>Circumflex <span class="ODR_UTFcopy">(U+0124)</span></div>
        <div><span class="ODR_UTFdirectkey">Ḧ</span>Diaeresis <span class="ODR_UTFcopy">(U+1E26)</span></div>
    </div>
    <div id="ODR_UTF_i" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">í</span>Acute <span class="ODR_UTFcopy">(U+00ED)</span></div>
        <div><span class="ODR_UTFdirectkey">ĭ</span>Breve <span class="ODR_UTFcopy">(U+012D)</span></div>
        <div><span class="ODR_UTFdirectkey">ǐ</span>Caron <span class="ODR_UTFcopy">(U+01D0)</span></div>
        <div><span class="ODR_UTFdirectkey">î</span>Circumflex <span class="ODR_UTFcopy">(U+00EE)</span></div>
        <div><span class="ODR_UTFdirectkey">ï</span>Diaeresis <span class="ODR_UTFcopy">(U+00EF)</span></div>
        <div><span class="ODR_UTFdirectkey">ì</span>Grave <span class="ODR_UTFcopy">(U+00EC)</span></div>
        <div><span class="ODR_UTFdirectkey">ĩ</span>Tilde <span class="ODR_UTFcopy">(U+0129)</span></div>
    </div>
    <div id="ODR_UTF_I" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Í</span>Acute <span class="ODR_UTFcopy">(U+00CD)</span></div>
        <div><span class="ODR_UTFdirectkey">Ĭ</span>Breve <span class="ODR_UTFcopy">(U+012C)</span></div>
        <div><span class="ODR_UTFdirectkey">Ǐ</span>Caron <span class="ODR_UTFcopy">(U+01CF)</span></div>
        <div><span class="ODR_UTFdirectkey">Î</span>Circumflex <span class="ODR_UTFcopy">(U+00CE)</span></div>
        <div><span class="ODR_UTFdirectkey">Ï</span>Diaeresis <span class="ODR_UTFcopy">(U+00CF)</span></div>
        <div><span class="ODR_UTFdirectkey">Ì</span>Grave <span class="ODR_UTFcopy">(U+00CC)</span></div>
        <div><span class="ODR_UTFdirectkey">Ĩ</span>Tilde <span class="ODR_UTFcopy">(U+0128)</span></div>
    </div>
    <div id="ODR_UTF_j" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ǰ</span>Caron <span class="ODR_UTFcopy">(U+01F0)</span></div>
        <div><span class="ODR_UTFdirectkey">ĵ</span>Circumflex <span class="ODR_UTFcopy">(U+0135)</span></div>
    </div>
    <div id="ODR_UTF_J" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ĵ</span>Circumflex <span class="ODR_UTFcopy">(U+0134)</span></div>
    </div>
    <div id="ODR_UTF_k" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ḱ</span>Acute <span class="ODR_UTFcopy">(U+1E31)</span></div>
        <div><span class="ODR_UTFdirectkey">ǩ</span>Caron <span class="ODR_UTFcopy">(U+01E9)</span></div>
        <div><span class="ODR_UTFdirectkey">ķ</span>Cedilla <span class="ODR_UTFcopy">(U+0137)</span></div>
    </div>
    <div id="ODR_UTF_K" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ḱ</span>Acute <span class="ODR_UTFcopy">(U+1E30)</span></div>
        <div><span class="ODR_UTFdirectkey">Ǩ</span>Caron <span class="ODR_UTFcopy">(U+01E8)</span></div>
        <div><span class="ODR_UTFdirectkey">Ķ</span>Cedilla <span class="ODR_UTFcopy">(U+0136)</span></div>
    </div>
    <div id="ODR_UTF_l" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ĺ</span>Acute <span class="ODR_UTFcopy">(U+013A)</span></div>
        <div><span class="ODR_UTFdirectkey">ľ</span>Caron <span class="ODR_UTFcopy">(U+013E)</span></div>
        <div><span class="ODR_UTFdirectkey">ļ</span>Cedilla <span class="ODR_UTFcopy">(U+013C)</span></div>
    </div>
    <div id="ODR_UTF_L" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ĺ</span>Acute <span class="ODR_UTFcopy">(U+0139)</span></div>
        <div><span class="ODR_UTFdirectkey">Ľ</span>Caron <span class="ODR_UTFcopy">(U+013D)</span></div>
        <div><span class="ODR_UTFdirectkey">Ļ</span>Cedilla <span class="ODR_UTFcopy">(U+013B)</span></div>
    </div>
    <div id="ODR_UTF_m" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ḿ</span>Acute <span class="ODR_UTFcopy">(U+1E3F)</span></div>
    </div>
    <div id="ODR_UTF_M" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ḿ</span>Acute <span class="ODR_UTFcopy">(U+1E3E)</span></div>
    </div>
    <div id="ODR_UTF_n" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ń</span>Acute <span class="ODR_UTFcopy">(U+0144)</span></div>
        <div><span class="ODR_UTFdirectkey">ň</span>Caron <span class="ODR_UTFcopy">(U+0148)</span></div>
        <div><span class="ODR_UTFdirectkey">ņ</span>Cedilla <span class="ODR_UTFcopy">(U+0146)</span></div>
        <div><span class="ODR_UTFdirectkey">ǹ</span>Grave <span class="ODR_UTFcopy">(U+01F9)</span></div>
        <div><span class="ODR_UTFdirectkey">ñ</span>Tilde <span class="ODR_UTFcopy">(U+00F1)</span></div>
    </div>
    <div id="ODR_UTF_N" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ń</span>Acute <span class="ODR_UTFcopy">(U+0143)</span></div>
        <div><span class="ODR_UTFdirectkey">Ň</span>Caron <span class="ODR_UTFcopy">(U+0147)</span></div>
        <div><span class="ODR_UTFdirectkey">Ņ</span>Cedilla <span class="ODR_UTFcopy">(U+0145)</span></div>
        <div><span class="ODR_UTFdirectkey">Ǹ</span>Grave <span class="ODR_UTFcopy">(U+01F8)</span></div>
        <div><span class="ODR_UTFdirectkey">Ñ</span>Tilde <span class="ODR_UTFcopy">(U+00D1)</span></div>
    </div>
    <div id="ODR_UTF_o" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ó</span>Acute <span class="ODR_UTFcopy">(U+00F3)</span></div>
        <div><span class="ODR_UTFdirectkey">ŏ</span>Breve <span class="ODR_UTFcopy">(U+014F)</span></div>
        <div><span class="ODR_UTFdirectkey">ǒ</span>Caron <span class="ODR_UTFcopy">(U+01D2)</span></div>
        <div><span class="ODR_UTFdirectkey">ô</span>Circumflex <span class="ODR_UTFcopy">(U+00F4)</span></div>
        <div><span class="ODR_UTFdirectkey">ö</span>Diaeresis <span class="ODR_UTFcopy">(U+00F6)</span></div>
        <div><span class="ODR_UTFdirectkey">ò</span>Grave <span class="ODR_UTFcopy">(U+00F2)</span></div>
        <div><span class="ODR_UTFdirectkey">õ</span>Tilde <span class="ODR_UTFcopy">(U+00F5)</span></div>
    </div>
    <div id="ODR_UTF_O" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ó</span>Acute <span class="ODR_UTFcopy">(U+00D3)</span></div>
        <div><span class="ODR_UTFdirectkey">Ŏ</span>Breve <span class="ODR_UTFcopy">(U+014E)</span></div>
        <div><span class="ODR_UTFdirectkey">Ǒ</span>Caron <span class="ODR_UTFcopy">(U+01D1)</span></div>
        <div><span class="ODR_UTFdirectkey">Ô</span>Circumflex <span class="ODR_UTFcopy">(U+00D4)</span></div>
        <div><span class="ODR_UTFdirectkey">Ö</span>Diaeresis <span class="ODR_UTFcopy">(U+00D6)</span></div>
        <div><span class="ODR_UTFdirectkey">Ò</span>Grave <span class="ODR_UTFcopy">(U+00D2)</span></div>
        <div><span class="ODR_UTFdirectkey">Õ</span>Tilde <span class="ODR_UTFcopy">(U+00D5)</span></div>
    </div>
    <div id="ODR_UTF_p" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ṕ</span>Acute <span class="ODR_UTFcopy">(U+1E55)</span></div>
    </div>
    <div id="ODR_UTF_P" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ṕ</span>Acute <span class="ODR_UTFcopy">(U+1E54)</span></div>
    </div>
    <div id="ODR_UTF_r" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ŕ</span>Acute <span class="ODR_UTFcopy">(U+0155)</span></div>
        <div><span class="ODR_UTFdirectkey">ř</span>Caron <span class="ODR_UTFcopy">(U+0159)</span></div>
        <div><span class="ODR_UTFdirectkey">ŗ</span>Cedilla <span class="ODR_UTFcopy">(U+0157)</span></div>
    </div>
    <div id="ODR_UTF_R" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ŕ</span>Acute <span class="ODR_UTFcopy">(U+0154)</span></div>
        <div><span class="ODR_UTFdirectkey">Ř</span>Caron <span class="ODR_UTFcopy">(U+0158)</span></div>
        <div><span class="ODR_UTFdirectkey">Ŗ</span>Cedilla <span class="ODR_UTFcopy">(U+0156)</span></div>
    </div>
    <div id="ODR_UTF_s" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ś</span>Acute <span class="ODR_UTFcopy">(U+015B)</span></div>
        <div><span class="ODR_UTFdirectkey">š</span>Caron <span class="ODR_UTFcopy">(U+0161)</span></div>
        <div><span class="ODR_UTFdirectkey">ş</span>Cedilla <span class="ODR_UTFcopy">(U+015F)</span></div>
        <div><span class="ODR_UTFdirectkey">ŝ</span>Circumflex <span class="ODR_UTFcopy">(U+015D)</span></div>
        <div><span class="ODR_UTFdirectkey">ß</span>Eszett/Sharp S <span class="ODR_UTFcopy">(U+00DF)</span></div>
    </div>
    <div id="ODR_UTF_S" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ś</span>Acute <span class="ODR_UTFcopy">(U+015A)</span></div>
        <div><span class="ODR_UTFdirectkey">Š</span>Caron <span class="ODR_UTFcopy">(U+0160)</span></div>
        <div><span class="ODR_UTFdirectkey">Ş</span>Cedilla <span class="ODR_UTFcopy">(U+015E)</span></div>
        <div><span class="ODR_UTFdirectkey">Ŝ</span>Circumflex <span class="ODR_UTFcopy">(U+015C)</span></div>
        <div><span class="ODR_UTFdirectkey">ẞ</span>Capital Eszett/Sharp S <span class="ODR_UTFcopy">(U+1E9E)</span></div>
    </div>
    <div id="ODR_UTF_t" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ť</span>Caron <span class="ODR_UTFcopy">(U+0165)</span></div>
        <div><span class="ODR_UTFdirectkey">ţ</span>Cedilla <span class="ODR_UTFcopy">(U+0163)</span></div>
        <div><span class="ODR_UTFdirectkey">ẗ</span>Diaeresis <span class="ODR_UTFcopy">(U+1E97)</span></div>
    </div>
    <div id="ODR_UTF_T" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ť</span>Caron <span class="ODR_UTFcopy">(U+0164)</span></div>
        <div><span class="ODR_UTFdirectkey">Ţ</span>Cedilla <span class="ODR_UTFcopy">(U+0162)</span></div>
    </div>
    <div id="ODR_UTF_u" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ú</span>Acute <span class="ODR_UTFcopy">(U+00FA)</span></div>
        <div><span class="ODR_UTFdirectkey">ŭ</span>Breve <span class="ODR_UTFcopy">(U+016D)</span></div>
        <div><span class="ODR_UTFdirectkey">ǔ</span>Caron <span class="ODR_UTFcopy">(U+01D4)</span></div>
        <div><span class="ODR_UTFdirectkey">û</span>Circumflex <span class="ODR_UTFcopy">(U+00FB)</span></div>
        <div><span class="ODR_UTFdirectkey">ü</span>Diaeresis <span class="ODR_UTFcopy">(U+00FC)</span></div>
        <div><span class="ODR_UTFdirectkey">ù</span>Grave <span class="ODR_UTFcopy">(U+00F9)</span></div>
        <div><span class="ODR_UTFdirectkey">ů</span>Ring <span class="ODR_UTFcopy">(U+016F)</span></div>
        <div><span class="ODR_UTFdirectkey">ũ</span>Tilde <span class="ODR_UTFcopy">(U+0169)</span></div>
    </div>
    <div id="ODR_UTF_U" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ú</span>Acute <span class="ODR_UTFcopy">(U+00DA)</span></div>
        <div><span class="ODR_UTFdirectkey">Ŭ</span>Breve <span class="ODR_UTFcopy">(U+016C)</span></div>
        <div><span class="ODR_UTFdirectkey">Ǔ</span>Caron <span class="ODR_UTFcopy">(U+01D3)</span></div>
        <div><span class="ODR_UTFdirectkey">Û</span>Circumflex <span class="ODR_UTFcopy">(U+00DB)</span></div>
        <div><span class="ODR_UTFdirectkey">Ü</span>Diaeresis <span class="ODR_UTFcopy">(U+00DC)</span></div>
        <div><span class="ODR_UTFdirectkey">Ù</span>Grave <span class="ODR_UTFcopy">(U+00D9)</span></div>
        <div><span class="ODR_UTFdirectkey">Ů</span>Ring <span class="ODR_UTFcopy">(U+00CB)</span></div>
        <div><span class="ODR_UTFdirectkey">Ũ</span>Tilde <span class="ODR_UTFcopy">(U+0168)</span></div>
    </div>
    <div id="ODR_UTF_v" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ṽ</span>Tilde <span class="ODR_UTFcopy">(U+1E7D)</span></div>
    </div>
    <div id="ODR_UTF_V" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ṽ</span>Tilde <span class="ODR_UTFcopy">(U+1E7C)</span></div>
    </div>
    <div id="ODR_UTF_w" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ẃ</span>Acute <span class="ODR_UTFcopy">(U+1E83)</span></div>
        <div><span class="ODR_UTFdirectkey">ŵ</span>Circumflex <span class="ODR_UTFcopy">(U+0175)</span></div>
        <div><span class="ODR_UTFdirectkey">ẅ</span>Diaeresis <span class="ODR_UTFcopy">(U+1E85)</span></div>
        <div><span class="ODR_UTFdirectkey">ẁ</span>Grave <span class="ODR_UTFcopy">(U+1E81)</span></div>
        <div><span class="ODR_UTFdirectkey">ẘ</span>Ring <span class="ODR_UTFcopy">(U+1E98)</span></div>
    </div>
    <div id="ODR_UTF_W" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ẃ</span>Acute <span class="ODR_UTFcopy">(U+1E82)</span></div>
        <div><span class="ODR_UTFdirectkey">Ŵ</span>Circumflex <span class="ODR_UTFcopy">(U+0174)</span></div>
        <div><span class="ODR_UTFdirectkey">Ẅ</span>Diaeresis <span class="ODR_UTFcopy">(U+1E84)</span></div>
        <div><span class="ODR_UTFdirectkey">Ẁ</span>Grave <span class="ODR_UTFcopy">(U+1E80)</span></div>
    </div>
    <div id="ODR_UTF_x" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ẍ</span>Diaeresis <span class="ODR_UTFcopy">(U+1E8D)</span></div>
    </div>
    <div id="ODR_UTF_X" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ẍ</span>Diaeresis <span class="ODR_UTFcopy">(U+1E8C)</span></div>
    </div>
    <div id="ODR_UTF_y" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ý</span>Acute <span class="ODR_UTFcopy">(U+00FD)</span></div>
        <div><span class="ODR_UTFdirectkey">ŷ</span>Circumflex <span class="ODR_UTFcopy">(U+0177)</span></div>
        <div><span class="ODR_UTFdirectkey">ÿ</span>Diaeresis <span class="ODR_UTFcopy">(U+00FF)</span></div>
        <div><span class="ODR_UTFdirectkey">ỳ</span>Grave <span class="ODR_UTFcopy">(U+1EF3)</span></div>
        <div><span class="ODR_UTFdirectkey">ỹ</span>Tilde <span class="ODR_UTFcopy">(U+1EF9)</span></div>
        <div><span class="ODR_UTFdirectkey">ẙ</span>Ring <span class="ODR_UTFcopy">(U+1E99)</span></div>
    </div>
    <div id="ODR_UTF_Y" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ý</span>Acute <span class="ODR_UTFcopy">(U+00DD)</span></div>
        <div><span class="ODR_UTFdirectkey">Ŷ</span>Circumflex <span class="ODR_UTFcopy">(U+0176)</span></div>
        <div><span class="ODR_UTFdirectkey">Ÿ</span>Diaeresis <span class="ODR_UTFcopy">(U+0178)</span></div>
        <div><span class="ODR_UTFdirectkey">Ỳ</span>Grave <span class="ODR_UTFcopy">(U+1EF2)</span></div>
        <div><span class="ODR_UTFdirectkey">Ỹ</span>Tilde <span class="ODR_UTFcopy">(U+1EF8)</span></div>
    </div>
    <div id="ODR_UTF_z" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">ź</span>Acute <span class="ODR_UTFcopy">(U+017A)</span></div>
        <div><span class="ODR_UTFdirectkey">ž</span>Caron <span class="ODR_UTFcopy">(U+017E)</span></div>
        <div><span class="ODR_UTFdirectkey">ẑ</span>Circumflex <span class="ODR_UTFcopy">(U+1E91)</span></div>
    </div>
    <div id="ODR_UTF_Z" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">Ź</span>Acute <span class="ODR_UTFcopy">(U+0179)</span></div>
        <div><span class="ODR_UTFdirectkey">Ž</span>Caron <span class="ODR_UTFcopy">(U+017D)</span></div>
        <div><span class="ODR_UTFdirectkey">Ẑ</span>Circumflex <span class="ODR_UTFcopy">(U+1E90)</span></div>
    </div>

    <div id="ODR_UTF_asterisk" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">°</span>Degree Sign <span class="ODR_UTFcopy">(U+00B0)</span></div>
        <div><span class="ODR_UTFdirectkey">·</span>Middle Dot <span class="ODR_UTFcopy">(U+00B7)</span></div>
    </div>
    <div id="ODR_UTF_hyphen" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">±</span>Plus-Minus Sign <span class="ODR_UTFcopy">(U+00B1)</span></div>
    </div>
    <div id="ODR_UTF_equals" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">≈</span>Almost Equal To <span class="ODR_UTFcopy">(U+2248)</span></div>
        <div><span class="ODR_UTFdirectkey">≉</span>Not Almost Equal To <span class="ODR_UTFcopy">(U+2249)</span></div>
    </div>
    <div id="ODR_UTF_plus" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">±</span>Plus-Minus Sign <span class="ODR_UTFcopy">(U+00B1)</span></div>
    </div>
    <div id="ODR_UTF_squarebracket" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">◻</span>White Medium Square <span class="ODR_UTFcopy">(U+25FB)</span></div>
    </div>
    <div id="ODR_UTF_lessthan" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">≤</span>Less-Than or Equal To <span class="ODR_UTFcopy">(U+2264)</span></div>
    </div>
    <div id="ODR_UTF_greaterthan" class="ODR_UTFgroup ODRHidden">
        <div><span class="ODR_UTFdirectkey">≥</span>Greater-Than or Equal To <span class="ODR_UTFcopy">(U+2265)</span></div>
    </div>
</div>

<div id="ODR_UTFcopied" class="" style="display: none;">Copied!</div>

<script>
    /**
     * Initializes the keyboard-specific parts of the UTF Inserter
     * @param {HTMLElement} target_elem
     */
    function initODRUTFKeyboard(target_elem) {
        $(".ODR_UTFcopy").attr('title', 'Click to copy to clipboard');
        $(".ODR_UTFkey").attr('title', 'Click to see options');
        $(".ODR_UTFdirectkey").attr('title', 'Click to insert into field');

        $(".ODR_UTFcharset").unbind('click').click(function(event) {
            // Don't submit the datafield's form
            event.preventDefault();

            if ( $(this).hasClass('ODR_UTFactivecharset') ) {
                // Don't change anything if this charset is already active
                return false;
            }
            else {
                // Make this the active charset
                $(".ODR_UTFactivecharset").removeClass('ODR_UTFactivecharset');
                $(this).addClass('ODR_UTFactivecharset');

                // Clear most other indicators that could be active
                $(".ODR_UTFactivekey").removeClass('ODR_UTFactivekey');
                $(".ODR_UTFkeyboard").addClass('ODRHidden');
                $(".ODR_UTFgroup").addClass('ODRHidden');
                $(".ODR_UTFshiftspacer").removeClass('ODR_UTFactiveshiftspacer');

                // Show the keyboard for the selected charset
                if ( $(this).text() === 'Latin' )
                    $("#ODR_UTFlatin_lower").removeClass('ODRHidden');
                else
                    $("#ODR_UTFgreek_lower").removeClass('ODRHidden');
            }
        });

        $(".ODR_UTFshiftspacer").unbind('click').click(function(event) {
            // Don't submit the datafield's form
            event.preventDefault();

            let charset = $('.ODR_UTFactivecharset').text();

            // Clear most other indicators that could be active
            $(".ODR_UTFkeyboard").addClass('ODRHidden');
            $(".ODR_UTFgroup").addClass('ODRHidden');
            $(".ODR_UTFactivekey").removeClass('ODR_UTFactivekey');

            if ( $(this).hasClass('ODR_UTFactiveshiftspacer') ) {
                // Shift is already active, switch to lowercase
                $(".ODR_UTFshiftspacer").removeClass('ODR_UTFactiveshiftspacer');

                // Show the keyboard for the selected charset
                if ( charset === 'Latin' )
                    $("#ODR_UTFlatin_lower").removeClass('ODRHidden');
                else
                    $("#ODR_UTFgreek_lower").removeClass('ODRHidden');
            }
            else {
                // Shift is not active, switch to uppercase
                $(".ODR_UTFshiftspacer").addClass('ODR_UTFactiveshiftspacer');

                // Show the keyboard for the selected charset
                if ( charset === 'Latin' )
                    $("#ODR_UTFlatin_upper").removeClass('ODRHidden');
                else
                    $("#ODR_UTFgreek_upper").removeClass('ODRHidden');
            }
        });

        $(".ODR_UTFkey").unbind('click').click(function(event) {
            // Don't submit the datafield's form
            event.preventDefault();

            $(".ODR_UTFgroup").addClass('ODRHidden');

            if ( $(this).hasClass('ODR_UTFactivekey') ) {
                $(this).removeClass('ODR_UTFactivekey');
                return false;
            }
            else {
                $(".ODR_UTFkey").removeClass('ODR_UTFactivekey');
                $(this).addClass('ODR_UTFactivekey');

                let char = $(this).text();
                switch (char) {
                    case '*':
                        char = 'asterisk'; break;
                    case '-':
                        char = 'hyphen'; break;
                    case '=':
                        char = 'equals'; break;
                    case '+':
                        char = 'plus'; break;
                    case '[':
                    case ']':
                        char = 'squarebracket'; break;
                    case '<':
                        char = 'lessthan'; break;
                    case '>':
                        char = 'greaterthan'; break;
                }
                let div = $("#ODR_UTF_" + char);

                if ( $(div).length > 0 ) {
                    $(div).removeClass('ODRHidden');

                    let input_offset = $(this).offset();
                    let key_top = input_offset.top;
                    let key_left = input_offset.left;
                    let key_width = $(this).width();

                    $(div).offset({top: key_top, left: key_left + key_width + 5});
                }
            }
        });
        $(".ODR_UTFdirectkey").unbind('click').click(function(event) {
            // Don't submit the datafield's form
            event.preventDefault();

            let char = $(this).text();
            let position = $(target_elem).prop('selectionStart');
            // console.log('position', position);

            let before = $(target_elem).val().substring(0, position);
            let after = $(target_elem).val().substring(position);
            // console.log('before', before, 'after', after);

            $(target_elem).val(before + char + after);
            $(target_elem).focus().prop('selectionStart', position+char.length).prop('selectionEnd', position+char.length);
            $(target_elem).trigger('paste');
        });

        $(".ODR_UTFcopy").unbind('click').click(function(event) {
            // Don't submit the datafield's form
            event.preventDefault();

            let text = $(this).parent().children('.ODR_UTFdirectkey').first().text();
            let copy_offset = $(this).offset();
            navigator.clipboard.writeText(text).then(() => {
                $("#ODR_UTFcopied").removeAttr('style')  // MUST REMOVE STYLE, otherwise offset doesn't work right
                    .offset({top: copy_offset.top-3, left: copy_offset.left})
                    .fadeIn(10).delay(600).fadeOut(800);
            }).catch(() => {
                // TODO - need a fallback
            });
        });
    }
</script>

{% endspaceless %}
