{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}

{# Don't execute a render plugin here, it'll cause infinite recursion #}

{% if is_top_level %}
    {# Easiest way to ensure this only gets included once is to only have the top-level datatype do it... #}
    {% include 'ODROpenRepositoryGraphBundle:Metadata:common.html.twig' %}
{% endif %}

{# TODO - ...is this consistent? #}
{% include 'ODROpenRepositoryGraphBundle:Metadata:Core/core_definition.html.twig' %}

<div class="ODRDataType pure-u-1" id="DataType_{{ datatype.id }}">

    {# TODO - ...going to disable adding records from here.  it'll be obvious if it's needed later on... #}
    {% include 'ODRAdminBundle:Default:fieldarea_header.html.twig' with {
        'context' : '',

        'datatype': datatype,
        'parent_datarecord': parent_datarecord,
        'datarecord_list': datarecord_array,

        'datatype_permissions': datatype_permissions,

        'is_top_level': is_top_level,
        'is_link': is_link,
        'display_type': display_type,
        'multiple_allowed': multiple_allowed,
    } %}

    {% set is_first_record = true %}
    {% for dr_id, datarecord in datarecord_array %}

        {% include 'ODRAdminBundle:Edit:accordion_header.html.twig' with {
            'datarecord': datarecord,
            'datatype': datatype,

            'datatype_permissions': datatype_permissions,

            'is_top_level': is_top_level,
            'is_link': is_link,
            'display_type': display_type,
            'multiple_allowed': multiple_allowed,

            'is_first_record': is_first_record,
        } %}
        {% set is_first_record = false %}

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datarecord.id }}">
            {# Don't execute a render plugin here, it'll cause infinite recursion #}
            {% include 'ODROpenRepositoryGraphBundle:Metadata:Core/core_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'datarecord': datarecord,
                'theme_array': theme_array,

                'parent_datarecord': parent_datarecord,
                'target_datatype_id': target_datatype_id,
                'target_datarecord_id': datarecord.id,
                'target_theme_id': target_theme_id,

                'datatype_permissions': datatype_permissions,
                'datafield_permissions': datafield_permissions,

                'is_top_level': is_top_level,
                'is_link': is_link,
                'display_type': display_type,
                'multiple_allowed': multiple_allowed,

                'token_list': token_list,
            } %}

        </div><!-- End of #FieldArea_{{ datarecord.id }} -->
    {% endfor %}

    {% include 'ODRAdminBundle:Default:fieldarea_footer.html.twig' with {'display_type': display_type } %}

</div><!-- End of #DataType_{{ datatype.id }} -->

{% endspaceless %}
