{% spaceless %}

<div class="pure-u-1">
    <textarea id="plugin_option_{{ rpo_id }}" name="plugin_options[{{ rpo_id }}]" style="display: none;">{{ current_filter_fields|join(',') }}</textarea>

    <div class="pure-u-1 ODRRenderPlugin_FilterGraph_header">
        This section allows you to modify which fields are displayed by default in the filter area.
        <br>
        Fields with a checkmark will show up by default, while fields without a checkmark only show up in "Advanced" mode TODO
    </div>

    <div class="pure-u-1 ODRRenderPlugin_FilterGraph_FilterFields_wrapper">
        {% include 'ODROpenRepositoryGraphBundle:Base:FilterGraph/filter_config_field_list.html.twig' with {
            'dt': stacked_dt_array,

            'current_filter_fields': current_filter_fields,
            'is_top_level': true,
        } %}
    </div>
</div>

<script>
    var FilterGraph_timeout = null;
    var FilterGraph_SaveTimeout = 500;

    $(function() {
        // Don't need to run this again as the other custom option override already has
        // resetRemodalInnerHeight(true);

        ODRRenderPlugin_FilterGraph_initForm();
    });

    /**
     * Attaches click handlers to this dialog's
     */
    function ODRRenderPlugin_FilterGraph_initForm() {
        $(".ODRRenderPlugin_FilterGraph_FilterFields_wrapper").find(".ODRTristateCheckbox").not(".binary").each(function(index,elem) {
            var children = $(elem).parent().find(".ODRTristateCheckbox.binary");

            var total_checkboxes = $(children).find(".fa").length;
            var num_checked = $(children).find(".fa.fa-check").length;

            if ( total_checkboxes === num_checked )
                $(elem).children(".fa").addClass("fa-check");
            else if ( num_checked > 0 )
                $(elem).children(".fa").addClass("fa-check partial");
        });

        $(".ODRRenderPlugin_FilterGraph_FilterFields_wrapper").find(".ODRTristateCheckbox").unbind('click').click(function() {
            var icon_div = $(this).children('.fa').first();

            if ( $(this).hasClass('binary') ) {
                // This is a datafield checkbox
                if ( $(icon_div).hasClass('fa-check') ) {
                    // Datafield currently selected, mark as unselected
                    $(icon_div).removeClass('fa-check');
                }
                else {
                    // Datafield currently unselected, mark as selected
                    $(icon_div).addClass('fa-check');
                }
            }
            else {
                // This is a datatype checkbox
                if ( $(icon_div).hasClass('fa-check') ) {
                    if ( $(icon_div).hasClass('partial') ) {
                        // Currently has some descendants selected...select all descendants
                        $(this).parent().find('.ODRTristateCheckbox .fa').addClass('fa-check').removeClass('partial');
                    }
                    else {
                        // Currently has all descendants selected...deselect all descendants
                        $(this).parent().find('.ODRTristateCheckbox .fa').removeClass('fa-check partial');
                    }
                }
                else {
                    // Currently has no descendants selected...select all descendants
                    $(this).parent().find('.ODRTristateCheckbox .fa').addClass('fa-check').removeClass('partial');
                }
            }

            // Update classes for parent elements
            ODRRenderPlugin_FilterGraph_applyToParents( $(this) );
            // Update the value in the hidden textarea
            ODRRenderPlugin_FilterGraph_updateFilterValue();
        });
    }


    /**
     * Updates the state of the tri-state checkboxes going up the tree.
     *
     * @param {HTMLElement} source_element
     */
    function ODRRenderPlugin_FilterGraph_applyToParents(source_element) {
        var parent_list_element = $(source_element).parent().parent().parent().not('form');
        if (parent_list_element.length == 0)
            return;

        var parent_checkbox_element = $(parent_list_element).children('.ODRTristateCheckbox').first();

        var selected_count = $(parent_list_element).children('ul').find('.fa-check').length;
        var total_count = $(parent_list_element).children('ul').find('.fa').length;

        if (selected_count == 0) {
            // No children selected, so this one should be unselected too
            $(parent_checkbox_element).children('i').removeClass('fa-check partial');
        }
        else if (selected_count == total_count) {
            // All children selected, so this one should be selected too
            $(parent_checkbox_element).children('i').addClass('fa-check').removeClass('partial');
        }
        else {
            // Some children selected, so this one should be partially selected
            $(parent_checkbox_element).children('i').addClass('fa-check partial');
        }

        ODRRenderPlugin_FilterGraph_applyToParents(parent_checkbox_element);
    }

    /**
     * Updates the hidden textarea with the current value of the block on the right side
     */
    function ODRRenderPlugin_FilterGraph_updateFilterValue() {
        var advanced_fields = [];

        $(".ODRRenderPlugin_FilterGraph_FilterField").each(function(index,elem) {
            if ( !$(elem).prev().hasClass('fa-check') )
                advanced_fields.push( $(elem).val() );
        });

        $("#plugin_option_{{ rpo_id }}").html( advanced_fields.join(',') );
    }
</script>
{% endspaceless %}
