{% spaceless %}

<style>
    .CheminEFMTable thead {
        color: white;
        font-weight: bold;
    }
    .CheminEFMTable tbody tr,
    .CheminEFMTable tbody .ODRFileDatafield,
    .CheminEFMTable tbody .ODRFileDatafield_file,
    .CheminEFMTable tbody td {
        background: rgba(222, 235, 246, 1.0);
    }
    .CheminEFMTable thead tr,
    .CheminEFMTable thead .ODRFileDatafield,
    .CheminEFMTable thead .ODRFileDatafield_file,
    .CheminEFMTable thead td {
        background: rgba(158, 195, 228, 1.0);
    }
    tr.CheminEFMSum .ODRFileDatafield,
    tr.CheminEFMSum .ODRFileDatafield_file,
    tr.CheminEFMSum td {
        background: rgba(190, 215, 237, 1.0);
    }
    .CheminEFMTable i {
        color: rgba(190,215,237,1.0);
    }
    tr.CheminEFMSum td i {
        color: rgba(158, 195, 228, 1.0);
    }
</style>

<div class="ODRThemeElement" style="margin-bottom: 0px;">
    <div class="ODRInnerBox">
        <table id="{{ chemin_efm_table }}" class="dataTable CheminEFMTable">
            <thead>
            <tr>
                <td>EFM Products{#&nbsp;&nbsp;<i class="Pointer fa fa-download fa-lg ODRDownloadAllFiles" title="Download all Files in this Datafield"></i>#}</td>
                <td>Images</td>
                <td colspan="2">DAT & Label Files</td>
            </tr>
            </thead>

            <tbody>
{% if file_data|length > 0 %}
    {% for key, files in file_data %}

        {% set is_sum_block = false %}
        {% if key matches '{SUM}' %}
            {% set is_sum_block = true %}
        {% endif %}

        <tr {% if is_sum_block %}class="CheminEFMSum"{% endif %}>
            <td>
                {{ key }}
            </td>
            <td>
                {% if files['efm_raw_tiff_file'] is defined %}
                    {% include 'ODROpenRepositoryGraphBundle:CheminEFM:chemin_efm_file.html.twig' with {'file': files['efm_raw_tiff_file'], 'display_name': 'raw'} %}
                {% endif %}
            </td>
            <td>
                {% if files['efm_dat_file'] is defined %}
                    {% include 'ODROpenRepositoryGraphBundle:CheminEFM:chemin_efm_file.html.twig' with {'file': files['efm_dat_file'], 'display_name': 'DAT'} %}
                {% endif %}
            </td>
            <td>
                {% if files['efm_lbl_file'] is defined %}
                    {% include 'ODROpenRepositoryGraphBundle:CheminEFM:chemin_efm_file.html.twig' with {'file': files['efm_lbl_file'], 'display_name': 'LBL'} %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}
        </tbody>
        </table>
    </div>
</div>
{% endspaceless %}
