<h1 class="grid_12 no-margin-top-phone">
    <span>Data Types</span>
</h1>
{# include 'ODRAdminBundle:Datatype:type_list.html.twig' with {'is_admin': is_admin, 'datatypes': datatypes, 'section' : section, 'metadata': metadata } #}
{% autoescape false %}
<div id="add_datatype_dialog_wrapper">
    {# include 'ODRAdminBundle:Datatype:add_type_dialog.html.twig' with {'form': form} #}
{# outputs $5,500.00 #}
{# pluginfilter #}
{{ user|plug(the_extension, the_filter, 2)|raw }}
</div>
{% endautoescape %}

<script>
    $(function() {
        // $(".MenuDesignArea").remove();
    });
</script>

