
.ODRMenuWrapper {
    /* margin-bottom: 1em; */
    -webkit-font-smoothing: antialiased;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.ODRMenuWrapper,
.ODRMenuWrapper ul {
    background-color: #ffd390;
}

.ODRMenuWrapper.open {
    height: auto;
    overflow-y: visible !important;
}

.odr-custom-menu-3 {
    text-align: right;
}

.odr-custom-toggle {
    margin-top: 4px;
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.odr-custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.odr-custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.odr-custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.odr-custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}





/* end from menu-responsive.css ******************/

/* ODR Pure Submenu */
#ODRMainMenu ul {
    /* position: relative; */
}


#ODRMainMenu ul ul.open {
    display: block;
    position: relative;
}

#ODRMainMenu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

#ODRMainMenu ul li.show > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
#ODRMainMenu ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/* Second, Third and more Tiers	*/
#ODRMainMenu ul ul ul li {
    position: relative;
    /* top:-60px;
    left:170px; */
}

/* Change this in order to change the Dropdown symbol */
#ODRMainMenu li > a:after { content:  ' +'; }
#ODRMainMenu li > a:only-child:after { content: ''; }

/* #ODRMainMenu li:hover ul {
    display: block;
} */

.odr-menu-center {
    text-align: center;
}

.ODR-pure-submenu {
    text-align: left;
    list-style-type: none;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.ODR-pure-submenu li {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

#ODRMainMenu div.pure-u-1:last-child .ODR-pure-submenu {
    position: absolute;
    left: -130px;
    min-width: 170px;
}

/* Display Dropdowns on Hover */
@media (min-width: 48em) {
    #ODRMainMenu ul li:hover > ul {
        display: inherit;
    }
}
/* Compress at Pure  < 768px */
@media (max-width: 47.999em) {

    .odr-custom-menu-3 {
        text-align: left;
    }

    .odr-custom-toggle {
        display: block;
    }

    #ODRMainMenu ul li:hover > ul {
        display: block;
    }

    .ODRMenuWrapper {
        height: 2.5em;
        overflow: hidden;
    }

    .odr-menu-center {
        text-align: left;
    }

    .pure-menu-horizontal.odr-hide-small {
        display: none;
    }

    .ODR-pure-submenu {
        display: none;
    }
    /*
    #ODRMainMenu ul li.show > ul {
        display: none;
    }
    /* DO NOT Display Dropdowns on Hover */
    /*
    #ODRMainMenu ul li:hover > ul {
        display: none;
    }

    #ODRMainMenu ul li .show > ul {
        display: block;
    } */
}

