
.ODRMenuWrapper {
    /* margin-bottom: 1em; */
    -webkit-font-smoothing: antialiased;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    z-index: 10000000;
}

.ODRMenuWrapper,
.ODRMenuWrapper ul {
    background-color: #ffd390;
}

.ODRMenuWrapper.open {
    height: auto;
    overflow-y: visible !important;
}

.odr-custom-menu-3 {
    text-align: right;
}

.odr-custom-toggle {
    margin-top: 6px;
    padding-left: 4px;
    position: relative;
    cursor: pointer;
    display: none;
    vertical-align: middle;
}

.odr-custom-toggle i {
    /* padding-right: 4px; */
}

/* end from menu-responsive.css ******************/

/* ODR Pure Submenu */
#ODRMainMenu ul {
    /* position: relative; */
}


#ODRMainMenu ul ul.open {
    display: block;
    position: relative;
}

/* #ODRMainMenu ul ul { */
.ODR-pure-submenu {
    /* display: none; */
    width:225px;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
    overflow: hidden;
}

#ODRMainMenu ul li.show {
    position: relative;
}

#ODRMainMenu ul li.show > ul.ODR-pure-submenu {
    /* display:inherit; */
    display: block;
    width:225px;
    opacity: 1;
    height: auto;
    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
    overflow: visible;
}

#ODRMainMenu ul ul li.show > ul.ODR-pure-submenu {
    /* display:inherit; */
    display: block;
    float: left;
    position: absolute;
    top: 0px;
    left: 225px;
    opacity: 1;
    height: auto;
    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
}

/* Fisrt Tier Dropdown */
/*
#ODRMainMenu ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}
*/

/* Second, Third and more Tiers	*/
/*
#ODRMainMenu ul ul ul li {
    position: relative;
}
*/

/* Change this in order to change the Dropdown symbol */
/*
#ODRMainMenu li > span:after { content:  ' +'; }
#ODRMainMenu li > span:only-child:after { content: ''; }
*/

#ODRMainMenu .pure-menu-heading {
    cursor: pointer;
}

.odr-menu-center {
    text-align: center;
}

.ODR-pure-submenu {
    text-align: left;
    list-style-type: none;
}

#ODRMainMenu div.pure-u-1:last-child .ODR-pure-submenu {
    position: absolute;
    left: -130px;
    min-width: 225px;
}

/* Display Dropdowns on Hover */
@media (min-width: 48em) {
}

/* Compress at Pure  < 768px */
@media (max-width: 47.999em) {

    .odr-custom-toggle {
        display: block;
    }

    .ODRMenuWrapper {
        height: 42px;
        overflow: hidden;
    }

    .ODRMenuWrapper li {
        width: 100%;
    }

    .ODR-pure-submenu {
        position: relative;
        display: block;
        height: 0px;
        width: 100%;
        top: 0px;
        left: 0px;
        text-align: left;
        list-style-type: none;
    }

    .ODR-pure-submenu .show {
        display: block;
        height: auto;
    }

    #ODRMainMenu ul li.show > ul.ODR-pure-submenu {
        /* display:inherit; */
        display: block;
        opacity: 1;
        height: auto;
        transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
    }


    #ODRMainMenu ul ul li.show > ul.ODR-pure-submenu {
        /* display:inherit; */
        display: block;
        opacity: 1;
        height: auto;
        transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
    }

    .pure-menu-list {
        text-align: left;
    }

    #ODRMainMenu div.pure-u-1:last-child .ODR-pure-submenu {
        position: relative;
    }

}



