{% spaceless %}

<ul class="ODRTagGroupContainer"><li class="">
    <ul class="ODRTagGroup ODRTopLevelTagGroup">
        {% for tag_id, tag in stacked_tags %}
            {% include 'ODRAdminBundle:Tags:tag.html.twig' with {
                'datafield' : datafield,
                'tag': tag,

                'is_derived_field': is_derived_field,
            } %}
        {% endfor %}

        <li class="ODRTagItem ODRPlaceholderTag"></li>
    </ul>
</li></ul>

{% endspaceless %}
