{% apply spaceless %}

<ul class="ODRTagGroupContainer"><li class="">
    <ul class="ODRTagGroup ODRTopLevelTagGroup">
        {% for tag_id, tag in stacked_tags %}
            {% include '@ODRAdmin/Tags/tag.html.twig' with {
                'datafield' : datafield,
                'tag': tag,

                'disable_controls': disable_controls,
            } %}
        {% endfor %}
    </ul>
</li></ul>

{% endapply %}
