{% spaceless %}

<div class="ODRTagImport_wrapper">
    <div class="ODRTagImport_header">
        {% if would_create_new_tag %}
        <span class=""><i class="fa fa-check-circle"></i><span>No Errors Found</span></span>
        <button id="ODRTagImportList_button" class="pure-button pure-button-primary">Import Tag List</button>
        {% else %}
        <span class=""><i class="fa fa-info-circle"></i><span>No New Tags</span></span>
        {% endif %}
    </div>
    <div class="ODRTagImport_content">
        {% include 'ODRAdminBundle:Displaytemplate:tag_wrapper.html.twig' with {
            'stacked_tags': stacked_tags,
        } %}
    </div>
</div>

{% if would_create_new_tag %}
<script>
    $(function() {
        $("#ODRTagImportList_button").unbind('click').click(function() {
            var datafield_id = '{{ datafield_id }}';
            var token = '{{ token }}';

            var url = '{{ path('odr_import_tag_list', {'datafield_id': 0, 'token': ''}) }}';
            url = url.substring(0,(url.length - 2));
            url += datafield_id + '/' + token;

            // alert(url);
            // return;

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data) {
                    // Going to need to reload both the modal and the datafield afterwards
                    ReloadDatafield(datafield_id);
                    loadTagEditDialogContents(datafield_id);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                    $("#ODRTagEdit_close").trigger('click');
                },
                complete: function(jqXHR) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {

                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });
    });
</script>
{% endif %}

{% endspaceless %}
