{% spaceless %}

<style>
    .CheminETRTable thead {
        color: white;
        font-weight: bold;
    }
    .CheminETRTable tbody tr,
    .CheminETRTable tbody .ODRFileDatafield,
    .CheminETRTable tbody .ODRFileDatafield_file,
    .CheminETRTable tbody td {
        background: rgba(222, 235, 246, 1.0);
    }
    .CheminETRTable thead tr,
    .CheminETRTable thead .ODRFileDatafield,
    .CheminETRTable thead .ODRFileDatafield_file,
    .CheminETRTable thead td {
        background: rgba(158, 195, 228, 1.0);
    }
    tr.CheminETRSum .ODRFileDatafield,
    tr.CheminETRSum .ODRFileDatafield_file,
    tr.CheminETRSum td {
        background: rgba(190, 215, 237, 1.0);
    }
    .CheminETRTable i {
        color: rgba(190,215,237,1.0);
    }
    tr.CheminETRSum td i {
        color: rgba(158, 195, 228, 1.0);
    }
</style>

<div class="ODRThemeElement" style="margin-bottom: 0px;">
    <div class="ODRInnerBox">
        <table id="{{ chemin_etr_table }}" class="dataTable CheminETRTable">
            <thead>
            <tr>
                <td>ETR Products{#&nbsp;&nbsp;<i class="Pointer fa fa-download fa-lg ODRDownloadAllFiles" title="Download all Files in this Datafield"></i>#}</td>
                <td>Images</td>
                <td colspan="2">DAT & Label Files</td>
            </tr>
            </thead>

            <tbody>
{% if file_data|length > 0 %}
    {% for key, files in file_data %}

        {% set is_sum_block = false %}
        {% if key matches '{SUM}' %}
            {% set is_sum_block = true %}
        {% endif %}

        <tr {% if is_sum_block %}class="CheminETRSum"{% endif %}>
            <td>
                {{ key }}
            </td>
            <td>
                {% if files['etr_raw_tiff_file'] is defined %}
                    {% include 'ODROpenRepositoryGraphBundle:Chemin:chemin_file.html.twig' with {'file': files['etr_raw_tiff_file'], 'display_name': 'raw'} %}
                {% endif %}
            </td>
            <td>
                {% if files['etr_dat_file'] is defined %}
                    {% include 'ODROpenRepositoryGraphBundle:Chemin:chemin_file.html.twig' with {'file': files['etr_dat_file'], 'display_name': 'DAT'} %}
                {% endif %}
            </td>
            <td>
                {% if files['etr_lbl_file'] is defined %}
                    {% include 'ODROpenRepositoryGraphBundle:Chemin:chemin_file.html.twig' with {'file': files['etr_lbl_file'], 'display_name': 'LBL'} %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}
        </tbody>
        </table>
    </div>
</div>
{% endspaceless %}
