{% spaceless %}

<div class="ODRThemeElement pure-u-1 pure-u-md-1 pure-u-xl-1">
    <div class="ODRInnerBox ODRThemeVisibleHiddenElement" style="padding:10px">
        {% if rpf_name == 'Space Group' %}
        This Space Group can't be derived into a Point Group and/or Crystal System.  Please notify the ODR Team so this can be fixed.
        {% else %}
        The {{ problem_fields }} can't be derived from the currently uploaded {{ rpf_name }}.
        {% if can_edit_relevant_datafield %}<br>Please fix the errors in the {{ rpf_name }}, then delete the current version before uploading a corrected version.{% endif %}
        {% endif %}
    </div>
</div>

{% endspaceless %}
