{% spaceless %}
{% set typename = datafield.getfieldtype.gettypename %}

<label id="saved" style="display: none; margin: 10px; float: right; font-size:1.25em;"><strong>SAVED</strong></label></br>

{% include 'ODRAdminBundle:Searchtemplate:theme_datafield_properties_form.html.twig' with {'theme_datafield': theme_datafield, 'theme_datafield_form': theme_datafield_form, 'datafield': datafield} %}

{#
<form class="ODRDatafieldPropertiesForm pure-form pure-form-aligned" {{ form_enctype(datafield_form) }} id="DatafieldPropertiesForm_{{ datafield.id }}">
</form>
#}

{% endspaceless %}
