
<div class="ODRFormWrap pure-u-1">

    {% import "ODRAdminBundle:Searchtemplate:search_area_childtype.html.twig" as mychildform %}
    {{ mychildform.input(normal_datatype_tree, search_datatype_tree, normal_theme, search_theme) }}

</div><!-- End of .ODRFormWrap -->

<script type="text/javascript">
    $(function() {
//        initForms();
    });
</script>
