{% spaceless %}

<div class="pure-u-1 PadRight"></div>

<div class="pure-u-1 clearfix">
    <div class="pure-u-1 {#pure-u-md-2-3 pure-u-xl-2-3#}" style="text-align: right">
        <button class="pure-button" onclick="returnToSearchResults();">Return to Search Results</button>
    </div>
</div>

<script>
    function returnToSearchResults() {
        // This should end up forcing an AJAX load by way of the hashchange event in navigation.html.twig...
        showSearchOverlay();    {# defined in Default::common_js.html.twig #}
        var url = '{{ path('odr_search_render', { 'search_theme_id': search_theme_id, 'search_key': search_key, 'offset': '1' } ) }}';
        UpdateURL(url);
    }
</script>

{% endspaceless %}
