
<div class="ODRFormWrap ODRDesign pure-u-1"> 

    {% import "ODRAdminBundle:MassEdit:massedit_childtype.html.twig" as mychildform %}
    {{ mychildform.input(datatype_tree, datafield_permissions) }}

</div><!-- End of .ODRFormWrap -->

