{% spaceless %}

<div class="ODRFormWrap ODRDesign pure-u-1"> 

    {% include 'ODRAdminBundle:MassEdit:massedit_childtype.html.twig' with {
        'datatype_array': datatype_array,
        'target_datatype_id': initial_datatype_id,
        'theme_id': theme_id,

        'datatype_permissions': datatype_permissions,
        'datafield_permissions': datafield_permissions,

        'is_top_level': 1
    } %}

</div><!-- End of .ODRFormWrap -->

{% endspaceless %}