{% spaceless %}

<div class="ODRFormWrap ODRDesign ODRMassEdit pure-u-1">

    {% include 'ODRAdminBundle:MassEdit:massedit_childtype.html.twig' with {
        'datatype_array': datatype_array,
        'theme_array': theme_array,

        'target_datatype_id': initial_datatype_id,
        'target_theme_id': initial_theme_id,

        'is_datatype_admin': is_datatype_admin,
        'datatype_permissions': datatype_permissions,
        'datafield_permissions': datafield_permissions,

        'is_top_level': 1
    } %}

</div><!-- End of .ODRFormWrap -->

{% endspaceless %}