odr_search_box:
    path:  /edit/search_box/{target_datatype_id}
    defaults: { _controller: ODROpenRepositorySearchBundle:Default:searchbox }
    requirements:
        target_datatype_id: \d+

odr_search_results:
    path: /search/results/{search_key}
    defaults: { _controller:ODROpenRepositorySearchBundle:Default:search }
    requirements:
        search_key: '[^\/]*'

odr_search_render:
    path: /search/render/{search_key}/{offset}/{source}
    defaults: { _controller: ODROpenRepositorySearchBundle:Default:render, offset: 1, source: 'searching' }
    requirements:
        search_key: '[^\/]*'
        offset: \d+
        source: searching|linking

odr_search_immediate:
    path:  /{search_slug}/{search_string}
    defaults: { _controller: ODROpenRepositorySearchBundle:Default:searchpage }
    requirements:
        search_slug: '[a-zA-Z0-9_\-]{0,32}'

odr_search:
    path:  /{search_slug}
    defaults: { _controller: ODROpenRepositorySearchBundle:Default:searchpage, search_slug: '', search_string: '' }
    requirements:
        search_slug: '[a-zA-Z0-9_\-]{0,32}'

