ODR\AdminBundle\Entity\DataFieldsMeta:
    type: entity
    table: odr_data_fields_meta
    gedmo:
        soft_deleteable:
            field_name: deletedAt
    fields:
        id:
            id: true
            type: integer
            unsigned: false
            nullable: false
            generator:
                strategy: IDENTITY

        fieldName:
            type: string
            length: 64
            fixed: false
            nullable: false
            column: field_name

        description:
            type: text
            nullable: true

        xml_fieldName:
            type: string
            length: 64
            fixed: false
            nullable: false
            column: xml_field_name

        internal_reference_name:
            type: string
            length: 64
            fixed: false
            nullable: true
            column: internal_reference_name


        # This column tracks the latest revision of
        # the data field (when field is a master field).
        master_published_revision:
            type: integer
            unsigned: true
            nullable: false
            default: 0

        # A master template field will track
        # its latest revision here.  This may not
        # be the published revision until the
        # master template is published.
        master_revision:
            type: integer
            unsigned: true
            nullable: false
            default: 0
            column: master_revision

        # A field created from a master template
        # field will log the revision it is in compliance
        # with here.
        tracking_master_revision:
            type: integer
            unsigned: true
            nullable: false
            default: 0
            column: tracking_master_revision

        markdownText:
            type: text
            default: ''
            nullable: true

        regexValidator:
            type: string
            length: 255
            fixed: false
            nullable: true
            column: regex_validator

        phpValidator:
            type: text
            nullable: true
            column: php_validator

        required:
            type: boolean
            nullable: false

        is_unique:
            type: boolean
            nullable: false
            default: false
            column: is_unique

        force_numeric_sort:
            type: boolean
            nullable: false
            default: false
            column: force_numeric_sort

        # This only applies to boolean, integer, decimal, datetime, and varchar fields
        prevent_user_edits:
            type: boolean
            nullable: false
            default: false

        # These three apply to both files and images
        allow_multiple_uploads:
            type: boolean
            nullable: false
            default: false
            column: allow_multiple_uploads
        shorten_filename:
            type: boolean
            nullable: false
            default: true
            column: shorten_filename
        newFilesArePublic:
            type: boolean
            nullable: false
            default: false
            column: new_files_are_public

        # This one only applies to radio options
        children_per_row:
            type: integer
            nullable: false
            default: 1
            column: children_per_row

        # These two apply to both radio options and tags
        radio_option_name_sort:
            type: boolean
            nullable: false
            default: true
            column: radio_option_name_sort
        radio_option_display_unselected:
            type: boolean
            nullable: false
            default: false
            column: radio_option_display_unselected

        # These two only apply to tags
        tags_allow_multiple_levels:
            type: boolean
            nullable: false
            default: false
            column: tags_allow_multiple_levels
        tags_allow_non_admin_edit:
            type: boolean
            nullable: false
            default: false
            column: tags_allow_non_admin_edit

        searchable:
            type: integer
            unsigned: false
            default: 0
            nullable: false

        publicDate:
            type: datetime
            nullable: false
            column: public_date

        created:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updated:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        deletedAt:
            type: datetime
            nullable: true

    manyToOne:
        dataField:
            targetEntity: DataFields
            cascade: {  }
            mappedBy: null
            inversedBy: dataFieldMeta
            joinColumns:
                data_field_id:
                    referencedColumnName: id
            orphanRemoval: false

        fieldType:
            targetEntity: FieldType
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                field_type_id:
                    referencedColumnName: id
            orphanRemoval: false

        createdBy:
            targetEntity: ODR\OpenRepository\UserBundle\Entity\User
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                createdBy:
                    referencedColumnName: id
            orphanRemoval: false
        updatedBy:
            targetEntity: ODR\OpenRepository\UserBundle\Entity\User
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                updatedBy:
                    referencedColumnName: id
            orphanRemoval: false

    lifecycleCallbacks: {  }
