ODR\AdminBundle\Entity\File:
    type: entity
    table: odr_file
    gedmo:
        soft_deleteable:
            field_name: deletedAt
    fields:
        id:
            id: true
            type: integer
            unsigned: false
            nullable: false
            generator:
                strategy: IDENTITY

        ext:
            type: string
            length: 8
            fixed: false
            nullable: true
            column: ext
        localFileName:
            type: string
            length: 128
            fixed: false
            nullable: true
            column: local_file_name

        encrypt_key:
            type: string
            nullable: true
            length: 32
            fixed: false
            column: encrypt_key
        original_checksum:
            type: string
            nullable: true
            length: 32
            fixed: false
            column: checksum
        filesize:
            type: integer
            unsigned: true
            nullable: false

        provisioned:
            type: boolean
            nullable: false
            default: true

        created:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        deletedAt:
            type: datetime
            nullable: true

    oneToMany:
        fileChecksum:
            targetEntity: FileChecksum
            cascade: { }
            mappedBy: file
            inversedBy: null
            orphanRemoval: false

        fileMeta:
            targetEntity: FileMeta
            cascade: { }
            mappedBy: file
            inversedBy: null
            orphanRemoval: false

    manyToOne:
        fieldType:
            targetEntity: FieldType
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                field_type_id:
                    referencedColumnName: id
            orphanRemoval: false

        dataField:
            targetEntity: DataFields
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                data_field_id:
                    referencedColumnName: id
            orphanRemoval: false

        dataRecord:
            targetEntity: DataRecord
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                data_record_id:
                    referencedColumnName: id
            orphanRemoval: false

        dataRecordFields:
            targetEntity: DataRecordFields
            cascade: {  }
            mappedBy: null
            inversedBy: file
            joinColumns:
                data_record_fields_id:
                    referencedColumnName: id
            orphanRemoval: false

        createdBy:
            targetEntity: ODR\OpenRepository\UserBundle\Entity\User
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                createdBy:
                    referencedColumnName: id
            orphanRemoval: false
        deletedBy:
            targetEntity: ODR\OpenRepository\UserBundle\Entity\User
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                deletedBy:
                    referencedColumnName: id
            orphanRemoval: false

    lifecycleCallbacks:
        prePersist: [ preUpload ]
        postPersist: [ upload ]
        preUpdate: [ preUpload ]
        postUpdate: [ upload ]
        preRemove: [ storeFilenameForRemove ]
        postRemove: [ removeUpload ]
