{% spaceless %}

<!-- Link DataType Dialog -->

<script>
    var link_from_template_dialog_body = '<div id="ODRLinkFromTemplateFormWrapper" class="ODRHidden"> </div>';

    function openLinkFromTemplateDialog(local_datatype_id, theme_element_id) {
        // open dialog
        modal_options = {
            title: 'Add Database From Template',
            loading: true,
            body: link_from_template_dialog_body,
            buttons: [
                {
                    id: 'ODRLinkFromTemplateFormSubmit',
                    text: 'Add Database From Template',
                    // secondary: true,
                    disabled: true
                }
            ]
        };
        openODRRemodal(modal_options);

        loadLinkFromTemplateData(local_datatype_id, theme_element_id);
    }

    function loadLinkFromTemplateData(local_datatype_id, theme_element_id) {

        var url = '{{ path('odr_design_get_link_templates', {'datatype_id': 0, 'theme_element_id': 0 } ) }}';
        url = url.substring(0,(url.length - 3)) + local_datatype_id + "/" + theme_element_id;

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data) {
//                alert( data.d.html );
                $("#ODRLinkFromTemplateFormWrapper").html( data.d.html );

                // remove loading spinner
                $(".ODRRemodalLoading").fadeOut('150', function() {
                    $(".ODRRemodalBody").show();
                    $(".ODRRemodalButtons").show();
                    $("#ODRLinkFromTemplateFormWrapper").show();

                    // Resize ODRFileDownloadModal to take up full height
                    resetRemodalInnerHeight();

                    // Setup submit handler
                    $('#ODRLinkFromTemplateFormSubmit').unbind('click').click(function() {
                        submitLinkFromTemplateForm();
                    });
                });
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Close the dialog so it's not in some half-initialized state
                closeODRRemodal();
            },
            complete: function(jqXHR) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }


    function submitLinkFromTemplateForm() {

        var data = $('#ODRLinkFromTemplateForm').serialize();
        var url = $('#ODRLinkFromTemplateForm').attr('action');

        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            dataType: "json",
            success: function(data, textStatus, jqXHR) {
                // Reload ThemeElement

                console.log(data.d);

                /*
                var linked_datatype_id = data.d.linked_datatype_id;
                var theme_element_id = data.d.element_id;

                if (data.d.using_linked_type == 1) {  // there is now a linked datatype in this theme element
                    ReloadThemeElement(theme_element_id);   // need the entire linked type in there...this will also cause icons to be muted
                }
                else {
                    // Delete the removed linked datatype html
                    $("#DataType_" + linked_datatype_id).remove();

                    // Unmute the other icons
                    var icons = {"ODRAddDatafield": 1, "ODRAddChildtype": 1, "ODRDeleteThemeElement": 1, "ODRLinkFromTemplate": 1};
                    setThemeElementIcons(theme_element_id, icons);
                }
                */

                closeODRRemodal();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Don't need to do anything specific on an error
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }

</script>

{% endspaceless %}
