{% spaceless %}

{% set datatype = datatype_tree.datatype %}

<h1 class="no-margin-top-phone">
    <span>Search Result &raquo; {{ datatype.shortname }}</span>
</h1>

{% include 'ODRAdminBundle:Results:results_area.html.twig' with {'datatype_tree': datatype_tree, 'datarecord_tree': datarecord_tree, 'theme': theme, 'public_only': public_only} %}

<script>

$(function() {
    initPage();
    $(".MenuDesignArea").remove();
    window.scrollTo(0,0);
});

function initPage() {

    // Resize all elements dependent on window size
    $(window).unbind('resize');
    $(window).resize(function() {
        WindowResizeInterval = window.clearInterval(WindowResizeInterval);
        WindowResizeInterval = window.setInterval("onWindowResize()", 500);
    });

    // Resize everything prior to divs being hidden
    onWindowResize();

    // Set up image galleries
    setupImageGalleries();

    // Hide divs for accordion purposes
    setupAccordions();

    // Hide empty theme element divs
    $(".ODRThemeElement").each(function() {
        var has_children = false;
        $(this).find(".ODRFieldArea").each(function() {
            has_children = true;
        });

        $(this).find(".ODRDataField").each(function() {
            has_children = true;
        });

        if (!has_children)
            $(this).css( "display", "none" );
    });

}

</script>
{% endspaceless %}
