
<div class="ODRFormWrap ODRResults pure-u-1"> 

    {% import "ODRAdminBundle:Results:results_childtype.html.twig" as mychildform %}
    {{ mychildform.input(datatype_tree, datarecord_tree, theme, public_only) }}

</div><!-- End of .ODRFormWrap -->

<script type="text/javascript">
    $(function() {
//        initForms();
    });
</script>
