{% spaceless %}

<div class="accordion-content ODRJobList_wrapper" rel="{{ job_type }}">
    <table id="ODRJobList_{{ job_type }}" class="display">
        <thead>
            <tr>
                <th>Description</th>
                <th>Revision</th>
                <th>Progress</th>
                <th>Time Elapsed</th>
                <th>ETA</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $(function() {
        // Setup...
        var job_type = "{{ job_type }}";
        var ajax_url = "{{ path('odr_job_refresh',{'job_type': ''}) }}";
        ajax_url += job_type;

        var table = $("#ODRJobList_" + job_type).dataTable({
            "columns": [
                { "data": "description" },
                { "data": "revision" },
                {
                    "data": "progress",
                    "render": function(data, type, full, meta) {
                        return '<div class="ODRProgressBar" max_value="' + data.total + '" current_value="' + data.current + '"><div class="ODRProgressBarLabel"></div></div>';
                    }
                },
                { "data": "time_elapsed" },
                { "data": "eta" },
            ],

            "lengthChange": false,
            "info": false,
            "ordering": false,
            "searching": false,
            "paging": false,

            "language": {
                "emptyTable": "No Jobs found"
            },

            // https://datatables.net/manual/server-side
            "processing": true,   // only displays a little "processing..." blurb

            "ajax": {
                url: ajax_url,
                type: "GET",
                dataSrc: "d",
                complete: function() {
                    if (typeof doProgressBars == 'function')
                        doProgressBars();
                }
            }
        });

        // Don't want dataTables to make an alert() every time it encounters an error, but still want to make a note of it...
        $.fn.dataTable.ext.errMode = 'none';
        $("#ODRJobList_" + job_type).on('error.dt', function(e, settings, techNote, message) {
            console.log(message);
        });
    });
</script>

{% endspaceless %}
