{# src/ODR/AdminBundle/Resources/views/Datatype/list.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ODR Admin{% endblock %}

{% block navigation_top %}
<!-- Navigation -->
<nav><ul class="collapsible accordion">
{% include 'ODRAdminBundle::navigation.html.twig' %}
</ul></nav><!-- End of nav -->
{% endblock %}

{% block navigation_bottom %}
{% include 'ODRAdminBundle::navigation_bottom.html.twig' %}
{% endblock %}

{% block body %}
<div class="grid_12">
    <h1>Data Types</h1>
</div>
{% include 'ODRAdminBundle:Datatype:type_list.html.twig' with {'datatypes': datatypes} %}
<div id="add_datatype_dialog_wrapper">
    {% include 'ODRAdminBundle:Datatype:add_type_dialog.html.twig' with {'form': form} %}
</div>
{% endblock %}

