
<div class="ODRFormWrap ODRRecord pure-u-1"> 
{#
    {% import "ODRAdminBundle:Record:record_childtype.html.twig" as mychildform %}
    {{ mychildform.input(datatype_tree, datarecord_tree, theme, datatype_permissions, datafield_permissions) }}
#}
    {% include 'ODRAdminBundle:Record:record_childtype.html.twig' with {
        'datatype_array': datatype_array,
        'datarecord_array': datarecord_array,
        'theme_id': theme_id,

        'target_datatype_id': initial_datatype_id,
        'parent_datarecord_id': initial_datarecord_id,

        'datatype_permissions': datatype_permissions,
        'datafield_permissions': datafield_permissions,

        'is_top_level': 1,
        'is_link': 0,
        'display_type': 0
    } %}
</div><!-- End of .ODRFormWrap -->

