{% spaceless %}
{#
    <span class="fa-stack" style="margin-left: 10px;">
        <i class="fa fa-globe fa-stack-1x"></i>
        {% if not datafield.dataFieldMeta.publicDate|is_public %}
        <i class="fa fa-ban fa-stack-2x" title="Datafield {% if not datafield.dataFieldMeta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
        {% endif %}
    </span>
#}
    <span style="margin-left: 10px;">
        <i class="Cursor fa fa-lg fa-globe {% if datafield.dataFieldMeta.publicDate|is_public %}ODRActiveIcon{% endif %} ODRPublicDatafield" title="Datafield {% if not datafield.dataFieldMeta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
    </span>
{% endspaceless %}
