{% spaceless %}
<div class="ODRFormWrap ODRDesign pure-u-1">

    {% include 'ODRAdminBundle:ODRGroup:permissions_childtype.html.twig' with {
        'datatype_permissions': datatype_permissions,
        'datafield_permissions': datafield_permissions,

        'group': group,

        'datatype_array': datatype_array,
        'theme_array': theme_array,

        'target_datatype_id': initial_datatype_id,
        'target_theme_id': initial_theme_id,

        'is_top_level': 1,
        'prevent_all_changes': prevent_all_changes,
    } %}

</div><!-- End of .ODRFormWrap -->
{% endspaceless %}
