/*
 * Theme: Smart
 * Copyright 2016 - Open Data Repository
 * Author: Nate Stone
 *
 *

Color Palette:
body text: #666666;
label text : #000000;
page header: #1f8dd6
child header/h1: #6fa5c7
file_header: #7fb9d8;
 */


@font-face {
    font-family: "Lato-Bol";
    src: url("fonts/Lato-Bol.ttf") format("truetype");
}

@font-face {
    font-family: "Gothic";
    src: url("fonts/Gothic.TTF") format("truetype");
}

@font-face {
    font-family: "Lato-Reg";
    src: url("fonts/Lato-Reg.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Reglta";
    src: url("fonts/Lato-RegIta.ttf") format("truetype");
}

body {
    background: url("images/subtle_dots.png") repeat;
    /* background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed; */
    font-family: "Lato-Reg", sans-serif;
}

h3 {
    font-weight: normal;
}

/* Font Overrides */
.pure-g [class*="pure-u"] {
    font-family: "Lato-Reg", sans-serif;
}

/* Input Decorations */
input,
.pure-skin-odr .pure-form input,
.pure-skin-odr .pure-form input[readonly],
.pure-skin-odr .pure-form textarea,
.pure-skin-odr .pure-form textarea[readonly] {
    background-color: transparent;
    background-image: none;
    border: none;
}

/* Borders around top-level TEDs/Groups */
.ODRContentWrapper > .ODRThemeElement > .ODRInnerBox,
.MenuDesignArea > .ODRThemeElement > .ODRInnerBox,
.ODRShortResult > .ODRShortResults > .DataRecordShort > .Resizable,
.ODRShortResult > .ODRShortResults > .DataRecordShort > .Resizable,
.ODRDesign > .ODRDataType > .ODRFieldArea > .ODRThemeElement > .ODRInnerBox,
.ODRResults > .ODRDataType > .ODRFieldArea > .ODRThemeElement > .ODRInnerBox,
.ODRRecord > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement > .ODRInnerBox,
.ODRResults > .ODRDataType > .ODRGraphSpacer > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement > .ODRInnerBox,  /* rollup graph */
.ODRResults > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRGraphSpacer > .ODRThemeElement > .ODRInnerBox,  /* not-rollup graph */
.ODRResults > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement > .ODRInnerBox {
    border: 1px solid #7fb9d8;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding: 0px;
    border-radius: 4px;
    background-color: white;
}

.ODRContentWrapper > .ODRThemeElement,
.MenuDesignArea > .ODRThemeElement > .ODRInnerBox,
.ODRShortResult > .ODRShortResults > .DataRecordShort,
.ODRDesign > .ODRDataType > .ODRFieldArea > .ODRThemeElement,
.ODRResults > .ODRDataType > .ODRFieldArea > .ODRThemeElement,
.ODRRecord > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement,
.ODRResults > .ODRDataType > .ODRGraphSpacer > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement,  /* rollup graph */
.ODRResults > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRGraphSpacer > .ODRThemeElement,  /* not-rollup graph */
.ODRResults > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement {
    /* border: 1px solid #7fb9d8; */
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    background-color: white;
}

.ODRBodyContent {
    padding: 10px;
}

.ODRBodyContent p {
    padding: 0px;
    margin: 0px;
}

.ODRBodyContent h3 {
    padding: 0px;
    margin: 0px;
}

.ODRDataField {
    margin-bottom: 0px;
    padding-left: 0px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

h3.ODRHeader,
.ODRDataField h3 {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0.58em;
    padding-bottom: 0.58em;
    padding-left: 24px;
    font-size: 16px;
    color: white;
    width: 100%;
    background-color: #6fa5c7;
    font-weight: bold;
}

.ODRResults label {
    font-size: 0.8em;
    font-weight: normal;
    color: #6fa5c7;
    padding-left: 0.5em;
}
/* END Input Decorations */


/* Graph Plugin Decorations */
.ODRGraph {
    background-color: transparent;
    border: none;
}
/* END Graph Plugin Decorations */

.pure-skin-odr .pure-button {
    min-width: 10em;
    box-sizing: border-box;
    box-shadow: none;
    background: none;
    border: 2px solid #1c81d0;
    border-radius: 4px;
    background: white none;
    padding: 8px;
    color: #1c81d0;
    margin-right: 12px;
}

.pure-skin-odr .pure-button-primary {
    min-width: 10em;
    box-sizing: border-box;
    box-shadow: none;
    background: none;
    border: 2px solid #1c81d0;
    border-radius: 4px;
    background: #1c81d0 none;
    padding: 8px;
    color: white;
    margin-right: 12px;
}

/* Toolbar and Menu */


/* Hide elements in top bar at certain widths */
@media only screen {
    .ODR-show {
        display: none;
    }
}
@media only screen and (max-width: 35.5em) {
    .ODR-show-sm {
        display: none;
    }
}


.pure-skin-odr #ODRNav .pure-menu.pure-menu-open {
    height: auto;
}

#ODRMenuLabel {
    padding-left: 74px;
    padding-bottom: 0px;
    width: 300px;
    /* margin-top: ; */
    top: 100px;
    position: relative;
    left: 170px;
}


.pure-skin-odr .pure-menu.pure-menu-open,
#toolbar {
    background-image: none;
    background-color: #1c81d0;
    box-shadow: none;
    color: white;
    height: 42px;
}

/* END Toolbar and Menu */

h1 {
    padding-left: 4px;
}

h3.ui-accordion-header,
h3.ui-accordion-header a:active,
h3.ui-accordion-header a:visited,
h3.ui-accordion-header a:hover,
h3.ui-accordion-header a {
    background-image: none;
    background-color: #6fa5c7;
    box-shadow: none;
    color: white;
}


.ODRThemeElement {
    background-image: none;
    background-color: rgba(255,255,255,1.0);
    box-shadow: none;
    border-radius: 3px;
    /* margin-bottom: 20px; */
    margin-bottom: 6px;
}

.pure-skin-odr .pure-table,
.pure-skin-odr .pure-table td,
.pure-skin-odr .pure-table th,
.pure-skin-odr .pure-table thead,
.pure-table,
.pure-table td,
.pure-table th,
.pure-table thead,
.NotODRTable,
.NotODRTable th,
.NotODRTable tr,
.NotODRTable thead {
    background: none;
    background-color: transparent;
    border: none;
    color: rgb(85,85,85);
}

.NotODRTable {
    margin-bottom: 4px;
}

/* File list tables */
.NotODRTable tbody {
    background: #b8e8fa;
    padding: 4px 8px 4px 8px;
}

.pure-skin-odr .pure-table thead,
.pure-skin-odr .pure-table th,
.NotODRTable thead {
    color: white;
    background: #7fb9d8;
    padding: 4px 8px 4px 8px;
}
.pure-skin-odr .pure-table td i {
    color: #1c81d0;
}

/* END File list tables */

/* Tab Header */
.ODRTabButtonHeader {
    padding: 4px;
}

.pure-skin-odr .ODRExportButtons .pure-button:hover {
    box-shadow: none;
    background: #B8E8FA none;
    /* border: 2px solid #70A6C8; */
    border-radius: 4px;
    padding: 8px;
    margin-right: 12px;
}
.pure-skin-odr .ODRTabButtonHeader .pure-button:hover {
    box-shadow: none;
    background: none;
    border: 2px solid #b8e8fa;
    border-radius: 4px;
    padding: 8px;
    color: #b8e8fa;
    margin-right: 12px;
}

.pure-skin-odr .ODRExportButtons .pure-button,
.pure-skin-odr .ODRTabButtonHeader .pure-button {
    box-shadow: none;
    background: white none;
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px;
    color: #000;
    margin-right: 12px;
}

.pure-skin-odr .ODRExportButtons .pure-button-active,
.pure-skin-odr .ODRTabButtonHeader .pure-button-active {
    box-shadow: none;
    background: white none;
    border: 2px solid #1c81d0;
    border-radius: 4px;
    padding: 8px;
    color: #1c81d0;
    margin-right: 12px;
}
/* END Tab Header */




.ODREditLink {
    padding-top: 8px;
    padding-right: 16px;
}

.ShortResults_offset,
.header {  
    background: transparent none;
}

footer {
    color: white;
    background: #1C81D0 none;
    height: 48px;
}

footer ul {
    height: 48px;
}

footer .ODRLogoImage img {
    height: 38px;
    padding: 5px 6px 5px 6px;
    background: white;
}

footer ul li:first-child {
    background: white;
}


/* Search Form */
#search_form input[type=text] {
    background: white none;
    box-shadow: none;
}

.ODRAdvSearch_header {
    background: #b8e8fa;
    color: #1c81d0;
}

.ODRAdvSearch_datafield {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* ===============  forms.css =================================*/
.pure-skin-odr .pure-form button {
    margin-right: 0.4em;
    margin-left: 0px;
    margin-bottom: 0px;
}
.ODRFormHeader {
    margin-left: 0px;
    margin-right: 0px;
}

.pure-skin-odr .pure-form .ODRRecord label {
    padding-left: 0.6em;
}

.pure-skin-odr .pure-form textarea,
.pure-skin-odr .pure-form .ODRRecord input[type="text"],
.pure-skin-odr .pure-form .ODRRecord input[type="password"],
.pure-skin-odr .pure-form .ODRRecord input[type="email"],
.pure-skin-odr .pure-form .ODRRecord input[type="url"],
.pure-skin-odr .pure-form .ODRRecord input[type="date"],
.pure-skin-odr .pure-form .ODRRecord input[type="month"],
.pure-skin-odr .pure-form .ODRRecord input[type="time"],
.pure-skin-odr .pure-form .ODRRecord input[type="datetime"],
.pure-skin-odr .pure-form .ODRRecord input[type="datetime-local"],
.pure-skin-odr .pure-form .ODRRecord input[type="week"],
.pure-skin-odr .pure-form .ODRRecord input[type="number"],
.pure-skin-odr .pure-form .ODRRecord input[type="search"],
.pure-skin-odr .pure-form .ODRRecord input[type="tel"],
.pure-skin-odr .pure-form .ODRRecord input[type="color"],
.pure-skin-odr .pure-form .ODRRecord textarea {
    padding: 2px 2px 4px 4px;
    display: inline-block;
    font-size: 0.8em;
    box-shadow: none;
    border: 1px solid rgba(184,232,250, 0.7);
    border-radius: 2px;
    background: #ECF7FB none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/* .pure-skin-odr .pure-form .ODRRecord select { */
.pure-skin-odr .pure-form select {
    position: relative;
    top: -2px;
    height: 24px;
    font-size: 0.8em;
    box-shadow: none;
    border: 1px solid rgba(184,232,250, 0.7);
    margin: 0 0 0 0;
    border-radius: 4px;
    padding: 0 2px 0 4px;
    background: #ECF7FB none;
    color: #1c81d0;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/* Select element can't take :before pseudo element
.pure-skin-odr .pure-form select::before {
    content: "\f0d7";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-family: "FontAwesome";
}
*/

.ODRTristateCheckbox {
    background: white none;
}
/* END Search Form */


.header {
    padding: 1em 0 0 0;
    color: white;
}

.ODRCenterText {
    text-align: center;
} 

.ODRTableStretch {
    width: 100%;
}

.dataTables_filter {
    margin-bottom: 8px;
    line-height: 1.8em;
}

/* jQuery(window).unbind('.FixedHeader'); */
.ODRTableOuterWrap,
#ODRDataTypeListWrapper,
#ODRRenderPluginListWrapper {
    margin-top: 1.2em;
    margin-bottom: 2.2em;
    padding: 12px;
    background: white none;
    border-radius: 4px;
    box-sizing: border-box;
}

#ODRDatatypeList th {
    text-align: left !important;
}

.ODRTableWrap,
#ODRDatatypeList_wrapper,
#ODRRenderPluginList_wrapper {
    box-sizing: border-box;
    padding: 8px;
    background: white none;
    border-radius: 4px;
    border: 1px solid #7fb9d8;
}

#ODRDatatypeList_filter input {
    margin-left: 0.4em;
    box-shadow: none;
}

#ODRDashboardGraphs .pure-u-1-5 > div {
    box-sizing: border-box;
    padding: 8px; 
    background: white none; 
}

#ODRDashboardGraphs .total {
    white-space: nowrap
}

.ODRExportButtons {
    margin-top: 2em;
    margin-bottom: 2em;
}

#ODRPageSelect {
    background: white none;
    padding: 10px;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: none;
}

#ODRPagePopup {
    background: white none;
    border: 1px solid #7fb9d8;
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
    border-radius: 4px;
}

.sf-toolbar-icon svg {
    width: auto;
}

.MenuDesignArea > .ODRThemeElement {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding: 8px;
    min-height: 350px;
}

.MenuDesignArea > .ODRThemeElement > .ODRInnerBox {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    min-height: 336px;
}

@media screen and ( max-height: 750px ) {
    .MenuDesignArea > .ODRThemeElement {
        height: 550px;
    }
    .MenuDesignArea > .ODRThemeElement > .ODRInnerBox {
        height: 536px;
        overflow: auto;
    }
}

.NavSlideOut,
.ODRDatatypeProperties {
    /* background: #7fb9d8 none; */
    padding-bottom: 0px;
    cursor: pointer;
}

#ODRMenuLabelRight {
   color: white;
   margin-left: -28px;
}

/* Main Menu ODR */
.ODRMenuWrapper,
.ODRMenuWrapper ul,
#ODRMainMenu {
    background-image: none;
    background-color: #1c81d0;
    box-shadow: none;
    color: white;
}

.ODR-pure-submenu {
    z-index: 100000;
}
.ODR-pure-submenu li {
    left: -40px;
}
.ODR-pure-submenu li span,
.ODR-pure-submenu li a {
    margin-left: 8px;
}

#ODRMainMenu .pure-menu-heading,
#ODRMainMenu .pure-menu-link {
    text-transform: none;
    color: white;
}
#ODRMainMenu .pure-menu-item {
    padding-left: 0px;
}

#ODRMainMenu .pure-menu-heading:hover,
#ODRMainMenu .pure-menu-item:hover,
#ODRMainMenu .pure-menu-link:hover,
#ODRMainMenu .pure-menu-link:focus {
    background-color: transparent;
}

/* Fancy CSS to make hover bars */
/*
@media (min-width: 48em) {
    .ODRMenuWrapper,
    .ODRMenuWrapper ul,
    #ODRMainMenu {
        height: 42px;
    }

    .pure-menu-list {
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .pure-menu-list * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    .pure-menu-list li {
        display: inline-block;
        list-style: outside none none;
    }

    .pure-menu-list span,
    .pure-menu-list a {
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        text-decoration: none;
    }
    .pure-menu-list span:before,
    .pure-menu-list span:after,
    .pure-menu-list a:before,
    .pure-menu-list a:after {
        height: 2px;
        position: absolute;
        content: '';
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        background-color: #ffffff;
        width: 0;
    }
    .pure-menu-list span:before,
    .pure-menu-list a:before {
        top: 5px;
        left: 0;
    }
    .pure-menu-list span:after,
    .pure-menu-list a:after {
        bottom: 5px;
        right: 0;
    }
    .pure-menu-list span:hover,
    .pure-menu-list .current span,
    .pure-menu-list a:hover,
    .pure-menu-list .current a {
        color: rgba(255, 255, 255, 1.0);
    }
    .pure-menu-list span:hover:before,
    .pure-menu-list .current span:before,
    .pure-menu-list span:hover:after,
    .pure-menu-list .current span:after,
    .pure-menu-list a:hover:before,
    .pure-menu-list .current a:before,
    .pure-menu-list a:hover:after,
    .pure-menu-list .current a:after {
        width: 100%;
    }

    .odr-no-effects a:after,
    .odr-no-effects a:before {
        -webkit-transition: none;
        transition: none;
        background-color: transparent;
    }
}
*/
/* End Hover Bar CSS */



/*  CSS3 Wizard
    https://codepen.io/alexperjescu/pen/Awvgj
 */
ul#wizardStatus{
    list-style:none;
    margin: 15px 0;
    padding:0;
    text-align:center;
}

ul#wizardStatus li{
    background-color:#d9d9ce;
    color:#3d4c4f;
    display:inline-block;
    margin:0;
    font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size:14px;
    line-height:30px;
    padding:0 25px 0 40px;
    position:relative
}

ul#wizardStatus li:first-child{
    padding-left:25px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px
}

ul#wizardStatus li:last-child{
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px
}

ul#wizardStatus li:after,
ul#wizardStatus li:before {
    background-color:#d9d9ce;
    content:"";
    display:block;
    position:absolute
}

ul#wizardStatus li:after{
    -webkit-border-radius:3px;
    border-radius:3px;
    border-right:3px solid white;
    border-top:3px solid white;
    height:21px;
    right:-15px;
    top:3px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    width:21px;
    z-index:5
}

ul#wizardStatus li:before{
    height:30px;
    right:3px;
    width:20px;
    z-index:6
}

ul#wizardStatus li:last-child:after,
ul#wizardStatus li:last-child:before{
    display:none
}

ul#wizardStatus li.current,
ul#wizardStatus li.current a {
    background-color:#0597c5;
    color:#fff;
}

ul#wizardStatus li.current:after,
ul#wizardStatus li.current:before {
    background-color:#0597c5
}

ul#wizardStatus li.completed{
    background-color:#ccc;
    color:#fff;
}

ul#wizardStatus li.completed:after,
ul#wizardStatus li.completed:before{
    background-color:#ccc
}

@media only screen and (max-width : 1024px) {
    .wizardStatusText {
        display: none;
    }
    ul#wizardStatus li {
        padding: 0 25px 0 25px;
    }
}

.ODRWizardLink {
    padding-top: 12px;
    padding-bottom: 12px;
}

/*
    End Wizard System
 */

.pure-skin-odr .ODRThemeForm fieldset {
    margin-left: 6px;
}
.ODRThemeForm h3 {
    font-size: 14px;
}

.ODRThemeForm label {
    text-align: left;
}

.ODRThemeDesignSettings div {
    margin: 6px 6px 6px 6px;
}
.ODRThemeDesignSettings p {
    padding-left: 10px;
}

.ThemeDesignArea .ODRDataField {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#ThemeDesignForm {
    min-height: 200px;
    margin-bottom: 8px;
}

#ThemeDesignForm form {
    margin-top: 6px;
    margin-left: 6px;
}

#ThemeDesignForm form label {
    display: block;
    text-align: left;
}

#ThemeDesignKey {
    line-height: normal;
}

#ThemeDesignWrapper {
    min-width: 1706px;
    overflow: hidden;
}

#ThemeLeftColumn {
    background: white;
    border-radius: 4px;
    width: 305px;
    height: 1200px;
    overflow-y: visible;
    float: left;
    /* z-index needed to prevent overlap for some reason */
    z-index: 99;
}

#ThemeLeftColumn > div.ODRThemeElement:first-of-type > .ODRInnerBox {
    min-height: 1100px;
    /* height: 100%; */
}

#ThemeDesignArea {
    width: 1366px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 8px;
    float: left;
}

/*
#ThemeDesignArea .ui-resizable-se {
    bottom: -4px;
    background-image: none;
    color: #888;
}
*/

#ThemeDesignArea #ODRDatatypeDesign,
#ThemeDesignArea #ODRDatatypeDesign h3:first-child {
    border-radius: 4px 4px 0 0;
}

#ThemeDesignArea #ODRDatatypeDesign {
    border: 1px solid rgba(0,0,255, 0.2);
}

#ODRThemeShowHidden {
    vertical-align: middle;
}

.ODRThemeHiddenElement {
    display: none;
}

h3.ODRThemeVisibleHiddenElement {
    box-shadow: inset 0 0 10px #0f0;
}
.ODRThemeVisibleHiddenElement {
    box-shadow: 0 0 4px 4px rgba(0,255,0,0.7);
}
.ODRDataField.ODRThemeVisibleHiddenElement {
    box-shadow: none;
}
.ODRDataField.ODRThemeVisibleHiddenElement form {
    margin: 4px;
    border-radius: 4px;
    /* box-shadow: inset 0 0 8px 8px rgba(255,0,0,0.3) */
    background: rgba(255,0,0,0.15);
    box-shadow: none;
}


.Pad10 {
    padding: 10px;
}



#loading {
    width: 280px;
    height: 177px;

    /* background: url('/img/elements/loading/bg.png'); */
    background: white;
    border: 2px solid #7fb9d8;
    border-radius: 8px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    color: #6fa5c7;

    position: fixed;
    z-index: 999;

    top: 50%;
    left: 50%;

    margin-top: -88.5px;
    margin-left: -140px;

    text-align: center;
}

#loading:after {
    display: block;

    height: 32px;
    width: 32px;

    position: absolute;
    left: 50%;
    top: 68px;

    margin-left: -16px;
    margin-top: -16px;

    /* background: url('/img/elements/loading/spinner.gif'); */

    content: ' ';
}

.ODRShortResultWrapper #pagination_header {
    margin-bottom: 10px;
}

.ODRShortResults {
    border: 2px solid #7fb9d8;
    border-radius: 6px;
    background: white;
    margin-bottom: 5px
}
.ODRShortResultsHeader {
    padding-top: 3px;
    padding-left: 10px;
    font-weight: 400;
}
.ODRShortResultsHeader_edit {
    float: right;
    margin-right: 20px;
}

.ODRShortResults .ODRFormWrap {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ODRShortResults .ODRFieldArea {
    margin-top: 0px;
}

.ODRShortResults .ODRThemeElement:first-of-type {
    margin-bottom: 0px;
}

.ODRMarkdownContent {
    min-height: 50px;
    cursor: default;
    padding: 5px;
}

.ODRMarkdownContent p {
    margin: 5px 10px;
}

/* jGrowl Styling */
.jGrowl {
    font-family: "Lato-Reg", sans-serif;
}
.jGrowl .ui-state-highlight {
    height: auto;
}

.jGrowl-notification {
    max-width: 400px;
    font-size: 12px;
    background: #b8e8fa none repeat scroll 0 0;
    color: #3b8bba;
    -webkit-box-shadow: 2px 1px 10px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    2px 1px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         2px 1px 10px 0px rgba(50, 50, 50, 0.3);
    border: 1px solid white;
    opacity: 1;
}
.jGrowl-closer {
    background-color: #6fa5c7;
    color: white;
    -webkit-box-shadow: 2px 1px 10px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    2px 1px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         2px 1px 10px 0px rgba(50, 50, 50, 0.3);
    border: 1px solid white;
    opacity: 1;
}

.jGrowl-notification > .jGrowl-close {
    font-size: 12px;
    margin-top: -8px;
    margin-right: -8px;
}
/* END jGrowl Styling */


.dataTable th {
    text-align: left !important;
}

.dataTable i.fa {
    padding-left: 10px;
    cursor: pointer;
}



/***

   Design improvements for displaytemplate interface.

 */
#ThemeDesignArea .ODRDataField label,
#ThemeDesignArea .ODRDataField {
    cursor: pointer;
    padding-bottom: 2px;
}
#ThemeDesignArea .ODRFieldSelected a,
#ThemeDesignArea .ODRFieldSelected {
    background: rgba(0,0,255,0.1);
}

.ODRThemeElement {
    position: relative;
}

.ODRSortHandle {
    cursor: move;
    color: rgba(125, 125, 255, 0.6);
    font-size: 24px;
    position: absolute;
    top: 12px;
    z-index: 200;
}

.ODRDragHandle {
    cursor: grab;
    cursor: -webkit-grab;
    color: rgba(125,125,255,0.6);
    font-size: 36px;
    position: absolute;
    top: 0;
    z-index: 200;
}

.ODRThemeElementHandle {
    cursor: grab;
    cursor: -webkit-grab;
    color: rgba(125,125,255,0.2);
    font-size: 18px;
    position: absolute;
    z-index: 200;
    top: -5px;
    right: 0px;
    transform: rotate(180deg);
}

.ODRFieldSelected > .ODRThemeElementHandle {
    color: rgba(125, 125, 255, 0.8);
    font-size: 24px;
    top: -11px;
    right: -3px;
}

#ThemeDesignArea .ui-resizeable-e {
    right: -10px;
}
#ThemeDesignArea .ui-resizeable-w {
    cursor: no-drop;
    left: -10px;
}


#ThemeDesignForm .ODRFieldWrapper {
    margin-left: 0;
}

#ThemeDesignArea h3.ui-accordion-header,
#ThemeDesignArea h3.ODRHeader {
    padding-left: 8px;
}

#ThemeDesignArea h3.ODRHeader i {
    z-index: 1;
}

#ThemeDesignArea .ODRDataField select {
    margin-left: 6px !important;
    width: 90%;
}


#ODRDatatypeToolsBlock a {
    cursor: pointer;
}

#ODRDatatypeToolsBlock i {
    min-width: 20px;
}

#ODRDatatypeToolsBlock .faded i,
#ODRDatatypeToolsBlock .faded {
    opacity: 20%;
    color: lightgrey;
}


/***

   End Design improvements for displaytemplate interface.

 */
