/*
 * Theme: Smart
 * Copyright 2016 - Open Data Repository
 * Author: Nate Stone
 *
 */

@font-face {
    font-family: "Lato-Bol";
    src: url("fonts/Lato-Bol.ttf") format("truetype");
}

@font-face {
    font-family: "Gothic";
    src: url("fonts/Gothic.TTF") format("truetype");
}

@font-face {
    font-family: "Lato-Reg";
    src: url("fonts/Lato-Reg.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Reglta";
    src: url("fonts/Lato-RegIta.ttf") format("truetype");
}

body {
    background: url("images/background.png") repeat-y;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    font-family: "Lato-Reg", sans-serif;
}

/* Font Overrides */
.pure-g [class*="pure-u"] {
    font-family: "Lato-Reg", sans-serif;
}

/* Input Decorations */
input,
.pure-skin-odr .pure-form input,
.pure-skin-odr .pure-form input[readonly],
.pure-skin-odr .pure-form textarea,
.pure-skin-odr .pure-form textarea[readonly] {
    background-color: transparent;
    background-image: none;
    border: none;
}

/* Borders around top-level TEDs/Groups */
.ODRShortResult > .ODRShortResults > .DataRecordShort > .Resizable,
.ODRShortResult > .ODRShortResults > .DataRecordShort > .Resizable,
.ODRDesign > .ODRDataType > .ODRFieldArea > .ODRThemeElement > .ODRInnerBox,
.ODRRecord > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement > .ODRInnerBox,
.ODRResults > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement > .ODRInnerBox {
    border: 1px solid #7fb9d8;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding: 0px;
    border-radius: 4px;
    background-color: white;
    /* padding: 0.3em;
    border: 2px solid rgba(185, 186, 246, 0.25);
    border-radius: 4px; */
    /* background-color: rgba(0,0,0,0.045); */
}
.ODRShortResult > .ODRShortResults > .DataRecordShort,
.ODRDesign > .ODRDataType > .ODRFieldArea > .ODRThemeElement,
.ODRRecord > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement,
.ODRResults > .ODRDataType > .ODRFormAccordion > .ODRFieldArea > .ODRThemeElement  {
    border: 1px solid #7fb9d8;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    padding: 12px;
    border-radius: 4px;
    background-color: white;
    /* padding-right: 0.4em;
    /* border: 1px solid rgba(185, 186, 246, 0.8); */
}

.ODRDataField {
    padding: 16px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

/* END Input Decorations */


/* Graph Plugin Decorations */
.ODRGraph {
    background-color: transparent;
    border: none;
}
/* END Graph Plugin Decorations */

.pure-skin-odr .pure-button {
    min-width: 10em;
    box-sizing: border-box;
    box-shadow: none;
    background: none;
    border: 2px solid #1c81d0;
    border-radius: 4px;
    background: white none;
    padding: 8px;
    color: #1c81d0;
    margin-right: 12px;
}

.pure-skin-odr .pure-button-primary {
    min-width: 10em;
    box-sizing: border-box;
    box-shadow: none;
    background: none;
    border: 2px solid #1c81d0;
    border-radius: 4px;
    background: #1c81d0 none;
    padding: 8px;
    color: white;
    margin-right: 12px;
}

/* Toolbar and Menu */


/* Hide elements in top bar at certain widths */
@media only screen {
    .ODR-show {
        display: none;
    }
}
@media only screen and (max-width: 35.5em) {
    .ODR-show-sm {
        display: none;
    }
}


.pure-skin-odr #ODRNav .pure-menu.pure-menu-open {
    height: auto;
}

#ODRMenuLabel {
    padding-left: 74px;
    padding-bottom: 0px;
    width: 300px;
    margin-top: ;
    top: 100px;
    position: relative;
    left: 170px;
}


}

.pure-skin-odr .pure-menu.pure-menu-open,
#toolbar {
    background-image: none;
    background-color: #1c81d0;
    box-shadow: none;
    color: white;
    height: 42px;
}

/* END Toolbar and Menu */

h1 {
    padding-left: 10px;
}

h3.ui-accordion-header,
h3.ui-accordion-header a:active,
h3.ui-accordion-header a:visited,
h3.ui-accordion-header a:hover,
h3.ui-accordion-header a {
    background-image: none;
    background-color: #7fb9d8;
    box-shadow: none;
    color: white;
}


.ODRThemeElement {
    background-image: none;
    background-color: rgba(255,255,255,1.0);
    box-shadow: none;
    border-radius: 3px;
    margin-bottom: 20px;
}

.pure-skin-odr .pure-table,
.pure-skin-odr .pure-table td,
.pure-skin-odr .pure-table th,
.pure-skin-odr .pure-table thead,
.pure-table,
.pure-table td,
.pure-table th,
.pure-table thead,
.NotODRTable,
.NotODRTable th,
.NotODRTable tr,
.NotODRTable thead {
    background: none;
    background-color: transparent;
    border: none;
    color: rgb(85,85,85);
}

/* File list tables */
.NotODRTable tbody {
    background: #b8e8fa;
    padding: 4px 8px 4px 8px;
}

.pure-skin-odr .pure-table thead,
.pure-skin-odr .pure-table th,
.NotODRTable thead {
    color: white;
    background: #7fb9d8;
    padding: 4px 8px 4px 8px;
}
.pure-skin-odr .pure-table td i {
    color: #1c81d0;
}

/* END File list tables */

/* Tab Header */
.ODRTabButtonHeader {
    padding: 12px;
}

.pure-skin-odr .ODRExportButtons .pure-button:hover {
    box-shadow: none;
    background: #B8E8FA none;
    /* border: 2px solid #70A6C8; */
    border-radius: 4px;
    padding: 8px;
    margin-right: 12px;
}
.pure-skin-odr .ODRTabButtonHeader .pure-button:hover {
    box-shadow: none;
    background: none;
    border: 2px solid #b8e8fa;
    border-radius: 4px;
    padding: 8px;
    color: #b8e8fa;
    margin-right: 12px;
}

.pure-skin-odr .ODRExportButtons .pure-button,
.pure-skin-odr .ODRTabButtonHeader .pure-button {
    box-shadow: none;
    background: white none;
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px;
    color: #000;
    margin-right: 12px;
}

.pure-skin-odr .ODRExportButtons .pure-button-active,
.pure-skin-odr .ODRTabButtonHeader .pure-button-active {
    box-shadow: none;
    background: white none;
    border: 2px solid #1c81d0;
    border-radius: 4px;
    padding: 8px;
    color: #1c81d0;
    margin-right: 12px;
}
/* END Tab Header */




.ODREditLink {
    padding-top: 8px;
    padding-right: 16px;
}

.ShortResults_offset,
.header {  
    background: transparent none;
}

footer {
    background: #1C81D0 none;
    height: 48px;
}

footer .ODRLogoImage img {
    height: 42px;
    background: white;
}

footer .pure-menu-item a {
    /* padding: 0px 12px 0px 12px; */
    line-height: 42px;
}

footer li a.ODRLogoImage {
    background: white;
    padding: 3px 8px 3px 8px;
}


/* Search Form */
#search_form input[type=text] {
    background: white none;
    box-shadow: none;
}

.ODRAdvSearch_header {
    background: #b8e8fa;
    color: #1c81d0;
}

.ODRAdvSearch_datafield {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* ===============  forms.css =================================*/
.pure-skin-odr .pure-form button {
    margin-right: 0.8em;
    margin-left: 0.8em;
    margin-bottom: 0.8em;
}
.ODRFormHeader {
    margin-left: 0px;
    margin-right: 0px;
}

.pure-skin-odr .pure-form .ODRRecord input[type="text"],
.pure-skin-odr .pure-form .ODRRecord input[type="password"],
.pure-skin-odr .pure-form .ODRRecord input[type="email"],
.pure-skin-odr .pure-form .ODRRecord input[type="url"],
.pure-skin-odr .pure-form .ODRRecord input[type="date"],
.pure-skin-odr .pure-form .ODRRecord input[type="month"],
.pure-skin-odr .pure-form .ODRRecord input[type="time"],
.pure-skin-odr .pure-form .ODRRecord input[type="datetime"],
.pure-skin-odr .pure-form .ODRRecord input[type="datetime-local"],
.pure-skin-odr .pure-form .ODRRecord input[type="week"],
.pure-skin-odr .pure-form .ODRRecord input[type="number"],
.pure-skin-odr .pure-form .ODRRecord input[type="search"],
.pure-skin-odr .pure-form .ODRRecord input[type="tel"],
.pure-skin-odr .pure-form .ODRRecord input[type="color"],
.pure-skin-odr .pure-form .ODRRecord select,
.pure-skin-odr .pure-form .ODRRecord textarea {
    padding: 0.2em 0.2em 0.4em 0.4em;
    display: inline-block;
    border: none;
    font-size: 0.8em;
    box-shadow: none;
    border: 1px solid rgba(184,232,250, 0.7); 
    border-radius: 2px;
    background: #ECF7FB none;
    margin-left: -0.8em;
    /* -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.pure-skin-odr .pure-form .ODRRecord select {
    height: 2.25em;
    background: #b8e8fa;
    color: #1c81d0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.4em 0.2em 0.4em 0.8em;
}

.pure-skin-odr .pure-form .ODRRecord select:before {
    font-family: "FontAwesome";
    content: "\f0d7";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

.pure-skin-odr .ODRResults .pure-form input[type="text"],
.pure-skin-odr .ODRResults .pure-form input[type="password"],
.pure-skin-odr .ODRResults .pure-form input[type="email"],
.pure-skin-odr .ODRResults .pure-form input[type="url"],
.pure-skin-odr .ODRResults .pure-form input[type="date"],
.pure-skin-odr .ODRResults .pure-form input[type="month"],
.pure-skin-odr .ODRResults .pure-form input[type="time"],
.pure-skin-odr .ODRResults .pure-form input[type="datetime"],
.pure-skin-odr .ODRResults .pure-form input[type="datetime-local"],
.pure-skin-odr .ODRResults .pure-form input[type="week"],
.pure-skin-odr .ODRResults .pure-form input[type="number"],
.pure-skin-odr .ODRResults .pure-form input[type="search"],
.pure-skin-odr .ODRResults .pure-form input[type="tel"],
.pure-skin-odr .ODRResults .pure-form input[type="color"],
.pure-skin-odr .ODRResults .pure-form select,
.pure-skin-odr .ODRResults .pure-form textarea {
    padding: 0.2em 0.2em 0.4em 0.4em;
    display: inline-block;
    border: none;
    font-size: 0.8em;
    box-shadow: none;
    border: 1px solid rgba(184,232,250, 0.7); 
    border-radius: 2px;
    background: #ECF7FB none;
    /* -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.pure-skin-odr .ODRResults .pure-form select {
    height: 2.25em;
    background: #b8e8fa;
    color: #1c81d0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.4em 0.2em 0.4em 0.8em;
}

.pure-skin-odr .ODRResults .pure-form select:before {
    font-family: "FontAwesome";
    content: "\f0d7";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

.ODRTristateCheckbox {
    background: white none;
}
/* END Search Form */


.header {
    padding: 1em 0 0 0;
    color: white;
}

.ODRCenterText {
    text-align: center;
} 

.ODRTableStretch {
    width: 100%;
}

.dataTables_filter {
    margin-bottom: 8px;
    line-height: 1.8em;
}

/* jQuery(window).unbind('.FixedHeader'); */
.ODRTableOuterWrap,
#ODRDataTypeListWrapper {
    margin-top: 1.2em;
    margin-bottom: 2.2em;
    padding: 12px;
    background: white none;
    border-radius: 4px;
    box-sizing: border-box;
}

.ODRTableWrap,
#ODRDatatypeList_wrapper {
    box-sizing: border-box;
    padding: 8px;
    background: white none;
    border-radius: 4px;
    border: 1px solid #7fb9d8;
}

#ODRDatatypeList_filter input {
    margin-left: 0.4em;
    box-shadow: none;
}

#ODRDashboardGraphs .pure-u-1-5 > div {
    box-sizing: border-box;
    padding: 8px; 
    background: white none; 
}

#ODRDashboardGraphs .total {
    white-space: nowrap
}

.ODRExportButtons {
    margin-top: 2em;
    margin-bottom: 2em;
}

#ODRPageSelect {
    background: white none;
    padding: 10px;
    border: 2px solid #white;
    border-radius: 4px;
    box-shadow: none;
}

#ODRPagePopup {
    background: white none;
    border: 1px solid #7fb9d8;
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
    border-radius: 4px;
}

.sf-toolbar-icon svg {
    width: auto;
}

.NavSlideOut,
.ODRDatatypeProperties {
    background: #7fb9d8 none;
}

/* Main Menu ODR */
.ODRMenuWrapper,
.ODRMenuWrapper ul,
#ODRMainMenu {
    background-image: none;
    background-color: #1c81d0;
    box-shadow: none;
    color: white;
    height: 42px;
}

.ODR-pure-submenu li {
    left: -40px;
}
.ODR-pure-submenu li span,
.ODR-pure-submenu li a {
    margin-left: 8px;
}

#ODRMainMenu .pure-menu-heading,
#ODRMainMenu .pure-menu-link {
    text-transform: none;
    color: white;
}
#ODRMainMenu .pure-menu-item {
    padding-left: 0px;
}

#ODRMainMenu .pure-menu-heading:hover,
#ODRMainMenu .pure-menu-item:hover,
#ODRMainMenu .pure-menu-link:hover,
#ODRMainMenu .pure-menu-link:focus {
    background-color: transparent;
}

/* Fancy CSS to make hover bars */
.pure-menu-list {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}
.pure-menu-list * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.pure-menu-list li {
    display: inline-block;
    list-style: outside none none;
    /* margin: 0.5em 1.5em; */
    /* padding: 0; */
}

.pure-menu-list span,
.pure-menu-list a {
    /* padding: 0.3em 0; */
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.pure-menu-list span:before,
.pure-menu-list span:after,
.pure-menu-list a:before,
.pure-menu-list a:after {
    height: 2px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #ffffff;
    width: 0;
}
.pure-menu-list span:before,
.pure-menu-list a:before {
    top: 5px;
    left: 0;
}
.pure-menu-list span:after,
.pure-menu-list a:after {
    bottom: 5px;
    right: 0;
}
.pure-menu-list span:hover,
.pure-menu-list .current span,
.pure-menu-list a:hover,
.pure-menu-list .current a {
    color: rgba(255, 255, 255, 1.0);
    /*  color: #ffffff; */
}
.pure-menu-list span:hover:before,
.pure-menu-list .current span:before,
.pure-menu-list span:hover:after,
.pure-menu-list .current span:after,
.pure-menu-list a:hover:before,
.pure-menu-list .current a:before,
.pure-menu-list a:hover:after,
.pure-menu-list .current a:after {
    width: 100%;
}

.odr-no-effects a:after,
.odr-no-effects a:before {
    -webkit-transition: none;
    transition: none;
    background-color: transparent;
}

/* End Hover Bar CSS */
