{#{% spaceless %}#}
<div>
    <div id="example_site_header">
        <h2>Example Site Header</h2>
        <hr>
    </div>
    <div id="example_side_pane">
        <div id="example_news">
            <h1>Step 1</h1>
            <div>Click <a onclick="loadODRRemoteSearchDialog('basic1');">here.</a></div>
            <h1>Step 2</h1>
            <div>Click <a onclick="loadODRRemoteSearchDialog('basic2');">here.</a></div>
            <h1>Step 3</h1>
            <div>Click <a onclick="loadODRRemoteSearchDialog('basic3');">here.</a></div>
        </div>
    </div>
    <div id="example_content">
        <h1>Step 1 Explanation</h1>
        <div>
            This example starts out with a very simple webpage layout...there's a navigation-type panel down the left side, and a couple blog/news-type posts down the right.  The goal is to demonstrate splicing the ODR Remote Search configuration into a website.
        </div>
        <div>
            Use the navigation panel on the left to advance to the second step.
        </div>
    </div>
</div>
{#{% endspaceless %}#}