{#{% spaceless %}#}
<div>
    <div id="example_site_header">
        <h2>Example Site Header</h2>
        <hr>
    </div>
    <div id="example_side_pane">
        <div id="example_search_control">
            <form>
                <label for="mineral_name">Mineral Name: </label>
                <input id="mineral_name" type="text" size="11" />
                <label for="uamm_id">UAMM ID: </label>
                <input id="uamm_id" type="text" size="11" />
                <br>
                <button id="uamm_search">Search UAMM Samples</button>
            </form>
        </div>

        <div id="example_news">
            <h1>Step 1</h1>
            <div>Click <a onclick="loadODRRemoteSearchDialog('basic1');">here.</a></div>
            <h1>Step 2</h1>
            <div>Click <a onclick="loadODRRemoteSearchDialog('basic2');">here.</a></div>
            <h1>Step 3</h1>
            <div>Click <a onclick="loadODRRemoteSearchDialog('basic3');">here.</a></div>
        </div>
    </div>
    <div id="example_content">
        <h1>Step 2 Explanation</h1>
        <div>
            The second step is to modify your site to have some form of search control on it...ODR can't help with the design process because it's impossible to provide a search control layout that works for every possible search request and website.
        </div>
        <div>
            In this case, we want to search the UA Mineral Museum database for samples based on user input of names and/or IDs.  The simplest design is a single text input per criteria, and a button to trigger the search...they don't work yet though, because the javascript hasn't been added.
        </div>
        <div>
            Use the navigation panel on the left to advance to the final step, where the search control is made to work.
        </div>

        <h1>Step 1 Explanation</h1>
        <div>
            This example starts out with a very simple webpage layout...there's a navigation-type panel down the left side, and a couple blog/news-type posts down the right.  The goal is to demonstrate splicing the ODR Remote Search configuration into a website.
        </div>
        <div>
            Use the navigation panel on the left to advance to the second step.
        </div>
    </div>
</div>
{#{% endspaceless %}#}