{#{% spaceless %}#}
<h2>Try me out!</h2>
<div id="example_side_pane">
    <select id="mineral_select" multiple size="5">
        <option value="1289" selected>Calcite</option>
        <option value="1399">Chalcopyrite</option>
        <option value="2026">Galena</option>
        <option value="2116">Gold</option>
        <option value="2239">Hematite</option>
        <option value="2965">Magnetite</option>
        <option value="3262">Muscovite</option>
        <option value="3741">Pyrite</option>
        <option value="3763">Quartz</option>
        <option value="4158">Sphalerite</option>
    </select>
    <br>
    <button id="uamm_search">Search UAMM samples</button>
</div>
<div id="example_content">
    <div>
        While odr_remote_search.js is provided for convenience, and uses pure javascript for
        portability, there's technically nothing stopping you from writing your own implementation.
    </div>
    <div>
        In this example, we have a dropdown element with mineral names, and we want to search for
        samples in the UA Mineral Museum.
    </div>
</div>

<script>
// This example is using jQuery instead of pure javascript because it's shorter
$(function() {
    $("#uamm_search").unbind('click').click(function() {
        // Don't create a search key if nothing is selected
        var mineral_name = $("#mineral_select option:selected").first().text();
        if (mineral_name === '')
            return;

        // By going through the remote_search "wizard", we can determine that the museum's
        //  datatype_id is 20, and the datafield_id of the "name" field is 126.

        // The search key is set to search on the Museum datatype, and to use the selected
        //  mineral from the dropdown for the value of the "Name" field (126)
        var search_key = '{"dt_id":"20","126":"' + mineral_name + '"}';
        // The search key needs to get converted into base64 with the correct substitutions...
        search_key = btoa(search_key).replaceAll('=', '').replaceAll('+', '-').replaceAll('/', '_');

        // ...so it can be used to create a URL to the mineral museum database.
        // The database itself is hosted at "https://odr.io/uamm"
        var new_url = 'https://odr.io/uamm#/search/display/0/' + search_key;
        window.open(new_url, '_blank');
    });
});
</script>
{#{% endspaceless %}#}