{% spaceless %}

<div class="ODRContentWrapper pure-u-1">
    <div class="ODRThemeElement pure-u-1">
        <div class="ODRInnerBox pure-u-1">
            <div class="ODRAccordionWrapper ODRFormAccordion">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
                    ODR Remote Search Setup
                </h3>

                <div class="ODRFieldArea accordion-content">
                    <div class="ODRBodyContent">
                        Welcome to the ODR Remote Search setup pages. This series of pages will help create a configuration that allows a non-ODR site to create a valid ODR search key, and then redirect the user to the relevant ODR search page.
                        <br>
                        Clicking on the <i class="fa fa-lg fa-question-circle"></i> icon in the upper-right of the page will highlight the most relevant parts of these pages.
                        <br><br>
                        The second step in this process is to select which datafields you're interested in.
                        <br>
                        If no datafields are displayed, then the database is likely unsuitable for remote searching.
                    </div>
                    {% if include_general_search %}
                        <div id="general_checkbox_div" style="margin-top:5px; margin-left:10px;">
                            <input id="general_checkbox" class="ODRRemoteSearch_select" rel="gen" type="checkbox" />
                            <label for="general_checkbox" style="font-size:100%;">
                                Search across all datafields in the database
                            </label>
                        </div>
                    {% endif %}
                    <div class="ODRHidden">
                        <form id="ODRRemoteSearch_form">
                            <input type="hidden" name="datatype_id" value="{{ datatype_id }}" />
                        </form>
                    </div>
                    <button class="pure-button pure-button-disabled ODRRemoteSearch_config">Show Resulting Configuration</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ODRContentWrapper pure-u-1">
    <div class="ODRFormWrap pure-u-1">
        {% include 'ODROpenRepositorySearchBundle:Remote:select_childtype.html.twig' with {
            'datatype_array': datatype_array,
            'theme_array': theme_array,

            'target_datatype_id': datatype_id,
            'target_theme_id': theme_id,

            'permitted_datafields': permitted_datafields,
        } %}
    </div>
</div>

<div class="ODRContentWrapper pure-u-1">
    <div class="ODRFormWrap pure-u-1">
        <button class="pure-button pure-button-disabled ODRRemoteSearch_config">Show Resulting Configuration</button>
    </div>
</div>

<div id="odrremotesearch_config_dialog_wrapper">
    {% include 'ODROpenRepositorySearchBundle:Remote:config_dialog.html.twig' %}
</div>

<script>
    $(function() {
        window.scrollTo(0,0);

        // $("#ODRDatatypeList").dataTable({
        $("table.ODRDatafieldList").dataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false
                },
                {
                    "targets": [1],
                    "orderable": false,
                    "searchable": false
                },
                // {
                //     "width": "30%",
                //     "targets": [6]
                // }
            ],
            "order": [[2, "asc"]],
            "autoWidth": true,
            "paging": false,
            "fixedHeader": {
                /* headerOffset: 42 */
            },
            "info": false,
            "language": {
                "emptyTable": "No Datafields found",
                "search": "Filter table:"
            }
        });
        $("table.ODRDatafieldList").removeAttr('style');

        $(".ODRDataType").each(function(index, elem) {
            if ( $(elem).find(".ODRDatafieldList").length == 0 ) {
                $(elem).remove();
            }
        });

        $(".ODRRemoteSearch_select").unbind('change').change(function() {
            // Enable the button when at least one datafield is selected
            var has_selections = false;
            $(".ODRRemoteSearch_select").each(function(index,elem) {
                if ( $(elem).is(':checked') )
                    has_selections = true;
            });

            if ( has_selections )
                $(".ODRRemoteSearch_config").removeClass('pure-button-disabled');
            else
                $(".ODRRemoteSearch_config").addClass('pure-button-disabled');

        });

        $(".ODRRemoteSearch_config").unbind('click').click(function() {
            // Don't want to open the dialog if nothing is selected
            var has_selections = false;
            $(".ODRRemoteSearch_select").each(function(index,elem) {
                if ( $(elem).is(':checked') )
                    has_selections = true;
            });

            if ( has_selections ) {
                {# defined in ODROpenRepositorySearchBundle:Remote:config_dialog.html.twig #}
                openODRRemoteSearchDialog();
            }
        });


        // Might as well make the help system available here to point out useful stuff
        $('#ODRHelpButton')
            .attr('data-step', '1')
            .attr('data-intro', 'Welcome to the ODR Help System.  This system will guide you through the features of this page.<br><br>For quicker navigation, use your left and right arrow keys to go through the tutorial.');
        $('.dataTables_filter').first()
            .attr('data-step', '2')
            .attr('data-intro', "As with the database table, the list of datafields can be filtered by typing into this field.");
        $('.ODRDatafieldList').first().find('tr').first()
            .attr('data-step', '3')
            .attr('data-intro', 'Additionally, the table can be sorted by clicking on the column headers, if necessary.');
        $('.ODRDatafieldList').first().find('.ODRRemoteSearch_select').first()
            .attr('data-step', '4')
            .attr('data-intro', "To include a datafield of interest in the configuration, select the checkbox in that row.");
        {% if include_general_search %}
        $('#general_checkbox_div')
            .attr('data-step', '5')
            .attr('data-intro', "To include the ability to search all datafields at the same time, select this checkbox.");
        {% endif %}
        $('.ODRRemoteSearch_config').first()
            .attr('data-step', '6')
            .attr('data-intro', 'After selecting the general search or at least one datafield, click this button to move on to the next stage of the process.');
    });
</script>
{% endspaceless %}
