<?php

// Configuration - match values from app/config/parameters.yml
define('REDIS_HOST', '127.0.0.1');
define('REDIS_PORT', 6379);
define('REDIS_PREFIX', 'odr_master.');
define('DEDUP_EXPIRATION', 60); // seconds
